/* 채권 투자 */
.contents.bonds-invest {
	/* 정렬 및 검색 조건 - super _contents.scss */
	.paging {
		.filter-bonds { padding-bottom: 14px;
			.sorting {
				.cr-box { float: left; }
				.item-form { clear: none; float: right;
					label { display: inline-block; margin: 0; font-size: 14px; color: $color-content; line-height: 37px; }
					input[type=text] { display: inline-block; margin: 0 3px; height: 37px; width: 185px; line-height: 35px; text-align: center; vertical-align: middle; }
				}
			}
			.results { margin-top: 12px; font-size: 14px; color: $color-content; text-align: right;
				&:before { content: ''; display: inline-block; margin: -4px 5px 0 0; vertical-align: middle; @include sprite($sprite-icon-check08); }
			}
		}
	}


	/// 채권 상품 목록
	.list-products {
		$product-width: 266px;
		position: relative; overflow: hidden; width: 100%;
		> li {
			display: block; float: left; margin: 40px 32px 0 0; width: $product-width;
			&:nth-child(4n+4),
			&.lb { margin-right: 0px; }
		}
	}



	/// 개인 투자 - 숫자 to 이미지
	em.convert {
		&.price {
			span { display: inline-block; margin-right: 1px; height: 20px; text-indent: -9999px; vertical-align: middle;
				&.price0 { @include sprite($sprite-private-price0-s); }
				&.price1 { @include sprite($sprite-private-price1-s); }
				&.price2 { @include sprite($sprite-private-price2-s); }
				&.price3 { @include sprite($sprite-private-price3-s); }
				&.price4 { @include sprite($sprite-private-price4-s); }
				&.price5 { @include sprite($sprite-private-price5-s); }
				&.price6 { @include sprite($sprite-private-price6-s); }
				&.price7 { @include sprite($sprite-private-price7-s); }
				&.price8 { @include sprite($sprite-private-price8-s); }
				&.price9 { @include sprite($sprite-private-price9-s); }
				&.price-percent { @include sprite($sprite-private-percent-s); }
			}
		}
	}


	/// 채권 투자 - 상품
	.product { display: block;
		$border-radius: 18px;
		$product-height: 417px;
		$thumb-height: 171px;
		
		display: block; position: relative; overflow: hidden; height: $product-height; color: $color-title; border: 1px solid #d4dae4; border-radius: $border-radius; background-color: #fff;

		> .options { overflow: hidden; position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: z("default")+1; border-radius: $border-radius 0 0 0;
			> em { position: absolute; position: absolute; top: 0; left: 0; text-indent: -9999px; }
			> .invest-type { display: none; }
			> .new { @include sprite($sprite-badge-new03); }
			> .user-in { top: 10px; left: auto; right: 16px; font-size: 12px; color: $color-content; text-indent: 0px; }
			> .favorate { top: 14px; right: 14px; left: auto; @include sprite($sprite-icon-favorate01-selected); }
		}

		/* 개인 채권 */
		> .trust-ratings { display: block; position: relative; z-index: z("default"); padding: 13px 0 0 0; height: $thumb-height - 13; width: 100%; border-bottom: 1px solid #e6e9ee; border-radius: $border-radius 0 0 0;
			> p { float: left; }
			.borrowing-purposes { margin-right: 6px; height: 84px; width: 104px;
				> .tooltip { left: 19px; }
			}
			.borrowing-count { padding-top: 28px;
				> .convert {
					> em { display: inline-block; height: 44px; text-indent: -9999px;
						&.bid0 { @include sprite($sprite-cnt-bid0-b); }
						&.bid1 { @include sprite($sprite-cnt-bid1-b); }
						&.bid2 { @include sprite($sprite-cnt-bid2-b); }
						&.bid3 { @include sprite($sprite-cnt-bid3-b); }
						&.bid4 { @include sprite($sprite-cnt-bid4-b); }
						&.bid5 { @include sprite($sprite-cnt-bid5-b); }
						&.bid6 { @include sprite($sprite-cnt-bid6-b); }
						&.bid7 { @include sprite($sprite-cnt-bid7-b); }
						&.bid8 { @include sprite($sprite-cnt-bid8-b); }
						&.bid9 { @include sprite($sprite-cnt-bid9-b); }
					}
				}
			}
			.credit-rating { padding-top: 28px;
				> .convert {
					> em { display: inline-block; height: 44px; text-indent: -9999px;
						&.overdue-a { @include sprite($sprite-bg-overdue02-b); }
						&.overdue-b { @include sprite($sprite-bg-overdue03-b); }
						&.overdue-c { @include sprite($sprite-bg-overdue04-b); }
						&.overdue-d { @include sprite($sprite-bg-overdue05-b); }
					}
				}
			}
			.tooltip { display: block; position: absolute; top: 18px; bottom: auto; z-index: z("tooltip"); padding: 0 8px; font-size: 12px; color: $color-content; text-align: center; line-height: 25px; white-space: nowrap; border: 1px solid #c3d0e1; border-radius: 5px; background-color: #fff;
				&:before { content: ''; display: block; position: absolute; top: auto; bottom: -$sprite-bg-arrow08-height; left: 50%; margin-left: -$sprite-bg-arrow08-width/2; @include sprite($sprite-bg-arrow08); }
			}

			.p-i { clear: both; padding: 11px 0 0 26px;
				> p { float: left; font-size: 1.750em; color: $color-title;
					> em { }
					> span { display: block; margin-top: 7px; font-size: 0.429em; color: $color-desc; vertical-align: baseline; }
				}

				> .price { }
				> .duration { padding: 0 10px; text-align: center;
					> em {
						&:before { content: '-'; display: inline-block; margin-right: 10px; vertical-align: middle; }
						&:after { content: '-'; display: inline-block; margin-left: 9px; vertical-align: middle; }
					}
				}
				> .interest { }
			}
		}

		/* 기업 채권 */
		> figure {
			> .thumb { display: block; position: relative; z-index: z("default") - 1; overflow: hidden; height: $thumb-height; width: 100%; border-bottom: 1px solid #e6e9ee; border-radius: $border-radius $border-radius 0px 0px;
				> img { display: none; position: absolute; left: 0; max-width: 100%; }
			}
		}

		/* 정보 */
		.info { 
			h2 { display: none; }
			.group { overflow: hidden; font-size: 14px; border-top: 1px solid #e6e9ee;
				&.basic { padding: 14px 0 14px 0; border-top: 0px; }
				&.status {
					li { padding: 12px 0 14px 14px; }
				}
				&.price { padding-top: 12px;
					.title { display: block; }
				}

				li { float: left; line-height: 18px; padding: 0 0 0 14px;
					&.date-sale { display: none; }
					&.dc, &.repayment-history { .title { display: none; } }
					&.dc { width: 82px; color: $color-menu1-hover; }
					&.repayment-history { border-left: 1px solid #e6e9ee; }
					&.expected { clear: both; margin-top: 13px;
						em { display: block; margin-top: 2px; font-size: 14px; }
						strong { color: $color-menu1-hover; }
						.btn-inline-box { display: none; }
					}
					&.price { 
						del, em { display: block; margin-top: 7px; font-size: 20px; line-height: 16px; text-decoration: none; }
							
						&.base { }
						&.sell { padding-left: 6px; }
						del { position: relative; overflow: hidden; padding-right: 10px; min-width: 108px;
							&:before { content: ''; display: block; position: absolute; top: 50%; right: 0; margin-top: -$sprite-bg-arrow18-height/2; @include sprite($sprite-bg-arrow18); }
						}
					}
				}
				.title { display: none; font-size: 12px; color: $color-desc; }
				.overdue { display: none; }
			}

			.auto-bidding { display: block; position: absolute; bottom: 15px; right: 14px; font-size: 12px; color: $color-desc; text-align: left; text-indent: -9999px;
				&:before { content: ''; display: block; position: absolute; @include sprite($sprite-icon-autobidding-s); }
			}
			.meto-bidding { display: block; position: absolute; bottom: 15px; right: 14px; font-size: 12px; color: $color-desc; text-align: left; text-indent: -9999px;
				&:before { content: ''; display: block; position: absolute; @include sprite($sprite-icon-metobidding-s); }
			}

			.guide-popup.expected-calc { display: none; }
		}


		&:hover > .hover { display: block; animation-duration: 0.3s; }
		> .hover {
			display: none; overflow: hidden; position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: z("hover"); height: 100%; width: 100%; text-align: center; border-radius: $border-radius;
			> button { display: block; position: absolute; top: 10px; right: 17px; z-index: z("default") + 1; font-size: 12px; color: $color-desc; vertical-align: middle; line-height: 18px; 
				&:before { content: ''; display: inline-block; margin-top: -2px; margin-right: 5px; vertical-align: middle; @include sprite($sprite-icon-favorate01); }
				&:hover { text-decoration: underline; }
				&.selected:before { @include sprite($sprite-icon-favorate01-selected); }
			}
			> span { font-size: 1.375em; font-weight: bold; color: #fff; line-height: $product-height; }

			&:before { content: ''; display: block; position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: -1; height: 100%; width: 100%; background: url(/assets/images/bg_product_highlights.png) left top repeat; }
		}



		///	 상품 상세 보기일 경우
		&.detail {
			$thumb-width: 528px;
			$thumb-height: 361px;
			$product-height: 621px;

			margin-top: 40px; height: auto;

			> .options { height: $thumb-height; width: $thumb-width;
				> em { }
				> .invest-type01 { @include sprite($sprite-badge-invest03-detail); }
				> .new { @include sprite($sprite-badge-new03-detail); }
				> .user-in { top: 15px; left: auto; right: 19px; font-size: 14px; color: $color-point2; text-indent: 0px; }
				> .favorate { top: 17px; right: 19px; left: auto; @include sprite($sprite-icon-favorate01-selected); }
			}

			.btn-submit { position: absolute; right: 0; bottom: 0; left: 0; width: 100%; border-radius: 0px; }

			> .trust-ratings { float: left; margin: 63px 0 0 100px; height: 180px; width: 428px; z-index: z("hover") + 1; border: 0px; border-radius: 0px;
				em.convert {
					&.price {
						span { display: inline-block; margin-right: 1px; height: 28px; text-indent: -9999px; vertical-align: middle;
							&.price0 { @include sprite($sprite-private-price0-b); }
							&.price1 { @include sprite($sprite-private-price1-b); }
							&.price2 { @include sprite($sprite-private-price2-b); }
							&.price3 { @include sprite($sprite-private-price3-b); }
							&.price4 { @include sprite($sprite-private-price4-b); }
							&.price5 { @include sprite($sprite-private-price5-b); }
							&.price6 { @include sprite($sprite-private-price6-b); }
							&.price7 { @include sprite($sprite-private-price7-b); }
							&.price8 { @include sprite($sprite-private-price8-b); }
							&.price9 { @include sprite($sprite-private-price9-b); }
							&.price-percent { @include sprite($sprite-private-percent-b); }
						}
					}
				}

				.tooltip { display: none; top: -11px; }
				.borrowing-purposes { position: relative; }
				.borrowing-count { position: relative;
					.tooltip { top: -11px; left: -20px; }
				}
				.credit-rating { position: relative;
					.tooltip { top: -11px; left: -17px; }
				}

				.p-i { clear: both; padding: 13px 0 0 26px;
					> p { float: left; font-size: 2.500em; color: $color-title;
						> em { }
						> span { display: block; margin-top: 9px; font-size: 0.350em; color: $color-title; vertical-align: baseline; }
					}
					> .price { }
					> .duration { padding: 0 10px; text-align: center;
						> em {
							&:before { content: '-'; display: inline-block; margin-right: 10px; vertical-align: middle; }
							&:after { content: '-'; display: inline-block; margin-left: 9px; vertical-align: middle; }
						}
					}
					> .interest { }
				}

			}

			> figure { height: $thumb-height;
				> .thumb { float: left; height: $thumb-height; width: $thumb-width; border-radius: $border-radius 0px 0px 0px;
					> img { max-height: 100%; max-width: none; }
				}
			}


			/* 정보 */
			.info { float: left; position: relative; height: $thumb-height - 1; width: 630px; border-bottom: 1px solid #d4dae4;
				h2 { display: block; padding-left: 30px; font-size: 1.125em; font-weight: normal; color: $color-title; line-height: 63px; }
				.group { padding: 0 0 0 10px; font-size: 1.125em; border-top: 1px solid #d4dae4;
					&.basic { padding-top: 12px; padding-bottom: 14px; }
					&.status {
						> li { padding: 17px 0 17px 20px; }
					}
					&.price { padding-top: 18px; }

					> li { line-height: 24px; padding: 0 0 0 20px;
						&.idx { width: 178px; }
						&.p-i { }
						&.date-sale { display: block; }
						&.dc { width: 178px; }
						&.repayment-history { border-left: 1px solid #d4dae4; }
						&.price { 
							del, em { font-size: 38px; }
								
							&.base { }
							&.sell { padding-left: 10px; }
							del { padding: 0; width: 246px;
								&:before { margin-top: -$sprite-bg-arrow18-b-height/2; @include sprite($sprite-bg-arrow18-b); }
							}
						}

						&.price {
							del, em { margin-top: 2px; font-size: 38px; }
						}
						&.expected { position: relative; margin-top: 7px;
							em { margin-top: 0px; font-size: 18px; }
							.btn-inline-box { display: inline-block; margin-top: -2px; vertical-align: middle; }
						}
					}
					.title { display: block; }
					.overdue { display: inline-block; color: $color-menu1-hover; }
					.minus { color: #006bf0 !important; }
				}

				.auto-bidding { bottom: 9px; right: 16px; text-indent: 0px;
					&:before { position: relative; margin: 0 auto 4px auto; @include sprite($sprite-icon-autobidding); }
				}
				.meto-bidding { bottom: 9px; right: 16px; text-indent: 0px;
					&:before { position: relative; margin: 0 auto 4px auto; @include sprite($sprite-icon-metobidding); }
				}

				/* 예상 수익 */
				.guide-popup.expected-calc { display: none; bottom: -30px; left: 200px;
					&:before { top: 25px; }
				}
			}

			> .buy-bonds { display: block; clear: both; position: relative; padding: 52px 0;
				.utils { position: absolute; top: 85px; left: 68%;
					.btn { display: inline-block; margin-right: 17px; font-size: 14px; color: $color-menu1; vertical-align: middle;
						&:before { content: ''; display: inline-block; margin-right: 7px; vertical-align: middle; }
						&.warning {
							&:before { @include sprite($sprite-icon-iks01); }
						}
					}
				}
			}

			> .hover { 
				display: block; overflow: hidden; position: absolute; top: 0; right: 630px; bottom: auto; left: auto; z-index: z("hover"); height: $thumb-height; width: $thumb-width; text-align: center; border-right: 1px solid #d4dae4; border-radius: 0px;
				> button { display: block; position: absolute; top: 17px; right: 10px; z-index: z("default") + 1; width: 30px; font-size: 14px; color: $color-desc; vertical-align: middle; line-height: 16px; 
					&:before { content: ''; display: block; margin: 0px auto 6px; @include sprite($sprite-icon-favorate01-detail); }
					&:hover { text-decoration: underline; }
					&.selected:before { @include sprite($sprite-icon-favorate01-detail-selected); }
				}
				> span { display: none; }
				&:before { content: none; }
			}
		}

	}

	/* 매수 유의사항 팝업 */
	.guide-popup.bonds-warning { display: none; top: 550px; right: 0; padding-right: 50px;
		&:before { left: 130px; }
	}


	/* 동일 채권 현황 */
	.same-bonds { margin-top: 66px; padding-bottom: 40px; border-bottom: 1px solid #e2e6ec;
		h1 { font-size: 1.063em; font-weight: normal; color: $color-title; line-height: 1.3em; }
		.results { margin-top: 16px; font-size: 14px; color: $color-content; text-align: left;
			&:before { content: ''; display: inline-block; margin: -4px 5px 0 0; vertical-align: middle; @include sprite($sprite-icon-check08); }
			em { color: $color-menu1-hover; }
		}
	}
}