/* 개인이 빌리기 */
.contents.borrowing-private {

	/* 소개 */
	.borrowing-intro { position: relative; margin-top: 42px; padding-top: 75px; height: 462px; background: url('/assets/images/bowwroing_private_visual01.png') 470px 64px no-repeat;;
		> .message { float: left;
			.title { margin-bottom: 39px; height: 150px; width: 378px; background: url('/assets/images/txt/borrowing_private_message01.png') left top no-repeat; }
		}

		p { font-size: 0.875em; color: $color-content; line-height: 22px;
			em { color: $color-menu1-hover; }
		}

		.list-description { float: right; width: 340px;
			> li { position: relative;
				.title01 { height: 30px; width: 109px; background: url('/assets/images/txt/borrowing_private_title01.png') left top no-repeat; }
				.title02 { height: 30px; width: 55px; background: url('/assets/images/txt/borrowing_private_title02.png') left top no-repeat; }
				.title03 { height: 30px; width: 146px; background: url('/assets/images/txt/borrowing_private_title03.png') left top no-repeat; }
				.title04 { height: 30px; width: 202px; background: url('/assets/images/txt/borrowing_private_title04.png') left top no-repeat; }
				p { margin-top: 12px; margin-bottom: 37px; }
				a { color: $color-content; text-decoration: underline; }
				.btn-benefit { display: inline-block; float: right; margin-top: 14px; font-size: 0.875em; }
			}
		}

		/// 원금 균등상환 팝업
		.epr-popup { display: none; position: absolute; top: 90px; right: 0; z-index: z("modaless"); padding: 56px 60px 46px 60px; width: 543px;
			&:before { right: 109px; }

			h1 { padding: 0; font-size: 0.875em; color: $color-title;
				&:before { content: none; }
			}
			> p { margin: 12px 0 0 0 !important; text-align: right; }
		}

	}




	/* 빌리기 신청 */
	.application {
		h1 { font-size: 1.375em; color: $color-title; line-height: 1.3em; }

		> .box { margin-top: 18px; padding: 70px 140px 55px 140px; border: 1px solid #d4dae4; background-color: #fff;

			.proceedings { overflow: visible; position: relative; margin: 0 auto; width: auto;
				&:before { content: ''; display: block; position: absolute; top: 68px; right: 100px; left: 50px; z-index: z("default")-1; height: 2px; background-color: #254694; }

				> li { display: block; position: relative; float: left; padding-left: 20px; vertical-align: top;
					&:before { content: ''; display: block; position: relative; z-index: z("default"); margin-bottom: 17px; background-color: #fff; }

					.tooltip { bottom: auto; color: $color-content; border: 1px solid #c3d0e1;
						&:before { top: -$sprite-bg-arrow15-height; left: 50%; margin-left: -$sprite-bg-arrow15-width/2; @include sprite($sprite-bg-arrow15); }
						
						&.down {
							&:before { top: auto; bottom: -$sprite-bg-arrow16-height; margin-left: -$sprite-bg-arrow16-width/2; @include sprite($sprite-bg-arrow16); }
						}
					}

					.title { display: block; margin-bottom: 13px; font-size: 1.250em; font-wei: normal; color: $color-title; line-height: 1.3em; }
					p { font-size: 0.875em; color: $color-content; line-height: 22px;
						a { color: $color-menu1-hover; text-decoration: underline; }
					}

				
					&.step01 { width: 325px;
						&:before { margin-left: -20px; @include sprite($sprite-bg-procedding01); }
						span.tooltip { top: -23px; left: 2px; }
						p.tooltip { top: 240px; left: 100px; }
					}
					&.step02 { width: 333px;
						&:before { margin-left: -10px; @include sprite($sprite-bg-procedding02); }

						.btn-update { display: inline-block; margin-top: -3px; padding: 5px 13px 6px 13px; font-size: 12px; color: $color-content; line-height: 18px; vertical-align: middle; border: 1px solid #c3d0e1; border-radius: 4px; background-color: #fff; }
						.warning { position: relative; padding-left: 28px; font-size: 12px; color: $color-menu1-hover; line-height: 18px;
							&:before { content: ''; display: block; position: absolute; top: 0; left: 0; @include sprite($sprite-icon-iks01); }
						}
					}
					&.step03 { width: 160px;
						&:before { margin-left: -20px; @include sprite($sprite-bg-procedding03); }
						.tooltip { top: -23px; left: 35px; color: $color-menu1-hover; }
					}
				}
			}

			.btn-borrowing { display: block; margin: 30px auto 0 auto; width: 400px; font-size: 1.000em; font-weight: bold; color: #fff; line-height: 55px; text-align: center; text-decoration: none; border-radius: 55px; background-color: $color-borrowing;
				&:after { content: ''; display: inline-block; margin: -2px 0 0 22px; vertical-align: middle; @include sprite($sprite-bg-arrow17); }
			}
			.faq { margin-top: 12px; font-size: 0.750em; color: $color-content; line-height: 18px; text-align: center; 
				a { color: $color-content; text-decoration: underline; }
			}
		}
	}



	/* 신청 진행 */
	.borrowing-application { position: relative; margin-top: 42px; border: 1px solid #d4dae4; border-radius: 18px; background-color: #fff;
		.btn-back { display: block; position: absolute; top: 19px; right: 19px; text-indent: -9999px; @include sprite($sprite-btn-close01); }

		/* 진행 절차 표시 */
		.proceedings { overflow: hidden; position: relative; margin: 0 auto; padding: 48px 0 41px 0; width: 100%; text-align: center; border-bottom: 1px solid #d4dae4;
			&:before { content: ''; display: block; position: absolute; top: 83px; right: 25%; left: 25%; z-index: z("default")-1; height: 1px; background-color: #798dbd; }

			> li { display: inline-block; position: relative; margin: 0 110px; height: 70px; width: 71px; vertical-align: top;
				&:before { content: ''; display: block; position: relative; z-index: z("default"); margin-bottom: 17px; background-color: #fff; }

				.title { display: none; }

				.tooltip { bottom: auto; color: $color-content; border: 1px solid #c3d0e1;
					&:before { top: -$sprite-bg-arrow15-height; left: 50%; margin-left: -$sprite-bg-arrow15-width/2; @include sprite($sprite-bg-arrow15); }
					
					&.down {
						&:before { top: auto; bottom: -$sprite-bg-arrow16-height; margin-left: -$sprite-bg-arrow16-width/2; @include sprite($sprite-bg-arrow16); }
					}
				}

				&.step01 { 
					&:before { @include sprite($sprite-bg-procedding01-s); }
					.tooltip { top: -23px; left: -32px; width: 105px; }

					&.selected:before { @include sprite($sprite-bg-procedding01-s-selected); }
				}
				&.step02 {
					&:before { @include sprite($sprite-bg-procedding02-s); }
					.btn-update { display: block; position: absolute; top: 46px; left: 73px; z-index: z("tooltip"); padding: 5px 13px 6px 13px; width: 72px; font-size: 12px; color: $color-menu1; line-height: 18px; border: 1px solid #c3d0e1; border-radius: 4px; background-color: #fff; }

					&.selected:before { @include sprite($sprite-bg-procedding02-s-selected); }
				}
				&.step03 {
					&:before { @include sprite($sprite-bg-procedding03-s); }
					.tooltip { top: -23px; left: -2px; width: 46px; color: $color-menu1-hover; }

					&.selected:before { @include sprite($sprite-bg-procedding03-s-selected); }
				}
			}
		}


		/* 빌리기 과정 */
		.proceedings-step { padding: 46px 0 80px 0;
			> h2 { font-size: 1.375em; font-weight: bold; color: $color-title; text-align: center; line-height: 1.3em; }
			.description { margin-top: 13px; font-size: 0.750em; color: $color-content; line-height: 18px; text-align: center; }

			/* 빌리기 준비 과정 */
			.prepare-step01 { margin: 40px auto 0 auto; width: 920px;
				> li { position: relative; padding: 27px 90px 32px 110px; border-top: 1px solid #d4dae4;
					&:first-child { border-top: 0px; }
					&:before { content: ''; display: block; position: absolute; top: 19px; left: 50px; }

					> .title { font-size: 0.875em; color: $color-title; line-height: 1.3em; }
					> p { margin-top: 7px; font-size: 0.875em; color: $color-content; line-height: 22px; }
					> .btn-auth { display: block; position: absolute; top: 33px; right: 90px; padding-top: 13px; padding-bottom: 7px; height: 47px; width: 155px; font-size: 0.875em; font-weight: bold; color: #fff; line-height: 18px; text-align: center; border-radius: 2px; box-shadow: inset 0 -7px 0 0 #0070c0, 10px 10px 0 0 #e9ecf1; background-color: #008df0;
						&:hover { top: 40px; padding-bottom: 0px; text-decoration: none; box-shadow: none; }

						@include tooltip-center();
					}
					> .warning { display: block; position: absolute; top: 55px; left: 408px; margin: 0px; padding-left: 30px; font-size: 0.875em; color: $color-content;
						&:before { content: ''; display: block; position: absolute; top: 0; left: 0; @include sprite($sprite-icon-iks01); }
						em { display: block; font-size: 0.857em; line-height: 18px; }
					}
					> a.warning { text-decoration: underline; }

					&.done {
						> .btn-auth { padding-bottom: 0px; box-shadow: none; background-color: #cad2de;
							&:hover { top: 33px; }
						}
					}

					&.seq01:before { @include sprite($sprite-prepare01); }
					&.seq02:before { @include sprite($sprite-prepare02); }
					&.seq03:before { @include sprite($sprite-prepare03); }
					&.seq04:before { @include sprite($sprite-prepare04); }
					&.seq01.done:before { @include sprite($sprite-prepare01-done); }
					&.seq02.done:before { @include sprite($sprite-prepare02-done); }
					&.seq03.done:before { @include sprite($sprite-prepare03-done); }
					&.seq04.done:before { @include sprite($sprite-prepare04-done); }

					/* 대출자 인증 후 */
					.box-auth { position: relative; margin-top: 23px; padding: 14px 0 14px 86px; font-size: 0.875em; line-height: 24px; border: 1px solid #d4dae4;
						&:before { content: ''; display: block; position: absolute; top: 20px; left: 25px; @include sprite($sprite-icon-check06); }

						.title { display: block; color: $color-menu1-hover; }
						.message { color: $color-content; }
						.info { margin-top: 10px; color: $color-title;
							em { margin-left: 23px; margin-right: 23px; }
						}
					}

					/* 가입비 팝업 */
					.mfee-popup { display: none; position: absolute; top: 90px; right: 230px; z-index: z("modaless"); padding: 34px 0 38px 38px; width: 486px; font-size: 0.875em; color: $color-content; line-height: 22px;
						&:before { right: 124px; left: auto; }

						> h1 { display: block; padding: 0; font-size: 1.143em; color: $color-title;
							&:before { content: none; }
						}
						.description { margin-top: 10px;
							em { color: $color-menu1-hover; }
						}
						.refund { margin-top: 24px;
							> li { position: relative; padding: 0 0 10px 42px;
								&:before { content: attr(data-title); display: block; position: absolute; top: 0; left: 0; color: $color-menu1-hover; }
							}
						}
						.warning { position: relative; margin-top: 10px; padding: 0 0 0 30px;
							&:before { content: ''; display: block; position: absolute; top: 0; left: 0; @include sprite($sprite-icon-iks01); }
						}
					}
				}
			}

			.list-dot { margin-top: 10px;
				> li { position: relative; padding-left: 8px; font-size: 0.750em; color: $color-content; line-height: 21px;
					&:before { content: ''; display: block; position: absolute; top: 7px; left: 1px; height: 3px; width: 3px; background-color: $color-menu1-hover; }
				}
			}

			.btn-submit { margin-top: 33px; width: 264px; }
			.submit-desc { margin-top: 10px; font-size: 0.750em; color: $color-content; text-align: center; }


			/* 입력 폼 */
			.basic-info-form { margin: 0 auto; padding-bottom: 37px; width: 920px;
				span.center {
					input[type=text],
					input[type=password] { width: 90px; }
				}

				.tooltip { left: 20px; }

				.warning { position: relative; padding-left: 30px; font-size: 12px; color: $color-content; line-height: 18px;
					&:before { content: ''; display: block; position: absolute; top: 0; left: 0; @include sprite($sprite-icon-iks01); }
					em { color: $color-menu1-hover; }

					&.no-icon { padding-left: 0;
						&:before { content: none; }
					}
				}

				/// 기본 정보
				.basic { margin-top: 45px;
					.item-form { clear: none; float: left; }
					.warning { float: left; margin-top: 40px; width: 215px; }
				}

				/// 연락처
				.contacts { position: relative; margin-top: 11px;
					.co-name { display: inline-block; margin-right: 10px; width: 300px; vertical-align: middle; }
					.cr-box { display: inline-block; margin: 0; }
					.contacts-description { position: absolute; top: 40px; right: 0; bottom: 0; padding: 36px 0 0 34px; width: 400px; background-color: #fff6f8;
						p { font-size: 12px; color: $color-content; line-height: 18px;
							strong { color: $color-menu1-hover; }
						}
						.warning { margin-top: 14px; }
					}
				}

				/// 주소
				.address { margin-top: 26px;
					.item-form { clear: none; float: left; margin-right: 10px; }
					.warning { margin-top: 11px; }
					.cr-box { margin-top: 0px; }
				}

				/// 계좌정보
				.account {
					.item-form { clear: none; float: left; margin-right: 10px; }
					.desc { display: inline-block; margin-top: 40px; font-size: 12px; color: $color-content; line-height: 18px;
						em { color: $color-menu1-hover; }
					}
				}
			}

			/* 빌리기 신청 */
			&.application {
				.basic-info-form { padding-bottom: 20px;
					.basic {
						.item-form {
							.item-form { clear: none; float: left; margin-right: 10px; }	
						}
						.warning { margin-top: 8px; }
					}

					.story {
						.item-form { clear: none; float: left; }
						.warning { float: right; margin-top: 10px; margin-right: 82px; }
					}

					.repayment-plan { margin-top: 4px; }

					.income { margin-top: 50px;
						.item-form { clear: none; float: left; width: 425px; }
						
						.price {
							.item-form { margin-top: -2px; vertical-align: middle; }
						}
						
						.final { clear: both; padding-top: 20px; font-size: 1.000em; color: $color-title; text-align: right;
							strong { display: inline-block; padding-right: 10px; width: 94px; color: $color-menu1-hover; }
						}
					}

					.etc {
						.item-form { clear: none; float: left;
							.select { float: left; box-sizing: border-box; }
						}
					}

					.box-disclosure { margin-top: 20px; padding: 25px 0px; text-align: center; border: 1px solid #d4dae4; border-radius: 2px; background-color: #fff;
						p { font-size: 0.750em; color: $color-content; line-height: 18px;
							em { color: $color-menu1-hover; }
						}

						.tooltip { bottom: -37px; }
					}
				}

				.btns { position: relative; margin-top: 10px;
					.btn-tip-txt { float: right; margin-top: 3px; }
					.btn-submit { display: inline-block; margin-top: 0px; width: 105px; }
				}


				/* 상환내역 미리보기 */
				.preview-popup { display: none; position: absolute; top: 90px; right: 18px; z-index: z("modaless"); padding: 34px 0 0px 60px; width: 545px; font-size: 0.875em; color: $color-content; line-height: 22px;
					&:before { right: 97px; left: auto; }

					> h1 { display: block; padding: 0; font-size: 1.000em; color: $color-title;
						&:before { content: none; }
					}

					> .scroll { overflow: scroll; padding-right: 60px; height: 423px; }
				}

				/* 증빙서류 관련 팁 텍스트 */
				.tip-txt-popup { position: absolute; top: 26px; right: -120px; z-index: z("modaless"); padding: 13px 16px; width: 340px; font-size: 0.875em; color: $color-content; line-height: 22px; border: 1px solid #c3d0e1; border-radius: 4px; background-color: #fff;
					&:before { content: ''; display: block; position: absolute; top: -$sprite-bg-arrow15-height; left: 106px; @include sprite($sprite-bg-arrow15); }

					> h1 { display: block; padding: 0; font-size: 0.857em; color: $color-title;
						&:before { content: none; }
					}
					p { margin-top: 6px; font-size: 0.857em; color: $color-content; line-height: 18px; }
					a { float: right; margin-top: 10px; font-size: 0.857em; color: $color-content; text-decoration: underline; }
				}
			}

		}

	}

}