/* 마이존 */
.contents.myzone { padding-bottom: 117px;

	/* 마이존 상단 서브 메뉴 */
	.menus-sub { margin-top: 47px;
		ul { text-align: center;
			> li { display: inline-block;
				+ li {
					&:before { content: '|'; display: inline-block; margin-right: 13px; margin-left: 9px; color: #dee1e7; text-decoration: none; }
				}
			}
		}

		a { font-size: 14px; color: $color-menu1;
			&:hover,
			&.selected { color: $color-menu1-hover; }
		}
	}

	/* 마이존 컨테츠 박스 */
	.myzone-box { margin-top: 54px; padding-bottom: 80px; border: 1px solid #d4dae4; border-radius: 18px; background-color: #fff; }

	/* 게별 섹션 */
	.section { padding: 77px 119px 0 119px;
		.title { font-size: 1.125em; font-weight: normal; color: $color-title; line-height: 1.3em;
			+ .tbl-data-h,
			+ .tbl-data-v { margin-top: 28px; }

			.btn-help-withdraw { display: inline-block; margin-top: -2px; text-indent: -9999px; vertical-align: middle; @include sprite($sprite-btn-help04); }
		}

		.filter { float: right; margin-top: -4px; }
	}

	/* 데이터 테이블 */
	.tbl-data-h { table-layout: fixed; width: 100%; border-top: 2px solid $color-title;
		th { height: 54px; font-size: 14px; font-weight: normal; color: $color-title; line-height: 16px; border-bottom: 1px solid #d4dae4; background-color: #fbfbfb; }
		td { height: 54px; font-size: 14px; color: $color-content; text-align: center; line-height: 16px; border-bottom: 1px solid #d4dae4; border-left: 1px solid #d4dae4; background-color: #fff;
			em { color: $color-menu1-hover; }
			strong { color: $color-menu1-hover; text-decoration: underline; }
		}
	}
	.tbl-data-v { table-layout: fixed; width: 100%; border-top: 2px solid $color-title;
		> thead { border-bottom: 1px solid #7c7f84;
			th { height: 45px; font-size: 14px; font-weight: normal; color: $color-title; line-height: 16px; border-left: 1px solid #d4dae4; background-color: #fbfbfb;
				&:first-child { border-left: 0px; }
			}
		}
		> tbody {
			td { position: relative; height: 45px; font-size: 14px; color: $color-content; text-align: center; line-height: 16px; border-bottom: 1px solid #d4dae4; border-left: 1px solid #d4dae4; background-color: #fff;
				&:first-child { border-left: 0px; }
				a { color: $color-content; text-decoration: underline; }
				.plus { color: #006bf0; }
				.minus { color: $color-menu1-hover; }
			}
		}

		.btn-detail { display: inline-block; text-indent: -9999px; @include sprite($sprite-btn-view01); }

		+ .paging { margin-top: 40px; }
	}


}


/* 마이존 - 내 계좌 */
.contents.myzone.account {
	.status { position: relative; padding: 31px 0 37px 0; height: 50px; text-align: center; border-radius: 5px; background-color: #0f0;
		&.type01 { background-color: #ff507d; }
		&.type02 { background-color: #14378c; }
		&.type03 { background-color: #00bbd4; }
		&.type04 { background-color: #81c845; }

		span { display: block; margin-bottom: 4px; font-size: 14px; font-weight: bold; color: #fff; }
		a { display: inline-block; text-align: center; text-decoration: none; }
		strong { display: inline-block; font-size: 1.500em; font-weight: bold; color: #fff; line-height: 1.2em; border-bottom: 2px solid #fff; }

		button { display: block; position: absolute; text-indent: -9999px;
			&.btn-status-help { top: 3px; right: 3px; @include sprite($sprite-btn-help03); }
			&.btn-status-detail { bottom: 3px; right: 3px; @include sprite($sprite-btn-detail01); }
		}
	}

	.list-staus-account { margin: 27px -2px 0 -2px; height: 118px;
		> li { display: block; float: left; box-sizing: border-box; height: 118px; padding: 0 2px; width: 25%;
		}
	}

	/* 도움말 팝업 */
	.status-help-popup { display: block;
		figure {
			dl {
				dt { display: none; }
				dd { display: block; font-size: 12px; color: $color-content; line-height: 18px; }
			}
		}	
	}

	/* 테이블 내 오버시 노출되는 데이터 */
	.tbl-over-data { display: none; bottom: 85%; right: -20px; left: auto; padding: 10px 14px;
		&:before { right: 40px; }

		table { min-width: 190px;
			th { height: auto; width: 54px; font-size: 12px; font-weight: normal; color: $color-content; text-align: left; line-height: 23px; border-top: 1px solid #c3d0e1; border-bottom: 0px; }
			td { padding-left: 7px; height: auto; font-size: 12px; font-weight: normal; color: $color-content; text-align: left; line-height: 23px; border-left: 1px solid #c3d0e1; border-top: 1px solid #c3d0e1; border-bottom: 0px; }
			tbody {
				tr:first-child { 
					th, td { border-top: 0px;  }
				}
			}
		}
	}


	/* 나의 계좌 & 출금 */
	.section.my-account-withdraw {
		/* section 내 2단 컬럼 */
		.column { float: left; position: relative; width: 410px;
			.withdraw-popup { top: 28px; width: 420px;
				&:before { left: 74px; }
			}
		}
		.column + .column {
			.info { width: 509px; border-left: 1px solid #d4dae4; background-color: #fbfbfb; }
		}
		.info { box-sizing: border-box; margin-top: 27px; padding: 29px 0 0 20px; height: 192px; border-top: 2px solid $color-title; border-bottom: 1px solid #d4dae4;
			.bank-account { margin-top: 0px; font-size: 16px; color: $color-title; line-height: 22px;
				a { color: $color-menu1-hover; text-decoration: underline; }
			}

			.item-form { overflow: hidden; height: 116px;
				.bank-account { margin-bottom: 17px; }
				.center { float: left; }
				input[type=text] { width: 272px; color: $color-menu1-hover; }
				.btn-submit { float: left; width: 154px; }
			}
			
			.desc { clear: both; padding-top: 7px; font-size: 14px; color: $color-content; line-height: 1.3em;
				em { color: $color-menu1-hover; }
			}

			.results { overflow: hidden;
				.amount { float: left; margin-right: 10px; padding-top: 2px; padding-bottom: 2px; height: 33px; min-width: 158px; font-size: 16px; color: $color-title; border-right: 1px solid #d4dae4;
					strong { margin-left: 5px; color: $color-menu1-hover; }
					span { display: block; margin-top: 2px; font-size: 12px; color: $color-content; }
				}
				dl { float: left; line-height: 18px;
					dt { display: block; float: left; font-size: 12px; color: $color-content; }
					dd { display: block; float: left; margin-left: 6px; font-size: 12px; color: $color-menu1-hover;
						+ dt { clear: left; }
					}
				}
				.btn-submit { float: right; margin-right: 27px; width: 87px; }
			}

			.dot { position: relative; margin-top: 16px; padding-left: 8px; font-size: 12px; color: $color-content; line-height: 1.3em;
				&:before { content: ''; display: block; position: absolute; top: 6px; left: 0; height: 3px; width: 3px; background-color: $color-menu1-hover; }

				em { color: $color-menu1-hover; }
				a { color: $color-content; text-decoration: underline; }
			}
		}
	}
}







