/* 공통 */


/// 이미지 텍스트
.txt { display: block; text-indent: -9999px; }

/// 필터
.filter-container { overflow: hidden;
	.filter { position: relative; float: left;
		input[type=radio] { position: absolute; top: -9999px; left: -9999px;
			&.selected + label { color: $color-menu1-hover; }
		}
		label { font-size: 1.063em; font-weight: bold; color: $color-menu1; cursor: pointer; line-height: 37px;
			&:hover { color: $color-menu1-hover; }
			+ input[type=radio] + label {
				&:before { content: '|'; display: inline-block; margin-right: 20px; margin-left: 16px; color: #dee1e7; text-decoration: none; }
			}
		}
	}

	.utils-guide {
		float: right;
		> a { margin-left: 16px; vertical-align: middle; }
	}
}
