/* 이용안내 */
.contents.cs {

	/* 공통 btns-inline-box */
	.btn-inline-box { line-height: 29px; }

	/* 마이존 컨테츠 박스 */
	.cs-box { position: relative; margin-top: 54px; padding-bottom: 80px; border: 1px solid #d4dae4; border-radius: 18px; background-color: #fff; }

	/* 게별 섹션 */
	.section { position: relative; padding: 77px 119px 0 119px;
		h1.title { font-size: 18px; font-weight: normal; color: $color-title; line-height: 1.3em;
			+ .list-type-tbl { margin-top: 23px; }
			+ .detail-type-tbl { margin-top: 27px; }

			em { color: $color-menu1-hover; }
		}

		.filter { float: right; margin-top: -4px; }
	}


	/* 필터 */
	.filter {
		.right-column { float: right; }
		input[type=text] { display: inline-block; margin-left: 6px; height: 29px; width: 155px; font-size: 12px; color: $color-title; line-height: 29px; text-indent: 0; vertical-align: middle; text-align: center; border: 1px solid #d4dae4; border-radius: 5px; background-color: #fff; }
		select { margin-left: 6px; vertical-align: middle; border: 1px solid #d4dae4; border-radius: 5px; }
		.btn-search { display: inline-block; margin-left: 6px; padding-right: 18px; padding-left: 18px; min-width: 68px; font-size: 12px; font-weight: bold; color: #fff; line-height: 31px; border-radius: 2px; background-color: #6e80a9; }
		.btn-write { display: inline-block; margin-left: 6px; padding-right: 18px; padding-left: 18px; min-width: 68px; font-size: 12px; font-weight: bold; color: #fff; line-height: 31px; border-radius: 2px; background-color: #2e96d6; }
	}



	/* 테이블형 리스트 */
	.list-type-tbl { width: 100%; border-top: 2px solid $color-title;
		> thead {
			th { height: 45px; font-size: 14px; font-weight: normal; color: $color-title; text-align: center; border-left: 1px solid #d4dae4; border-bottom: 1px solid #7c7f84; background-color: #fbfbfb;
				&:first-child { border-left: 0px; }
			}
		}

		> tbody {
			tr.notice {
				td { color: #0e52a7;
					a { color: #0e52a7; }
				}
			}

			td { position: relative; height: 45px; padding-right: 10px; padding-left: 10px; font-size: 14px; color: $color-content; text-align: center; border-left: 1px solid #d4dae4; border-bottom: 1px solid #d4dae4; background-color: #fff;
				&:first-child { border-left: 0px; }

				a { color: $color-content; text-decoration: none;
					&:hover { color: $color-title; }

					&.nick { display: inline-block; overflow: hidden; height: 16px; max-width: 100px; text-decoration: underline; text-overflow: ellipsis; white-space: nowrap; }
				}
			}
		}

		.l { padding-left: 20px; text-align: left; }
		.new { display: block; position: absolute; top: 0; left: 0; text-indent: -9999px; @include sprite($sprite-badge-new05); }
	}

	/* 테이블형 상세 */
	.detail-type-tbl { width: 100%; font-size: 14px; color: $color-content; border-top: 2px solid $color-title; border-bottom: 1px solid #d4dae4;
		dt { display: block; position: relative; padding-left: 30px; line-height: 50px;
			
		}

		dd { padding: 30px 30px 50px 30px; line-height: 22px; border-top: 1px solid #d4dae4; }

		.new { display: block; position: absolute; top: 0; left: 0; text-indent: -9999px; @include sprite($sprite-badge-new05); }

		+ .btns { margin-top: 40px; text-align: center; }
	}




	.tbl-data-v { /*table-layout: fixed;*/ position: relative; width: 100%; border-top: 2px solid $color-title;
		> thead {
			tr.small {
				th { padding-right: 5px; padding-left: 5px; font-size: 12px; line-height: 16px; }
			}
			th { position: relative; height: 50px; font-size: 14px; font-weight: normal; color: $color-title; line-height: 16px; text-align: center; border-bottom: 1px solid #7c7f84; border-left: 1px solid #d4dae4; background-color: #fbfbfb; background-clip: padding-box;
				&:first-child { border-left: 0px; }
				&.small { font-size: 12px; }
			}

			.sale-price {
				&:before { margin: -1px 5px 0 1px; }
			}

			.cr-box {
				label { font-size: 14px; color: $color-title; }
			}
		}
		> tfoot {
			th { height: 50px; font-size: 14px; font-weight: normal; color: $color-title; text-align: center; border-left: 1px solid #d4dae4; background-color: #fbfbfb;
				&:first-child { border-left: 0px; }
			}
			td { font-size: 14px; text-align: center; border-left: 1px solid #d4dae4; background-color: #fbfbfb; }
		}
		> tbody {
			tr.disabled {
				th, td { color: $color-desc; }
			}
			th, td { position: relative; padding: 10px 5px; height: 30px; font-size: 14px; font-weight: normal; color: $color-content; text-align: center; line-height: 18px; border-bottom: 1px solid #d4dae4; border-left: 1px solid #d4dae4; background-color: #fff; background-clip: padding-box;
				&:first-child { border-left: 0px; }
				a { position: relative; color: $color-content; text-decoration: underline;
					/*  대손 상환 */
					&.bed-debt {
						&:before { content: ''; display: block; position: absolute; top: -10px; left: -20px; @include sprite($sprite-icon-iks03); }
					}
					/* 직접추심 */
					&.overdue { font-size: 12px; }
				}
				.plus { color: #006bf0; }
				.minus { color: $color-menu1-hover; }

				/* form controls */
				input[type=text] { height: 29px; width: 90%; font-size: 14px; color: $color-title; text-align: center; line-height: 29px; border: 1px solid #d4dae4; background-color: #fff; }

				/* new badge */
				.new { display: block; position: absolute; top: 0; left: 0; text-indent: -9999px; @include sprite($sprite-badge-new05); }

				/* contents */
				.nickname { display: inline-block; overflow: hidden; margin: 0 auto; height: 16px; max-width: 80px; text-overflow: ellipsis; white-space: nowrap; }
				.nick-message { left: -30px;
					&:before { left: 90px; }
				}
				.title { display: inline-block; overflow: hidden; height: 16px; max-width: 260px; text-overflow: ellipsis; white-space: nowrap; }
				.msg { display: inline-block; overflow: hidden; height: 16px; max-width: 640px; text-overflow: ellipsis; white-space: nowrap; text-decoration: none;
					&:hover { color: $color-title; }
					&:visited { color: $color-desc; }
				}
				.disabled { color: $color-desc; }
				strong.waring { display: block; color: $color-menu1-hover;
					&:before { content: ''; display: block; margin: 0 auto 2px auto; @include sprite($sprite-icon-iks01); }
				}
			}

			.cr-box {
				label { padding-left: 0px; height: 16px; width: 14px; text-indent: -9999px; }
			}

			/* 작은 내용 */
			&.small {
				th, td { height: 75px; font-size: 12px; line-height: 18px; }
			}
			&.small-popup {
				th, td { font-size: 12px; }
			}
		}

		/* tooltip */
		.tooltip { display: none; bottom: auto; color: $color-content; border: 1px solid #c3d0e1;
			&:before { top: -$sprite-bg-arrow15-height; left: 50%; margin-left: -$sprite-bg-arrow15-width/2; @include sprite($sprite-bg-arrow15); }
			
			&.down {
				&:before { top: auto; bottom: -$sprite-bg-arrow16-height; margin-left: -$sprite-bg-arrow16-width/2; @include sprite($sprite-bg-arrow16); }
			}

			/* bar */
			.bar { color: #e7ecf3; }
		}

		/* text align */
		.l { padding-left: 13px; text-align: left; }

		/* 기준가 -> 매매가 */
		.sale-price {
			&:before { content: ''; display: inline-block; margin: -1px 3px 0 0; vertical-align: middle; @include sprite($sprite-bg-arrow20); }
		}

		.btn-inline-box { line-height: 24px; text-decoration: none; }
		.btn-detail { display: inline-block; text-indent: -9999px; @include sprite($sprite-btn-view01); }
		.btn-sell { display: inline-block; text-indent: -9999px; @include sprite($sprite-btn-sell01); }
		.btn-set-meto { display: inline-block; text-indent: -9999px; @include sprite($sprite-btn-set01); }
	}


}




/* 이용안내 - 내 계좌 */
.contents.myzone.account {
}

