@mixin inner-container() {
	position: relative; margin: 0 auto; height: 100%; width: $contents-container-width;
}

/* GNB HEADER */
.header {
	$header-height: 353px;

	@mixin li-bar() {
		content: '|'; display: inline-block; padding-right: 13px; padding-left: 8px; font-size: 0.750em; color: #c9cfd6;
	}

	display: block; position: relative; height: $header-height; min-width: $contents-container-width; background: url(/assets/images/bg_header.jpg) center top no-repeat;
	&:after { content: ''; display: block; position: absolute; bottom: 0; right: 0; left: 0; z-index: z("default")-2; height: 50px; width: 100%; background-color: #14378c; }

	.inner { @include inner-container(); }

	.utils-member { display: block; position: absolute; top: 23px; left: 30px; z-index: z("default");
		> li { @include ie8-inline-block();
			&.last-child:before { @include li-bar(); }

			> a { 
				&.btn-help { @include btn-inline-txt(); text-indent: -9999px; margin-right: 22px; margin-left: 16px;
					@include sprite($sprite-btn-help01);
				}
			}
		}
	}

	.utils-help {
		display: block; position: absolute; top: 30px; right: 29px; z-index: z("default");

		> li { @include ie8-inline-block();
			+ li:before { @include li-bar(); }

			> a { position: relative;
				> .badge { display: inline-block; box-sizing: border-box; margin-right: 5px; padding: 0 5px; height: 20px; min-width: 20px; font-size: 14px; font-weight: bold; color: #fff; line-height: 20px; text-align: center; border-radius: 20px; background-color: $color-menu1-hover; }
			}
		}
	}

	.user { display: none; position: absolute; bottom: 140px; left: 30px; padding: 60px 0 0 0; min-width: 200px;
		> .credit-rating { display: block; position: absolute; top: 40px; left: 50%; z-index: z("default"); margin-left: 22px; padding: 7px 8px; height: 32px; min-width: 40px; white-space: nowrap; border: 1px solid #c4cad9; border-radius: 10px; background-color: #fff;
			&:before { content: ''; display: block; position: absolute; bottom: -$sprite-bg-arrow04-height; left: 10px; z-index: z("default"); @include sprite($sprite-bg-arrow04); }
			
			> span { display: inline-block; vertical-align: top;
				&.invest { text-indent: -9999px; @include sprite($sprite-bg-invest01);
					&.newbie { @include sprite($sprite-bg-invest02); }
					&.silver { @include sprite($sprite-bg-invest03); }
					&.gold { @include sprite($sprite-bg-invest04); }
					&.vip-silver { @include sprite($sprite-bg-invest05); }
					&.vip-gold { @include sprite($sprite-bg-invest06); }
					&.vvip { @include sprite($sprite-bg-invest07); }
					&.super { margin-top: -4px; @include sprite($sprite-bg-invest08); }
				}
				&.invest + .loan { position: relative; margin-left: 4px; padding-left: 8px;
					&:before { content: ''; display: block; position: absolute; top: -8px; bottom: -8px; left: 0; width: 1px; background-color: #c4cad9; }
				}

				> em { display: inline-block; text-indent: -9999px;
					&.bid0 { margin-top: 1px; margin-right: -2px; @include sprite($sprite-cnt-bid0); }
					&.bid1 { margin-top: 1px; margin-right: -2px; @include sprite($sprite-cnt-bid1); }
					&.bid2 { margin-top: 1px; margin-right: -2px; @include sprite($sprite-cnt-bid2); }
					&.bid3 { margin-top: 1px; margin-right: -2px; @include sprite($sprite-cnt-bid3); }
					&.bid4 { margin-top: 1px; margin-right: -2px; @include sprite($sprite-cnt-bid4); }
					&.bid5 { margin-top: 1px; margin-right: -2px; @include sprite($sprite-cnt-bid5); }
					&.bid6 { margin-top: 1px; margin-right: -2px; @include sprite($sprite-cnt-bid6); }
					&.bid7 { margin-top: 1px; margin-right: -2px; @include sprite($sprite-cnt-bid7); }
					&.bid8 { margin-top: 1px; margin-right: -2px; @include sprite($sprite-cnt-bid8); }
					&.bid9 { margin-top: 1px; margin-right: -2px; @include sprite($sprite-cnt-bid9); }

					&.overdue-none { margin-top: 1px; @include sprite($sprite-bg-overdue01); }
					&.overdue-a { margin-top: 1px; @include sprite($sprite-bg-overdue02); }
					&.overdue-b { margin-top: 1px; @include sprite($sprite-bg-overdue03); }
					&.overdue-c { margin-top: 1px; @include sprite($sprite-bg-overdue04); }
					&.overdue-d { margin-top: 1px; @include sprite($sprite-bg-overdue05); }
				}
			}
			
		}
		> figure {
			.thumb { display: block; overflow: hidden; margin: 0 auto; height: 84px; width: 84px; border-radius: 84px; background-color: #fff; }
			figcaption { display: block; margin-top: 12px; font-size: 0.750em; color: $color-menu2; text-align: center; }
		}

		> .message { display: block; position: absolute; left: 0; z-index: z("default"); padding-right: 12px; padding-left: 17px; height: 32px; font-size: 0.750em; color: $color-content; line-height: 32px; white-space: nowrap; border: 1px solid #c3d0e1; border-radius: 3px; background-color: #fff;
			&:before { content: ''; display: block; position: absolute; bottom: -$sprite-bg-arrow05-height; left: 68px; @include sprite($sprite-bg-arrow05); }

			em { color: $color-menu1-hover; }

			&.first { top: 0px; }
			&.second { top: -42px; }
			&.third { top: -84px; }
			&.fourth { top: -126px; }
		}
	}

	.contents { display: none; box-sizing: border-box; margin: 0 auto; width: 1160px; text-align: center;
		.btn-shortcut { display: inline-block; position: relative; height: 37px; min-width: 190px; font-size: 0.875em; font-weight: 500; color: #fff; text-align: center; line-height: 37px; border-radius: 37px; background-color: #6cc800;
			&:hover { text-decoration: none; background-color: #4eb500; }
			.badge { display: block; position: absolute; top: -9px; left: 27px; text-indent: -9999px; @include sprite($sprite-icon-new01); }
		}

		/* 전체메인 */
		&.main { display: block; padding-top: 236px; height: 770px; background: url('/assets/images/bg_header_visual_main.png') center top no-repeat;
			.title { display: block; margin: 0 auto; height: 153px; width: 396px; text-indent: -9999px; background: url('/assets/images/txt/header_main.png') left top no-repeat; }
			p { margin-top: 30px; font-size: 0.875em; color: $color-menu2; line-height: 20px; }
			.btn-shortcut { margin-top: 27px; }
		}

		/* 투자하기 */
		&.invest { display: block; padding-top: 89px; height: 303px; background: url('/assets/images/bg_header_visual_invest.png') center top no-repeat;
			.title { display: block; margin: 0 auto; height: 32px; width: 356px; text-indent: -9999px; background: url('/assets/images/txt/header_invest_title.png') left top no-repeat; }
			p { margin-top: 18px; font-size: 0.750em; color: $color-menu2; line-height: 18px; }
			.btn-shortcut { margin-top: 36px; }
		}
	}

	nav { position: absolute; bottom: 0; right: 0; left: 0;
		> ul {
			position: relative; height: 50px; width: 100%;
			> li { float: left; box-sizing: border-box; width: 50%; border-right: 1px solid #37559d;
				&:first-child { border-left: 1px solid #37559d; }
				> a {
					display: block; font-size: 1.250em; font-weight: bold; color: #798cbb; text-align: center; line-height: 50px;
					&:hover { color: #dee1e9; text-decoration: none; background-color: #142e6e; }
					&.selected { color: #dee1e9; }
				}
			}
		}
	}


	&.main {
		$header-height: 833px;

		height: $header-height; background: url(/assets/images/bg_header_main.jpg) center top no-repeat;
		&:after { height: 63px; }

		.user { display: block; }

		nav { 
			> ul {
				height: 63px;
				> li {
					> a {
						font-size: 1.375em; color: #dee1e9; line-height: 63px;
					}
				}
			}
		}
	}
}



/* FOOTER */
.footer {
	$font-size: 0.750em;
	$line-height: 20px;

	padding: 48px 0 79px 0; min-width: $contents-container-width; border-top: 1px solid #e4e4e4; background-color: #fff;
	.inner { @include inner-container(); }
	.shortcut { text-align: center;
		> a { margin: 0 11px;
			@include btn-inline-txt(0.750em, $color-content);
		}
	}
	.company-info { position: relative; margin-top: 67px; margin-left: 198px; padding-left: 192px; font-size: $font-size; color: $color-content; line-height: $line-height;
		&:before { content: ''; display: block; position: absolute; top: 50%; left: 0; margin-top: -($sprite-popfunding-height/2); @include sprite($sprite-popfunding); }
		a { color: $color-content; text-decoration: underline; }
	}
}



/* CONTENTS */
article.contents { min-width: $contents-container-width; padding: 60px 0 110px 0;
	> h1 { display: none; }
	> .inner { @include inner-container(); }


	/* 메인 */
	&.main { overflow: hidden;
		.btn-shortcut { display: inline-block; padding-top: 1px; height: 36px; min-width: 154px; font-size: 0.875em; font-weight: 500; color: #fff; text-align: center; line-height: 36px; border-radius: 37px; background-color: #6cc800;
			&:hover { text-decoration: none; background-color: #4eb500; }
		}

		/// 투자유형
		.investment-type { display: block; box-sizing: border-box; float: left; overflow: hidden; margin-right: 40px; height: 614px; width: 720px; border: 1px solid #e4e4e4;
			> h1 { display: none; }
			.badge { display: block; position: absolute; top: 0; left: 0; text-indent: -9999px;
				&.new { @include sprite($sprite-badge-new02); }
				&.invest-type01 { @include sprite($sprite-badge-invest04); }
			}

			.slider { position: relative; height: 100%;
				.slick-list { height: 100%;
					.slick-track { height: 100%; }
				}

				.slick-arrow { display: block; position: absolute; top: 50%; z-index: z("default"); text-indent: -9999px;
					&.slick-prev { left: 20px; margin-top: -$sprite-btn-prev01-height/2; @include sprite($sprite-btn-prev01); }
					&.slick-next { right: 20px; margin-top: -$sprite-btn-next01-height/2; @include sprite($sprite-btn-next01); }
				}
			}

			/* 개인 투자 */
			.investment-private { position: relative; height: 100%; width: 100%; text-align: center; background-color: #d2dda9; }

			/* 기업투자 */
			.investment { position: relative; height: 100%; width: 100%; text-align: center;
				.title { margin: 72px auto 0 auto; text-indent: -9999px; }
				p { margin-top: 25px; font-size: 0.875em; color: $color-menu2; line-height: 20px; }
				.btn-shortcut { display: block; position: absolute; bottom: 45px; left: 50%; margin-left: -110px; width: 220px; color: #fff; background-color: $color-point2; }
			}

			/* 채권마켓 */
			.bonds-market { position: relative; height: 100%; width: 100%; text-align: center; background-color: #afc1de; }

		}

		/// 인터뷰
		.interview { display: block; float: left; margin-bottom: 10px; height: 231px; width: 400px;
			> h1 { display: none; }
			.btn-play { display: block; position: relative; height: 100%; width: 100%; text-decoration: none;
				.before { display: block; position: relative; z-index: z("default"); top: 77px; margin: 0 auto; @include sprite($sprite-btn-play01); }
				&:after { content: ''; display: block; position: absolute; top: 0; left: 0; z-index: z("default") - 1; height: 100%; width: 100%; background: url('/assets/images/tp_interview01.png') left top repeat; }
				&:hover > .before { @include sprite($sprite-btn-play01-highlights); }
				p { position: relative; z-index: z("default"); padding-top: 99px; font-size: 0.875em; color: #748bb9; text-align: center; line-height: 20px; }
			}
		}

		/// 배너 영역
		.banners { display: block; float: left; overflow: hidden; height: 372px; width: 400px; background-color: #909;
			> h1 { display: none; }

			.slider { position: relative; height: 100%;
				.slick-list { height: 100%;
					.slick-track { height: 100%; }
				}
				.slick-dots { position: absolute; right: 13px; bottom: 20px;
					> li { float: left; padding-right: 7px; padding-left: 6px;
						button { display: block; height: 11px; width: 11px; text-indent: -9999px; border-radius: 11px; background-color: #c8c8cb;
							.slick-active & { background-color: #ff4a78; }
						}

						&.slick-active {
							button { background-color: #ff4a78; }
						}
					}
				}

				a { display: block; height: 100%; width: 100%; }
			}
		}

		/// 빍리기 / 투자하기
		.service-shortcut { clear: both; overflow: hidden; padding-top: 60px;
			.box { float: left; position: relative; padding-top: 63px; height: 346px; width: 575px; text-align: center; background-color: #ede8e3;
				> h1 { margin: 0 auto; height: 57px; text-indent: -9999px; }
				p { padding-top: 18px; font-size: 0.750em; color: $color-menu2; line-height: 18px; }
				.btns { position: absolute; bottom: 50px; width: 100%; }
			}
			.borrow { margin-right: 10px; background: url('/assets/images/bg_main_borrow01.jpg') center top no-repeat;
				> h1 { width: 201px; background: url('/assets/images/txt/title_main_borrow01.png') left top no-repeat; }
				.btn-shortcut { width: 173px; background-color: #8abd00; }
			}
			.invest { background: url('/assets/images/bg_main_invest01.jpg') center top no-repeat;
				> h1 { width: 196px; background: url('/assets/images/txt/title_main_invest01.png') left top no-repeat; }
				.btn-shortcut { width: 183px; background-color: $color-menu1-hover; }
			}
		}

		/// SNS 바로가기
		.sns-shortcut { padding-top: 100px; text-align: center;
			> h1 { display: none; }

			> ul {
				> li { display: inline-block; margin: 0 23px;
					a { display: inline-block; text-align: left; text-indent: -9999px; vertical-align: bottom;
						&.btn-blog { @include sprite($sprite-btn-blog01); }
						&.btn-facebook { @include sprite($sprite-btn-facebook01); }
						&.btn-kakao { @include sprite($sprite-btn-kakao01); }
					}
				}
			}
		}
	}


	/// 파일리스트 추후 삭제
	&.filelist { overflow: hidden;
		h1 { margin-bottom: 20px; font-size: 1em; }

		.section { float: left; padding: 50px 50px 0 0;
			h2 { margin-bottom: 20px; padding-bottom: 5px; font-size: 1em; line-height: 1.2em; border-bottom: 2px solid #000; }
			a { line-height: 1.5em; }
		}
	}
}



/* INVEST POPUP */
.invest-popup { position: absolute; bottom: -1px; left: 50%; z-index: z("modal"); animation-duration: 0.3s;
	> .inner { position: relative; left: -50%; padding: 54px 193px 27px 193px;; width: 504px; border: 1px solid #d4dae4; background-color: #d6ebf6;
		> .btn-popup-close { position: absolute; top: 14px; right: 14px; }
		> h1 { font-size: 22px; line-height: 1.2em; }
		> p { margin-top: 14px; font-size: 16px; line-height: 24px;
			> em { color: $color-point1; }
		}


		> .remain { overflow: hidden; margin-bottom: 5px; padding: 0 23px 0 27px; font-size: 0.750em; color: $color-point3;
			.balance {
				&:before { content: '|'; display: inline-block; margin-right: 12px; margin-left: 9px; color: #bbd7ed; }
			}
			.current { float: right; color: $color-point1; }
		}

		> .type { padding-bottom: 25px;
			.input-price { display: block; position: relative; padding: 11px 0 11px 0; border: 1px solid #d4d8e1; border-radius: 53px; box-shadow: inset 1px 1px 4px 0 #e7ebf3; background-color: #fff;
				> label { float: left; display: block; padding: 0 0 0 25px; width: 76px; font-size: 20px; color: $color-title; line-height: 31px; }
				> input[type=text] { display: block; width: 340px; font-size: 20px; color: #000; line-height: 31px; text-align: center; border: 0px; border-left: 1px solid #d4d8e1;
					&.small { font-size: 20px; }
				}

				.btn-fr { display: block; position: absolute; top: 0; left: -70px; padding: 0 18px; font-size: 12px; font-weight: bold; color: #fff; line-height: 31px; text-align: center; text-decoration: underline; border-radius: 31px; background-color: $color-menu1-hover; }
			}

			.btn-invest { box-sizing: border-box; margin-top: 12px; width: 100%; }

			.type-options { padding: 8px 23px 0 27px; font-size: 0.750em; color: $color-content;
				&.center { padding-bottom: 9px; text-align: center; }

				.msg { color: $color-point1;
					&:before { content: ''; display: inline-block; margin-right: 4px; @include sprite($sprite-icon-check01); }
				}

				.btns { float: right; position: relative; margin-top: 2px;
					&.auto { margin-top: -4px; }

					button { display: inline-block; margin-left: 2px; padding: 0 10px; font-size: 12px; color: $color-menu2; line-height: 29px; border: 1px solid #c3d0e1; border-radius: 5px; box-shadow: 1px 1px 3px 0 #c2d8eb; background-color: #fff;
						&:active { transform: translate(1px,1px); background-color: #e7f3fa; }
					}
					> .message { display: block; position: absolute; left: -55px; z-index: z("default"); padding-right: 12px; padding-left: 17px; height: 34px; font-size: 0.857em; color: $color-content; line-height: 34px; white-space: nowrap; border: 1px solid #c3d0e1; border-radius: 3px; background-color: #fff;
						&:after { content: ''; display: block; position: absolute; top: -$sprite-bg-arrow07-height; left: 79px; @include sprite($sprite-bg-arrow07); }
					}
				}
				.btn-shortcut { position: relative; margin-left: 7px; color: $color-menu2; text-decoration: underline;
					&:before { content: ''; display: block; position: absolute; top: 50%; left: -7px; margin-top: -1px; height: 2px; width: 2px; background-color: #ff4776; }
				}

				.list-dot { margin-top: 10px; padding-left: 7px; text-align: left;
					> li { position: relative; font-size: 1.000em; color: $color-content; line-height: 20px;
						&:before { content: ''; display: block; position: absolute; top: 50%; left: -7px; margin-top: -1px; height: 2px; width: 2px; background-color: $color-content; }
						em { color: $color-point1; }
					}
				}
			}
		}

		> .btns { margin-top: 36px;
			.btn-normal { display: inline-block; padding: 0px 22px 0 22px; font-size: 16px; color: #142c66; line-height: 35px; border: 1px solid #d4dae4; border-radius: 35px; background-color: #fff;
				&:hover { text-decoration: none; }
			}
		}


		/// 개인 투자 하단 설명
		> .private-guide { overflow: hidden; margin: 50px 0px 0 27px;
			li { display: block; position: relative; float: left; padding: 0 60px 0 8px; font-size: 0.750em; color: $color-content; line-height: 20px;
				&:before { content: ''; display: block; position: absolute; top: 8px; left: 0; height: 2px; width: 2px; background-color: $color-content; }
				em { color: $color-point1; }

				& + li {
					&:after { content: ''; display: block; position: absolute; top: 0; bottom: 0; left: -30px; height: 100%; width: 1px; background-color: #c1d3df; }
				}
			}
		}

		.coupon-container { overflow: auto; position: absolute; top: 50%; margin-top: -142px; padding: 0 20px; height: 284px; width: 533px; border: 2px solid #d4dae4; background-color: #fff;
			&:before { content: ''; display: block; position: absolute; top: 0; left: 0; z-index: z("default"); @include sprite($sprite-badge-coupon01); }
			.tbl-list-coupon { width: 100%;
				> tbody > tr { background-color: #fff;
					td { position: relative; height: 56px; font-size: 0.875em; color: $color-content; border-bottom: 1px solid #e9ecf1;

						&.c { padding: 0 10px; text-align: center; }
						&.r { padding-right: 5px; text-align: right; }
						
						.title { padding-left: 15px; line-height: 27px;
							&:before { content: ''; display: inline-block; margin: 0px 10px 0 0; vertical-align: middle; @include sprite($sprite-icon-coupon01); }
						}
						.duration { position: relative; float: left; line-height: 27px;
							&:before { content: '/'; position: absolute; top: 50%; left: -15px; margin-top: -13px; color: $color-desc; }
							&:after { content: '/'; position: absolute; top: 50%; right: -15px; margin-top: -13px; color: $color-desc; }
						}
						strong { color: $color-point2; line-height: 27px; }
						.btn-coupon { display: inline-block; width: 70px; font-size: 12px; color: $color-content; text-align: center; line-height: 24px; border: 1px solid #c3d0e1; border-radius: 5px; background-color: #fff;
							&:hover { text-decoration: none; }
						}
					}

					&.selected {
						td {
							color: $color-menu1-hover;
							.title {
								&:before { @include sprite($sprite-icon-coupon01-selected); }
							}
							strong { color: $color-menu1-hover; }
							.btn-coupon { color: $color-menu1-hover; border: 1px solid #f0d4db; }
						}	
					}

					&:hover { background-color: #f4f5f8; }
				}
			}


			.list-coupon { overflow: hidden; margin-right: 14px;
				> li { float: left; width: 50%; border-top: 1px solid #d4dae4; border-bottom: 1px solid #d4dae4;
					> a { display: block; height: 111px;
						&:hover { text-decoration: none; background-color: #f6f8fa; }
					}
					.coupon {
						.thumb { position: relative; float: left; height: 111px; width: 108px; text-align: center; line-height: 111px; 
							.badge { display: block; position: absolute; top: 0; left: 0; z-index: z("default"); text-indent: -9999px; text-align: left; @include sprite($sprite-badge-use01); }
							img { display: inline-block; vertical-align: middle; }
						}
						.info { padding-top: 29px; font-size: 0.875em;; color: $color-menu2; line-height: 18px; text-decoration: none;
							p { font-size: 0.857em; }
							.price { display: block; margin-top: 5px; font-weight: normal; color: $color-point2; }
						}

						&.in-use { background-color: #f6f8fa; }
					}
				}
			}
		}
	}

	/* 변동금리 팝업 */
	.guide-popup.floating-rates-popup { display: none; position: absolute; top: -1px; left: -1px; z-index: z("modaless"); padding: 30px 34px; width: 250px;
		&:before { content: none !important; }

		.normal { font-size: 1.000em;
			+ p { margin-top: 6px; font-size: 0.750em; color: $color-content; }
		}

		.interest-rates {
			> span { display: block; position: relative; float: left; padding-left: 30px; font-size: 22px; color: $color-title;
				&:first-child { padding-left: 0; }
				&:before { content: ''; display: block; position: absolute; }

				&.factor {
					&:before { top: 4px; left: 9px; @include sprite($sprite-icon-plus01); }
				}
				&.result { color: $color-point1;
					&:before { top: 4px; left: 5px; @include sprite($sprite-icon-equal01); }
				}
				sub { display: block; margin-top: 7px; font-size: 12px; color: $color-content; }
			}
		}
	}

	&.invest-private {
		> .inner { padding-top: 72px; padding-bottom: 0; height: 378px; }
	}

	&.calc-after { 
		> .inner { padding-top: 82px;
			> .type {
				.input-price { 
					> label { color: $color-point1; }
					> input[type=text] { color: $color-point1; }
				}

				.btn-invest { display: inline-block; box-sizing: border-box; margin-bottom: 5px; width: 49%;
					&.recalc,
					&.invest { font-size: 18px; }
				}

				.type-options {
					.msg { color: $color-point2;
						&:before { @include sprite($sprite-icon-check02); }
					}
				}
			}
		}
	}

	&.message { color: $color-menu1; text-align: center;
		> .inner { padding: 73px 0 55px 0; width: 478px; }

		&.confirm {
			> .inner {
				p { margin-top: 18px; }

				> .btns { margin-top: 36px; }
			}
		}
	}

}





/* MEMBERSHIP POPUP */
.popup.membership { position: relative; overflow: hidden; margin: 130px auto 0 auto; padding: 0 119px; width: 920px; text-align: center; border: 1px solid #d4dae4; border-radius: 18px; background-color: #fff;
	> .left { float: left; padding-top: 53px; padding-right: 99px; width: 360px; }
	> .right { float: left; padding-top: 53px; padding-left: 100px; width: 360px; border-left: 1px solid #d4dae4; }


	> .message { margin-top: 31px; margin-bottom: 6px; font-size: 0.875em; color: $color-content; line-height: 22px;
		> strong { display: block; margin: 5px 0; color: $color-menu1-hover; }
	}

	.mfp-close { position: static; }
	.popup-close { position: absolute; top: 19px; right: 19px; text-indent: -9999px; @include sprite($sprite-btn-close01); }

	h1 { font-size: 1.375em; font-weight: bold; color: $color-title; line-height: 1.2em; }


	/// 로그인
	&.login {
		.left {
			.btn-submit { margin-top: 155px; }
		}
		.membership-form { padding: 48px 0 77px 0; }
	}

	/// 회원가입
	&.signup {
		.left {
			.membership-form { margin-top: 165px; }
		}
		.right {
			.membership-form { padding: 69px 0 126px 0;
				.btn-submit { margin-top: 31px; }
			}
		}
	}

	/// 회원가입 완료
	&.signup-complete { padding-top: 52px;
		> .left { padding-top: 40px;
			&:before { content: ''; display: block; margin: 0 auto 20px auto; height: 183px; width: 181px; background: url('/assets/images/membership01.png') left top no-repeat; }
		}
		> .right { padding-top: 40px; border-left: 0px;
			&:before { content: ''; display: block; margin: 0 auto 20px auto; height: 183px; width: 177px; background: url('/assets/images/membership02.png') left top no-repeat; }
			.needs { &:before { background-color: $color-borrowing; } }
		}

		.needs { position: relative; margin-top: 20px; padding: 0 0 0 10px; font-size: 0.750em; color: $color-content; line-height: 18px; text-align: left;
			&:before { content: ''; display: block; position: absolute; top: 6px; left: 0; height: 6px; width: 6px; border-radius: 6px; background-color: $color-menu1-hover; }
			> a { color: $color-content; text-decoration: underline; }
		}

		.addon { clear: both; margin-top: 52px; padding-top: 49px; padding-bottom: 54px;
			.warning { margin-top: 13px; }
		}
	}
	
	.btn-submit { margin-top: 60px; width: 100%;
		+ .warning { margin-top: 30px; }
	}

	.warning { position: relative; padding-left: 32px; font-size: 0.750em; color: $color-content; text-align: left; vertical-align: middle;
		&:before { content: ''; display: block; position: absolute; top: -1px; left: 0; @include sprite($sprite-icon-iks01); }
		&.none { padding-left: 0;
			&:before { content: none; }
		}
		&.inline { display: inline-block; vertical-align: middle; line-height: 18px; 
			&:before { top: 50%; margin-top: -$sprite-icon-iks01-height/2; }
		}
	}

	.notice {
		> li { font-size: 0.750em; color: $color-content; line-height: 28px;
			a { color: $color-content; text-decoration: underline; }
		}
	}


	.auth-tab { position: relative; overflow: hidden; margin-top: 45px; height: 38px;
		&:before { content: ''; display: block; position: absolute; right: 0; bottom: 0; left: 0; height: 1px; width: 100%; background-color: #bec3cd; }
		> a { display: block; position: relative; z-index: 1; float: left; padding: 0 45px; font-size: 0.875em; color: $color-content; line-height: 36px; text-decoration: none;
			&:hover { color: $color-menu1-hover; }
			&.selected { color: $color-menu1-hover; border: 1px solid #bec3cd; border-bottom: 1px solid #fff; }
		}

		+ .membership-form { height: 109px; }
	}

	.argreement-form { margin-top: 24px; }
	.membership-form { text-align: left;
		.column {
			.item-form { clear: none; float: left; width: 50%;
				&:first-child { box-sizing: border-box; padding-right: 5px; }
				+ .item-form { box-sizing: border-box; padding-left: 5px; }
			}
		}


		/// submit button
		.btn-submit { margin-top: 40px; }

		.find-info { float: right; margin-top: 10px;
			a { font-size: 0.750em; color: $color-content; text-decoration: underline;
				&:after { content: ''; display: inline-block; margin-left: 4px; @include sprite($sprite-bg-arrow11); }
				&.none { &:after { content: none; } }
			}
		}

		table.agreements { margin-top: 50px; width: 100%; border-top: 1px solid #d4dae4; border-bottom: 1px solid #d4dae4;
			tbody {
				th { position: relative; height: 40px; width: 140px; text-align: center; border-right: 1px solid #d4dae4;
					@include tooltip-center();
				}
				td {
					.cr-box { margin-left: 20px; }
				}
			}
		}

	}

	.addon { clear: both; overflow: hidden; margin: 0 -119px; padding: 34px 0 43px 0; border-top: 1px solid #d4dae4;
		> .left { float: left; width: 50%; }
		> .right { float: left; width: 50%; text-align: center; }
	}

	.list-notice { margin-top: 22px;
		li {
			span { font-size: 0.750em; color: $color-content; line-height: 18px;
				&:before { content: ''; display: inline-block; height: 2px; width: 2px; vertical-align: middle; line-height: 18px; background-color: $color-content; }
				a { color: $color-menu1-hover; text-decoration: underline; }
			}
		}
	}

	.popup-done { display: inline-block; padding: 1px 28px 0 28px; font-size: 13px; color: $color-content; text-align: center; line-height: 34px; border: 1px solid #d4dae4; border-radius: 35px; background-color: #fff; }
}


/* MEMBERSHIP AUTH POPUP */
.popup.auth { position: relative; overflow: hidden; margin: 130px auto 0 auto; padding: 50px 209px 54px 209px; width: 740px; text-align: center; border: 1px solid #d4dae4; border-radius: 18px; background-color: #fff;

	> h1 { margin-bottom: 40px;
		.btn-guide { display: inline-block; vertical-align: middle; text-indent: -9999px; @include sprite($sprite-btn-help02); }
	}

	.membership-form { text-align: left;
		.column {
			.item-form { clear: none; float: left; width: 50%;
				&:first-child { box-sizing: border-box; padding-right: 10px; }
				+ .item-form { box-sizing: border-box; padding-left: 10px; }
			}
		}
	}

	&.borrowers { padding-bottom: 135px;
		> h1 { margin-bottom: 88px; }
		table.agreements { margin-top: 70px; }
		.btn-submit { margin-top: 77px; width: 360px; }
	}

	&.investor {
		.btn-submit { margin-top: 60px; width: 360px; }
	}

	.investor-guide { display: none; top: 87px; right: 180px; left: 180px;
		&:before { left: 460px; }
	}
	.bad-debt-guide { display: none; top: 248px; right: 43px; width: 700px;
		&:before { right: 167px; }
	}
	.borrower-guide { display: none; top: 87px; right: 185px; left: 185px;
		&:before { left: 455px; }
	}

	/* 완료 메시지 */
	.complete { box-sizing: border-box; text-align: left; padding: 85px 0 0 140px; height: 547px;
		h2 { display: block; position: relative; margin-top: 62px; padding: 0 0 0 38px; font-size: 1.000em; font-weight: normal; color: $color-menu1-hover;
			&:before { content: ''; display: block; position: absolute; bottom: 0; left: 0; @include sprite($sprite-icon-check06); }
		}

		p { margin-top: 10px; padding-left: 38px; font-size: 0.750em; color: $color-content; line-height: 26px;
			> a { color: $color-content; text-decoration: underline; }
		}

		&.borrower { padding-top: 65px; padding-left: 190px;
			h2 { color: #129a00;
				&:before { @include sprite($sprite-icon-check07); }
			}

			.btn-submit { margin: 12px 0 0 0; width: 278px; }
			.btn-borrowing { display: block; margin-top: 12px; width: 278px; font-size: 14px; font-weight: bold; color: #fff; text-align: center; text-decoration: none; line-height: 40px; border-radius: 2px; background-color: $color-borrowing; }
		}
	}
}



/* GUIDE POPUP */
.popup.guide-popup { position: absolute; z-index: z("modaless"); padding: 40px 25px 43px 38px; text-align: left; border: 1px solid #d4dae4; background-color: #fff;
	&:before { content: ''; position: absolute; top: -$sprite-bg-arrow10-height; @include sprite($sprite-bg-arrow10); }
	.btn-popup-close { position: absolute; top: 13px; right: 13px; }

	strong, em { color: $color-menu1-hover; }

	h1 { display: block; position: relative; padding: 0 0 0 38px; font-size: 1.000em; font-weight: normal; color: $color-menu1-hover;
		&:before { content: ''; display: block; position: absolute; bottom: 0; left: 0; @include sprite($sprite-icon-check06); }
	}
	h1.normal { padding: 0; font-size: 0.875em; font-weight: normal; color: $color-title;
		&:before { content: none; }
	}

	h2 { margin-top: 36px; font-size: 0.875em; font-weight: normal; color: $color-title; }
	.contents { padding-top: 7px; font-size: 0.750em; color: $color-content; line-height: 18px;
		p { margin-top: 8px; }
		.btn-shortcut { color: $color-title; text-decoration: underline; }
	}

	.list-warning { padding-top: 11px;
		> li { display: block; position: relative; margin-top: 14px; padding-left: 40px; font-size: 0.750em; color: $color-content; line-height: 18px;
			&:before { content: ''; display: block; position: absolute; top: 50%; left: 8px; margin-top: -$sprite-icon-iks01-height/2; @include sprite($sprite-icon-iks01); }
		}
	}

	.list-dot {
		> li { display: block; position: relative; margin-top: 14px; padding-left: 10px; font-size: 0.750em; color: $color-content; line-height: 18px;
			&:before { content: ''; display: block; position: absolute; top: 9px; left: 1px; margin-top: -1px; height: 2px; width: 2px; background-color: $color-content; }
		}
	}
}


.popup.find { position: relative; overflow: hidden; margin: 130px auto 0 auto; padding: 50px 209px 0px 209px; width: 740px; text-align: center; border: 1px solid #d4dae4; border-radius: 18px; background-color: #fff;

	.find-type-tab { overflow: hidden; margin-top: 14px; width: 100%;
		> a { display: block; box-sizing: border-box; float: left; padding: 21px 0 14px 0; height: 117px; width: 25%; font-size: 0.750em; color: $color-content; line-height: 16px; text-align: center; border: 1px solid #d4dae4; border-left: 0px;
			&:first-child { border-left: 1px solid #d4dae4; }
			&:before { content: ''; display: block; margin: 0 auto 8px auto; }
			&:hover { text-decoration: none; }

			&.selected { color: $color-title; border: 2px solid #3a99e8; }
			&.find01:before { @include sprite($sprite-icon-find01); }
			&.find01.selected:before { @include sprite($sprite-icon-find01-selected); }
			&.find02:before { @include sprite($sprite-icon-find02); }
			&.find02.selected:before { @include sprite($sprite-icon-find02-selected); }
			&.find03:before { @include sprite($sprite-icon-find03); }
			&.find03.selected:before { @include sprite($sprite-icon-find03-selected); }
			&.find04:before { @include sprite($sprite-icon-find04); }
			&.find04.selected:before { @include sprite($sprite-icon-find04-selected); }
		}

	}

	.shortcut { margin-top: 7px; text-align: right; }	

	.vertical-middle { min-height: 335px;
		display: -webkit-box;
		display: -moz-box;
		display: box;

		-webkit-box-orient: vertical;
		-moz-box-orient: vertical;
		box-orient: vertical;

		-webkit-box-pack: center;
		-moz-box-pack: center;
		box-pack: center;

		-webkit-box-align: center;
		-moz-box-align: center;
		box-align: center;
	}

	.membership-form { position: relative; margin: -15px auto 0 auto; width: 372px;
		.tooltip { left: 15px; }
		.aside { position: absolute; top: 0; right: -150px; } 	/* 인증번호 */
		.warning { margin-top: 19px; }
	}

	.btns { margin-top: 40px;
		.btn-submit { float: right; margin-top: 0px; width: 176px;
			&:first-child { float: left; }
		}
	}

	.complete-message {
		.message { display: inline-block; position: relative; padding: 0 0 0 38px; font-size: 1.000em; font-weight: normal; color: $color-title;
			&:before { content: ''; display: block; position: absolute; bottom: 0; left: 0; @include sprite($sprite-icon-check06); }
		}
	}

	.btn-submit { margin-top: 40px; }

	.list-notice { margin: 9px 0 0 0; text-align: center; }

	.addon { margin: 0 -209px; padding: 36px 0 45px 0; }


	/// 비밀번호 찾기
	&.info-pwd {
		.find-type-tab {
			> a {
				&.selected { border: 2px solid $color-menu1-hover; }
			}
		}

		.membership-form {
			.aside { top: 80px; right: -150px; } 	/* 인증번호 */
		}

		.btns { margin-top: 40px;
			a { width: 100%;
			}
		}
	
		.btn-submit-find { background-color: $color-menu1-hover; }
	}

}


.from-email { position: absolute; top: 0; right: 0; left: 0; width: 100%;
	.btn-main { position: absolute; top: 23px; left: 30px; }
	.vertical-middle { display: block!important; padding-top: 65px; min-height: 370px!important; }
}