/* Common Style */
* { margin: 0; padding: 0; }
/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, font, img, ins, q, s, samp, strike, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend { border: 0 none; }
body { position: relative; /*min-height: 800px;*/ min-width: 480px; margin: 0 auto; font-size: 100%; line-height: 100%; font-family: $font-stack;
	text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input { font-family: $font-stack; }
header, h1 { font-size: 100%; }
html, body { height: 100%; }
caption,legend { position: absolute; width:0; height: 0; font-size: 0; overflow: hidden; visibility: hidden; }
img { border: none; vertical-align: top; /*width: 100%;*/ }
select, input { vertical-align: top; }
hr { display: none; border: 0 none; }
ol, ul, ul li{ list-style: none; }
em { font-style: normal; }
menu li { list-style: none; }
address { display: inline; font-style: normal; }



/* link Style */
a:link, a:visited { text-decoration: none; }
a:hover, a:active, a:focus { /*outline: 0 none;*/ text-decoration: underline; }

.hidden { display: none; }
