/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-badge-done01-name: 'sprite-badge_done01';
$sprite-badge-done01-x: 0px;
$sprite-badge-done01-y: 298px;
$sprite-badge-done01-offset-x: 0px;
$sprite-badge-done01-offset-y: -298px;
$sprite-badge-done01-width: 73px;
$sprite-badge-done01-height: 46px;
$sprite-badge-done01-total-width: 494px;
$sprite-badge-done01-total-height: 436px;
$sprite-badge-done01-image: '/assets/images/sprites.png';
$sprite-badge-done01: (0px, 298px, 0px, -298px, 73px, 46px, 494px, 436px, '/assets/images/sprites.png', 'sprite-badge_done01', );
$sprite-badge-invest01-name: 'sprite-badge_invest01';
$sprite-badge-invest01-x: 276px;
$sprite-badge-invest01-y: 87px;
$sprite-badge-invest01-offset-x: -276px;
$sprite-badge-invest01-offset-y: -87px;
$sprite-badge-invest01-width: 82px;
$sprite-badge-invest01-height: 82px;
$sprite-badge-invest01-total-width: 494px;
$sprite-badge-invest01-total-height: 436px;
$sprite-badge-invest01-image: '/assets/images/sprites.png';
$sprite-badge-invest01: (276px, 87px, -276px, -87px, 82px, 82px, 494px, 436px, '/assets/images/sprites.png', 'sprite-badge_invest01', );
$sprite-badge-invest02-name: 'sprite-badge_invest02';
$sprite-badge-invest02-x: 276px;
$sprite-badge-invest02-y: 0px;
$sprite-badge-invest02-offset-x: -276px;
$sprite-badge-invest02-offset-y: 0px;
$sprite-badge-invest02-width: 82px;
$sprite-badge-invest02-height: 82px;
$sprite-badge-invest02-total-width: 494px;
$sprite-badge-invest02-total-height: 436px;
$sprite-badge-invest02-image: '/assets/images/sprites.png';
$sprite-badge-invest02: (276px, 0px, -276px, 0px, 82px, 82px, 494px, 436px, '/assets/images/sprites.png', 'sprite-badge_invest02', );
$sprite-badge-manager01-name: 'sprite-badge_manager01';
$sprite-badge-manager01-x: 156px;
$sprite-badge-manager01-y: 253px;
$sprite-badge-manager01-offset-x: -156px;
$sprite-badge-manager01-offset-y: -253px;
$sprite-badge-manager01-width: 140px;
$sprite-badge-manager01-height: 34px;
$sprite-badge-manager01-total-width: 494px;
$sprite-badge-manager01-total-height: 436px;
$sprite-badge-manager01-image: '/assets/images/sprites.png';
$sprite-badge-manager01: (156px, 253px, -156px, -253px, 140px, 34px, 494px, 436px, '/assets/images/sprites.png', 'sprite-badge_manager01', );
$sprite-badge-new01-name: 'sprite-badge_new01';
$sprite-badge-new01-x: 139px;
$sprite-badge-new01-y: 0px;
$sprite-badge-new01-offset-x: -139px;
$sprite-badge-new01-offset-y: 0px;
$sprite-badge-new01-width: 132px;
$sprite-badge-new01-height: 132px;
$sprite-badge-new01-total-width: 494px;
$sprite-badge-new01-total-height: 436px;
$sprite-badge-new01-image: '/assets/images/sprites.png';
$sprite-badge-new01: (139px, 0px, -139px, 0px, 132px, 132px, 494px, 436px, '/assets/images/sprites.png', 'sprite-badge_new01', );
$sprite-badge-new02-name: 'sprite-badge_new02';
$sprite-badge-new02-x: 0px;
$sprite-badge-new02-y: 0px;
$sprite-badge-new02-offset-x: 0px;
$sprite-badge-new02-offset-y: 0px;
$sprite-badge-new02-width: 134px;
$sprite-badge-new02-height: 133px;
$sprite-badge-new02-total-width: 494px;
$sprite-badge-new02-total-height: 436px;
$sprite-badge-new02-image: '/assets/images/sprites.png';
$sprite-badge-new02: (0px, 0px, 0px, 0px, 134px, 133px, 494px, 436px, '/assets/images/sprites.png', 'sprite-badge_new02', );
$sprite-badge-status01-name: 'sprite-badge_status01';
$sprite-badge-status01-x: 0px;
$sprite-badge-status01-y: 349px;
$sprite-badge-status01-offset-x: 0px;
$sprite-badge-status01-offset-y: -349px;
$sprite-badge-status01-width: 52px;
$sprite-badge-status01-height: 52px;
$sprite-badge-status01-total-width: 494px;
$sprite-badge-status01-total-height: 436px;
$sprite-badge-status01-image: '/assets/images/sprites.png';
$sprite-badge-status01: (0px, 349px, 0px, -349px, 52px, 52px, 494px, 436px, '/assets/images/sprites.png', 'sprite-badge_status01', );
$sprite-badge-status02-name: 'sprite-badge_status02';
$sprite-badge-status02-x: 57px;
$sprite-badge-status02-y: 349px;
$sprite-badge-status02-offset-x: -57px;
$sprite-badge-status02-offset-y: -349px;
$sprite-badge-status02-width: 52px;
$sprite-badge-status02-height: 52px;
$sprite-badge-status02-total-width: 494px;
$sprite-badge-status02-total-height: 436px;
$sprite-badge-status02-image: '/assets/images/sprites.png';
$sprite-badge-status02: (57px, 349px, -57px, -349px, 52px, 52px, 494px, 436px, '/assets/images/sprites.png', 'sprite-badge_status02', );
$sprite-badge-status03-name: 'sprite-badge_status03';
$sprite-badge-status03-x: 363px;
$sprite-badge-status03-y: 137px;
$sprite-badge-status03-offset-x: -363px;
$sprite-badge-status03-offset-y: -137px;
$sprite-badge-status03-width: 55px;
$sprite-badge-status03-height: 55px;
$sprite-badge-status03-total-width: 494px;
$sprite-badge-status03-total-height: 436px;
$sprite-badge-status03-image: '/assets/images/sprites.png';
$sprite-badge-status03: (363px, 137px, -363px, -137px, 55px, 55px, 494px, 436px, '/assets/images/sprites.png', 'sprite-badge_status03', );
$sprite-bg-arrow01-name: 'sprite-bg_arrow01';
$sprite-bg-arrow01-x: 477px;
$sprite-bg-arrow01-y: 70px;
$sprite-bg-arrow01-offset-x: -477px;
$sprite-bg-arrow01-offset-y: -70px;
$sprite-bg-arrow01-width: 3px;
$sprite-bg-arrow01-height: 3px;
$sprite-bg-arrow01-total-width: 494px;
$sprite-bg-arrow01-total-height: 436px;
$sprite-bg-arrow01-image: '/assets/images/sprites.png';
$sprite-bg-arrow01: (477px, 70px, -477px, -70px, 3px, 3px, 494px, 436px, '/assets/images/sprites.png', 'sprite-bg_arrow01', );
$sprite-bg-arrow02-name: 'sprite-bg_arrow02';
$sprite-bg-arrow02-x: 209px;
$sprite-bg-arrow02-y: 213px;
$sprite-bg-arrow02-offset-x: -209px;
$sprite-bg-arrow02-offset-y: -213px;
$sprite-bg-arrow02-width: 11px;
$sprite-bg-arrow02-height: 8px;
$sprite-bg-arrow02-total-width: 494px;
$sprite-bg-arrow02-total-height: 436px;
$sprite-bg-arrow02-image: '/assets/images/sprites.png';
$sprite-bg-arrow02: (209px, 213px, -209px, -213px, 11px, 8px, 494px, 436px, '/assets/images/sprites.png', 'sprite-bg_arrow02', );
$sprite-bg-arrow03-name: 'sprite-bg_arrow03';
$sprite-bg-arrow03-x: 308px;
$sprite-bg-arrow03-y: 349px;
$sprite-bg-arrow03-offset-x: -308px;
$sprite-bg-arrow03-offset-y: -349px;
$sprite-bg-arrow03-width: 11px;
$sprite-bg-arrow03-height: 18px;
$sprite-bg-arrow03-total-width: 494px;
$sprite-bg-arrow03-total-height: 436px;
$sprite-bg-arrow03-image: '/assets/images/sprites.png';
$sprite-bg-arrow03: (308px, 349px, -308px, -349px, 11px, 18px, 494px, 436px, '/assets/images/sprites.png', 'sprite-bg_arrow03', );
$sprite-bg-arrow04-name: 'sprite-bg_arrow04';
$sprite-bg-arrow04-x: 411px;
$sprite-bg-arrow04-y: 272px;
$sprite-bg-arrow04-offset-x: -411px;
$sprite-bg-arrow04-offset-y: -272px;
$sprite-bg-arrow04-width: 18px;
$sprite-bg-arrow04-height: 14px;
$sprite-bg-arrow04-total-width: 494px;
$sprite-bg-arrow04-total-height: 436px;
$sprite-bg-arrow04-image: '/assets/images/sprites.png';
$sprite-bg-arrow04: (411px, 272px, -411px, -272px, 18px, 14px, 494px, 436px, '/assets/images/sprites.png', 'sprite-bg_arrow04', );
$sprite-bg-arrow05-name: 'sprite-bg_arrow05';
$sprite-bg-arrow05-x: 484px;
$sprite-bg-arrow05-y: 324px;
$sprite-bg-arrow05-offset-x: -484px;
$sprite-bg-arrow05-offset-y: -324px;
$sprite-bg-arrow05-width: 6px;
$sprite-bg-arrow05-height: 6px;
$sprite-bg-arrow05-total-width: 494px;
$sprite-bg-arrow05-total-height: 436px;
$sprite-bg-arrow05-image: '/assets/images/sprites.png';
$sprite-bg-arrow05: (484px, 324px, -484px, -324px, 6px, 6px, 494px, 436px, '/assets/images/sprites.png', 'sprite-bg_arrow05', );
$sprite-bg-arrow06-name: 'sprite-bg_arrow06';
$sprite-bg-arrow06-x: 484px;
$sprite-bg-arrow06-y: 335px;
$sprite-bg-arrow06-offset-x: -484px;
$sprite-bg-arrow06-offset-y: -335px;
$sprite-bg-arrow06-width: 6px;
$sprite-bg-arrow06-height: 6px;
$sprite-bg-arrow06-total-width: 494px;
$sprite-bg-arrow06-total-height: 436px;
$sprite-bg-arrow06-image: '/assets/images/sprites.png';
$sprite-bg-arrow06: (484px, 335px, -484px, -335px, 6px, 6px, 494px, 436px, '/assets/images/sprites.png', 'sprite-bg_arrow06', );
$sprite-bg-circle01-name: 'sprite-bg_circle01';
$sprite-bg-circle01-x: 115px;
$sprite-bg-circle01-y: 138px;
$sprite-bg-circle01-offset-x: -115px;
$sprite-bg-circle01-offset-y: -138px;
$sprite-bg-circle01-width: 89px;
$sprite-bg-circle01-height: 89px;
$sprite-bg-circle01-total-width: 494px;
$sprite-bg-circle01-total-height: 436px;
$sprite-bg-circle01-image: '/assets/images/sprites.png';
$sprite-bg-circle01: (115px, 138px, -115px, -138px, 89px, 89px, 494px, 436px, '/assets/images/sprites.png', 'sprite-bg_circle01', );
$sprite-bg-circle01-big-name: 'sprite-bg_circle01_big';
$sprite-bg-circle01-big-x: 0px;
$sprite-bg-circle01-big-y: 138px;
$sprite-bg-circle01-big-offset-x: 0px;
$sprite-bg-circle01-big-offset-y: -138px;
$sprite-bg-circle01-big-width: 110px;
$sprite-bg-circle01-big-height: 110px;
$sprite-bg-circle01-big-total-width: 494px;
$sprite-bg-circle01-big-total-height: 436px;
$sprite-bg-circle01-big-image: '/assets/images/sprites.png';
$sprite-bg-circle01-big: (0px, 138px, 0px, -138px, 110px, 110px, 494px, 436px, '/assets/images/sprites.png', 'sprite-bg_circle01_big', );
$sprite-bg-invest01-name: 'sprite-bg_invest01';
$sprite-bg-invest01-x: 253px;
$sprite-bg-invest01-y: 138px;
$sprite-bg-invest01-offset-x: -253px;
$sprite-bg-invest01-offset-y: -138px;
$sprite-bg-invest01-width: 17px;
$sprite-bg-invest01-height: 30px;
$sprite-bg-invest01-total-width: 494px;
$sprite-bg-invest01-total-height: 436px;
$sprite-bg-invest01-image: '/assets/images/sprites.png';
$sprite-bg-invest01: (253px, 138px, -253px, -138px, 17px, 30px, 494px, 436px, '/assets/images/sprites.png', 'sprite-bg_invest01', );
$sprite-bg-invest02-name: 'sprite-bg_invest02';
$sprite-bg-invest02-x: 269px;
$sprite-bg-invest02-y: 298px;
$sprite-bg-invest02-offset-x: -269px;
$sprite-bg-invest02-offset-y: -298px;
$sprite-bg-invest02-width: 76px;
$sprite-bg-invest02-height: 30px;
$sprite-bg-invest02-total-width: 494px;
$sprite-bg-invest02-total-height: 436px;
$sprite-bg-invest02-image: '/assets/images/sprites.png';
$sprite-bg-invest02: (269px, 298px, -269px, -298px, 76px, 30px, 494px, 436px, '/assets/images/sprites.png', 'sprite-bg_invest02', );
$sprite-bg-invest03-name: 'sprite-bg_invest03';
$sprite-bg-invest03-x: 176px;
$sprite-bg-invest03-y: 298px;
$sprite-bg-invest03-offset-x: -176px;
$sprite-bg-invest03-offset-y: -298px;
$sprite-bg-invest03-width: 88px;
$sprite-bg-invest03-height: 30px;
$sprite-bg-invest03-total-width: 494px;
$sprite-bg-invest03-total-height: 436px;
$sprite-bg-invest03-image: '/assets/images/sprites.png';
$sprite-bg-invest03: (176px, 298px, -176px, -298px, 88px, 30px, 494px, 436px, '/assets/images/sprites.png', 'sprite-bg_invest03', );
$sprite-bg-invest04-name: 'sprite-bg_invest04';
$sprite-bg-invest04-x: 350px;
$sprite-bg-invest04-y: 298px;
$sprite-bg-invest04-offset-x: -350px;
$sprite-bg-invest04-offset-y: -298px;
$sprite-bg-invest04-width: 73px;
$sprite-bg-invest04-height: 30px;
$sprite-bg-invest04-total-width: 494px;
$sprite-bg-invest04-total-height: 436px;
$sprite-bg-invest04-image: '/assets/images/sprites.png';
$sprite-bg-invest04: (350px, 298px, -350px, -298px, 73px, 30px, 494px, 436px, '/assets/images/sprites.png', 'sprite-bg_invest04', );
$sprite-bg-invest05-name: 'sprite-bg_invest05';
$sprite-bg-invest05-x: 436px;
$sprite-bg-invest05-y: 163px;
$sprite-bg-invest05-offset-x: -436px;
$sprite-bg-invest05-offset-y: -163px;
$sprite-bg-invest05-width: 40px;
$sprite-bg-invest05-height: 30px;
$sprite-bg-invest05-total-width: 494px;
$sprite-bg-invest05-total-height: 436px;
$sprite-bg-invest05-image: '/assets/images/sprites.png';
$sprite-bg-invest05: (436px, 163px, -436px, -163px, 40px, 30px, 494px, 436px, '/assets/images/sprites.png', 'sprite-bg_invest05', );
$sprite-bg-invest06-name: 'sprite-bg_invest06';
$sprite-bg-invest06-x: 436px;
$sprite-bg-invest06-y: 0px;
$sprite-bg-invest06-offset-x: -436px;
$sprite-bg-invest06-offset-y: 0px;
$sprite-bg-invest06-width: 58px;
$sprite-bg-invest06-height: 30px;
$sprite-bg-invest06-total-width: 494px;
$sprite-bg-invest06-total-height: 436px;
$sprite-bg-invest06-image: '/assets/images/sprites.png';
$sprite-bg-invest06: (436px, 0px, -436px, 0px, 58px, 30px, 494px, 436px, '/assets/images/sprites.png', 'sprite-bg_invest06', );
$sprite-bg-overdue01-name: 'sprite-bg_overdue01';
$sprite-bg-overdue01-x: 477px;
$sprite-bg-overdue01-y: 35px;
$sprite-bg-overdue01-offset-x: -477px;
$sprite-bg-overdue01-offset-y: -35px;
$sprite-bg-overdue01-width: 17px;
$sprite-bg-overdue01-height: 30px;
$sprite-bg-overdue01-total-width: 494px;
$sprite-bg-overdue01-total-height: 436px;
$sprite-bg-overdue01-image: '/assets/images/sprites.png';
$sprite-bg-overdue01: (477px, 35px, -477px, -35px, 17px, 30px, 494px, 436px, '/assets/images/sprites.png', 'sprite-bg_overdue01', );
$sprite-bg-overdue02-name: 'sprite-bg_overdue02';
$sprite-bg-overdue02-x: 436px;
$sprite-bg-overdue02-y: 198px;
$sprite-bg-overdue02-offset-x: -436px;
$sprite-bg-overdue02-offset-y: -198px;
$sprite-bg-overdue02-width: 24px;
$sprite-bg-overdue02-height: 30px;
$sprite-bg-overdue02-total-width: 494px;
$sprite-bg-overdue02-total-height: 436px;
$sprite-bg-overdue02-image: '/assets/images/sprites.png';
$sprite-bg-overdue02: (436px, 198px, -436px, -198px, 24px, 30px, 494px, 436px, '/assets/images/sprites.png', 'sprite-bg_overdue02', );
$sprite-bg-overdue03-name: 'sprite-bg_overdue03';
$sprite-bg-overdue03-x: 436px;
$sprite-bg-overdue03-y: 359px;
$sprite-bg-overdue03-offset-x: -436px;
$sprite-bg-overdue03-offset-y: -359px;
$sprite-bg-overdue03-width: 19px;
$sprite-bg-overdue03-height: 30px;
$sprite-bg-overdue03-total-width: 494px;
$sprite-bg-overdue03-total-height: 436px;
$sprite-bg-overdue03-image: '/assets/images/sprites.png';
$sprite-bg-overdue03: (436px, 359px, -436px, -359px, 19px, 30px, 494px, 436px, '/assets/images/sprites.png', 'sprite-bg_overdue03', );
$sprite-bg-overdue04-name: 'sprite-bg_overdue04';
$sprite-bg-overdue04-x: 436px;
$sprite-bg-overdue04-y: 324px;
$sprite-bg-overdue04-offset-x: -436px;
$sprite-bg-overdue04-offset-y: -324px;
$sprite-bg-overdue04-width: 19px;
$sprite-bg-overdue04-height: 30px;
$sprite-bg-overdue04-total-width: 494px;
$sprite-bg-overdue04-total-height: 436px;
$sprite-bg-overdue04-image: '/assets/images/sprites.png';
$sprite-bg-overdue04: (436px, 324px, -436px, -324px, 19px, 30px, 494px, 436px, '/assets/images/sprites.png', 'sprite-bg_overdue04', );
$sprite-bg-overdue05-name: 'sprite-bg_overdue05';
$sprite-bg-overdue05-x: 460px;
$sprite-bg-overdue05-y: 324px;
$sprite-bg-overdue05-offset-x: -460px;
$sprite-bg-overdue05-offset-y: -324px;
$sprite-bg-overdue05-width: 19px;
$sprite-bg-overdue05-height: 30px;
$sprite-bg-overdue05-total-width: 494px;
$sprite-bg-overdue05-total-height: 436px;
$sprite-bg-overdue05-image: '/assets/images/sprites.png';
$sprite-bg-overdue05: (460px, 324px, -460px, -324px, 19px, 30px, 494px, 436px, '/assets/images/sprites.png', 'sprite-bg_overdue05', );
$sprite-bg-star01-name: 'sprite-bg_star01';
$sprite-bg-star01-x: 387px;
$sprite-bg-star01-y: 272px;
$sprite-bg-star01-offset-x: -387px;
$sprite-bg-star01-offset-y: -272px;
$sprite-bg-star01-width: 19px;
$sprite-bg-star01-height: 18px;
$sprite-bg-star01-total-width: 494px;
$sprite-bg-star01-total-height: 436px;
$sprite-bg-star01-image: '/assets/images/sprites.png';
$sprite-bg-star01: (387px, 272px, -387px, -272px, 19px, 18px, 494px, 436px, '/assets/images/sprites.png', 'sprite-bg_star01', );
$sprite-bg-star01-selected-name: 'sprite-bg_star01_selected';
$sprite-bg-star01-selected-x: 363px;
$sprite-bg-star01-selected-y: 272px;
$sprite-bg-star01-selected-offset-x: -363px;
$sprite-bg-star01-selected-offset-y: -272px;
$sprite-bg-star01-selected-width: 19px;
$sprite-bg-star01-selected-height: 18px;
$sprite-bg-star01-selected-total-width: 494px;
$sprite-bg-star01-selected-total-height: 436px;
$sprite-bg-star01-selected-image: '/assets/images/sprites.png';
$sprite-bg-star01-selected: (363px, 272px, -363px, -272px, 19px, 18px, 494px, 436px, '/assets/images/sprites.png', 'sprite-bg_star01_selected', );
$sprite-bg-tooltip01-name: 'sprite-bg_tooltip01';
$sprite-bg-tooltip01-x: 78px;
$sprite-bg-tooltip01-y: 298px;
$sprite-bg-tooltip01-offset-x: -78px;
$sprite-bg-tooltip01-offset-y: -298px;
$sprite-bg-tooltip01-width: 93px;
$sprite-bg-tooltip01-height: 32px;
$sprite-bg-tooltip01-total-width: 494px;
$sprite-bg-tooltip01-total-height: 436px;
$sprite-bg-tooltip01-image: '/assets/images/sprites.png';
$sprite-bg-tooltip01: (78px, 298px, -78px, -298px, 93px, 32px, 494px, 436px, '/assets/images/sprites.png', 'sprite-bg_tooltip01', );
$sprite-btn-blog01-name: 'sprite-btn_blog01';
$sprite-btn-blog01-x: 465px;
$sprite-btn-blog01-y: 233px;
$sprite-btn-blog01-offset-x: -465px;
$sprite-btn-blog01-offset-y: -233px;
$sprite-btn-blog01-width: 24px;
$sprite-btn-blog01-height: 28px;
$sprite-btn-blog01-total-width: 494px;
$sprite-btn-blog01-total-height: 436px;
$sprite-btn-blog01-image: '/assets/images/sprites.png';
$sprite-btn-blog01: (465px, 233px, -465px, -233px, 24px, 28px, 494px, 436px, '/assets/images/sprites.png', 'sprite-btn_blog01', );
$sprite-btn-facebook01-name: 'sprite-btn_facebook01';
$sprite-btn-facebook01-x: 465px;
$sprite-btn-facebook01-y: 198px;
$sprite-btn-facebook01-offset-x: -465px;
$sprite-btn-facebook01-offset-y: -198px;
$sprite-btn-facebook01-width: 24px;
$sprite-btn-facebook01-height: 28px;
$sprite-btn-facebook01-total-width: 494px;
$sprite-btn-facebook01-total-height: 436px;
$sprite-btn-facebook01-image: '/assets/images/sprites.png';
$sprite-btn-facebook01: (465px, 198px, -465px, -198px, 24px, 28px, 494px, 436px, '/assets/images/sprites.png', 'sprite-btn_facebook01', );
$sprite-btn-help01-name: 'sprite-btn_help01';
$sprite-btn-help01-x: 465px;
$sprite-btn-help01-y: 295px;
$sprite-btn-help01-offset-x: -465px;
$sprite-btn-help01-offset-y: -295px;
$sprite-btn-help01-width: 23px;
$sprite-btn-help01-height: 23px;
$sprite-btn-help01-total-width: 494px;
$sprite-btn-help01-total-height: 436px;
$sprite-btn-help01-image: '/assets/images/sprites.png';
$sprite-btn-help01: (465px, 295px, -465px, -295px, 23px, 23px, 494px, 436px, '/assets/images/sprites.png', 'sprite-btn_help01', );
$sprite-btn-kakao01-name: 'sprite-btn_kakao01';
$sprite-btn-kakao01-x: 436px;
$sprite-btn-kakao01-y: 233px;
$sprite-btn-kakao01-offset-x: -436px;
$sprite-btn-kakao01-offset-y: -233px;
$sprite-btn-kakao01-width: 24px;
$sprite-btn-kakao01-height: 28px;
$sprite-btn-kakao01-total-width: 494px;
$sprite-btn-kakao01-total-height: 436px;
$sprite-btn-kakao01-image: '/assets/images/sprites.png';
$sprite-btn-kakao01: (436px, 233px, -436px, -233px, 24px, 28px, 494px, 436px, '/assets/images/sprites.png', 'sprite-btn_kakao01', );
$sprite-btn-next01-name: 'sprite-btn_next01';
$sprite-btn-next01-x: 363px;
$sprite-btn-next01-y: 197px;
$sprite-btn-next01-offset-x: -363px;
$sprite-btn-next01-offset-y: -197px;
$sprite-btn-next01-width: 39px;
$sprite-btn-next01-height: 70px;
$sprite-btn-next01-total-width: 494px;
$sprite-btn-next01-total-height: 436px;
$sprite-btn-next01-image: '/assets/images/sprites.png';
$sprite-btn-next01: (363px, 197px, -363px, -197px, 39px, 70px, 494px, 436px, '/assets/images/sprites.png', 'sprite-btn_next01', );
$sprite-btn-play01-name: 'sprite-btn_play01';
$sprite-btn-play01-x: 276px;
$sprite-btn-play01-y: 174px;
$sprite-btn-play01-offset-x: -276px;
$sprite-btn-play01-offset-y: -174px;
$sprite-btn-play01-width: 68px;
$sprite-btn-play01-height: 66px;
$sprite-btn-play01-total-width: 494px;
$sprite-btn-play01-total-height: 436px;
$sprite-btn-play01-image: '/assets/images/sprites.png';
$sprite-btn-play01: (276px, 174px, -276px, -174px, 68px, 66px, 494px, 436px, '/assets/images/sprites.png', 'sprite-btn_play01', );
$sprite-btn-play01-highlights-name: 'sprite-btn_play01_highlights';
$sprite-btn-play01-highlights-x: 363px;
$sprite-btn-play01-highlights-y: 0px;
$sprite-btn-play01-highlights-offset-x: -363px;
$sprite-btn-play01-highlights-offset-y: 0px;
$sprite-btn-play01-highlights-width: 68px;
$sprite-btn-play01-highlights-height: 66px;
$sprite-btn-play01-highlights-total-width: 494px;
$sprite-btn-play01-highlights-total-height: 436px;
$sprite-btn-play01-highlights-image: '/assets/images/sprites.png';
$sprite-btn-play01-highlights: (363px, 0px, -363px, 0px, 68px, 66px, 494px, 436px, '/assets/images/sprites.png', 'sprite-btn_play01_highlights', );
$sprite-btn-prev01-name: 'sprite-btn_prev01';
$sprite-btn-prev01-x: 209px;
$sprite-btn-prev01-y: 138px;
$sprite-btn-prev01-offset-x: -209px;
$sprite-btn-prev01-offset-y: -138px;
$sprite-btn-prev01-width: 39px;
$sprite-btn-prev01-height: 70px;
$sprite-btn-prev01-total-width: 494px;
$sprite-btn-prev01-total-height: 436px;
$sprite-btn-prev01-image: '/assets/images/sprites.png';
$sprite-btn-prev01: (209px, 138px, -209px, -138px, 39px, 70px, 494px, 436px, '/assets/images/sprites.png', 'sprite-btn_prev01', );
$sprite-btn-tip01-name: 'sprite-btn_tip01';
$sprite-btn-tip01-x: 166px;
$sprite-btn-tip01-y: 349px;
$sprite-btn-tip01-offset-x: -166px;
$sprite-btn-tip01-offset-y: -349px;
$sprite-btn-tip01-width: 66px;
$sprite-btn-tip01-height: 28px;
$sprite-btn-tip01-total-width: 494px;
$sprite-btn-tip01-total-height: 436px;
$sprite-btn-tip01-image: '/assets/images/sprites.png';
$sprite-btn-tip01: (166px, 349px, -166px, -349px, 66px, 28px, 494px, 436px, '/assets/images/sprites.png', 'sprite-btn_tip01', );
$sprite-btn-tip01-higilights-name: 'sprite-btn_tip01_higilights';
$sprite-btn-tip01-higilights-x: 237px;
$sprite-btn-tip01-higilights-y: 349px;
$sprite-btn-tip01-higilights-offset-x: -237px;
$sprite-btn-tip01-higilights-offset-y: -349px;
$sprite-btn-tip01-higilights-width: 66px;
$sprite-btn-tip01-higilights-height: 28px;
$sprite-btn-tip01-higilights-total-width: 494px;
$sprite-btn-tip01-higilights-total-height: 436px;
$sprite-btn-tip01-higilights-image: '/assets/images/sprites.png';
$sprite-btn-tip01-higilights: (237px, 349px, -237px, -349px, 66px, 28px, 494px, 436px, '/assets/images/sprites.png', 'sprite-btn_tip01_higilights', );
$sprite-btn-top01-name: 'sprite-btn_top01';
$sprite-btn-top01-x: 436px;
$sprite-btn-top01-y: 80px;
$sprite-btn-top01-offset-x: -436px;
$sprite-btn-top01-offset-y: -80px;
$sprite-btn-top01-width: 37px;
$sprite-btn-top01-height: 37px;
$sprite-btn-top01-total-width: 494px;
$sprite-btn-top01-total-height: 436px;
$sprite-btn-top01-image: '/assets/images/sprites.png';
$sprite-btn-top01: (436px, 80px, -436px, -80px, 37px, 37px, 494px, 436px, '/assets/images/sprites.png', 'sprite-btn_top01', );
$sprite-cnt-bid0-name: 'sprite-cnt_bid0';
$sprite-cnt-bid0-x: 301px;
$sprite-cnt-bid0-y: 253px;
$sprite-cnt-bid0-offset-x: -301px;
$sprite-cnt-bid0-offset-y: -253px;
$sprite-cnt-bid0-width: 16px;
$sprite-cnt-bid0-height: 30px;
$sprite-cnt-bid0-total-width: 494px;
$sprite-cnt-bid0-total-height: 436px;
$sprite-cnt-bid0-image: '/assets/images/sprites.png';
$sprite-cnt-bid0: (301px, 253px, -301px, -253px, 16px, 30px, 494px, 436px, '/assets/images/sprites.png', 'sprite-cnt_bid0', );
$sprite-cnt-bid1-name: 'sprite-cnt_bid1';
$sprite-cnt-bid1-x: 481px;
$sprite-cnt-bid1-y: 163px;
$sprite-cnt-bid1-offset-x: -481px;
$sprite-cnt-bid1-offset-y: -163px;
$sprite-cnt-bid1-width: 9px;
$sprite-cnt-bid1-height: 30px;
$sprite-cnt-bid1-total-width: 494px;
$sprite-cnt-bid1-total-height: 436px;
$sprite-cnt-bid1-image: '/assets/images/sprites.png';
$sprite-cnt-bid1: (481px, 163px, -481px, -163px, 9px, 30px, 494px, 436px, '/assets/images/sprites.png', 'sprite-cnt_bid1', );
$sprite-cnt-bid2-name: 'sprite-cnt_bid2';
$sprite-cnt-bid2-x: 478px;
$sprite-cnt-bid2-y: 80px;
$sprite-cnt-bid2-offset-x: -478px;
$sprite-cnt-bid2-offset-y: -80px;
$sprite-cnt-bid2-width: 16px;
$sprite-cnt-bid2-height: 30px;
$sprite-cnt-bid2-total-width: 494px;
$sprite-cnt-bid2-total-height: 436px;
$sprite-cnt-bid2-image: '/assets/images/sprites.png';
$sprite-cnt-bid2: (478px, 80px, -478px, -80px, 16px, 30px, 494px, 436px, '/assets/images/sprites.png', 'sprite-cnt_bid2', );
$sprite-cnt-bid3-name: 'sprite-cnt_bid3';
$sprite-cnt-bid3-x: 407px;
$sprite-cnt-bid3-y: 232px;
$sprite-cnt-bid3-offset-x: -407px;
$sprite-cnt-bid3-offset-y: -232px;
$sprite-cnt-bid3-width: 17px;
$sprite-cnt-bid3-height: 30px;
$sprite-cnt-bid3-total-width: 494px;
$sprite-cnt-bid3-total-height: 436px;
$sprite-cnt-bid3-image: '/assets/images/sprites.png';
$sprite-cnt-bid3: (407px, 232px, -407px, -232px, 17px, 30px, 494px, 436px, '/assets/images/sprites.png', 'sprite-cnt_bid3', );
$sprite-cnt-bid4-name: 'sprite-cnt_bid4';
$sprite-cnt-bid4-x: 407px;
$sprite-cnt-bid4-y: 197px;
$sprite-cnt-bid4-offset-x: -407px;
$sprite-cnt-bid4-offset-y: -197px;
$sprite-cnt-bid4-width: 17px;
$sprite-cnt-bid4-height: 30px;
$sprite-cnt-bid4-total-width: 494px;
$sprite-cnt-bid4-total-height: 436px;
$sprite-cnt-bid4-image: '/assets/images/sprites.png';
$sprite-cnt-bid4: (407px, 197px, -407px, -197px, 17px, 30px, 494px, 436px, '/assets/images/sprites.png', 'sprite-cnt_bid4', );
$sprite-cnt-bid5-name: 'sprite-cnt_bid5';
$sprite-cnt-bid5-x: 478px;
$sprite-cnt-bid5-y: 122px;
$sprite-cnt-bid5-offset-x: -478px;
$sprite-cnt-bid5-offset-y: -122px;
$sprite-cnt-bid5-width: 16px;
$sprite-cnt-bid5-height: 30px;
$sprite-cnt-bid5-total-width: 494px;
$sprite-cnt-bid5-total-height: 436px;
$sprite-cnt-bid5-image: '/assets/images/sprites.png';
$sprite-cnt-bid5: (478px, 122px, -478px, -122px, 16px, 30px, 494px, 436px, '/assets/images/sprites.png', 'sprite-cnt_bid5', );
$sprite-cnt-bid6-name: 'sprite-cnt_bid6';
$sprite-cnt-bid6-x: 253px;
$sprite-cnt-bid6-y: 173px;
$sprite-cnt-bid6-offset-x: -253px;
$sprite-cnt-bid6-offset-y: -173px;
$sprite-cnt-bid6-width: 16px;
$sprite-cnt-bid6-height: 30px;
$sprite-cnt-bid6-total-width: 494px;
$sprite-cnt-bid6-total-height: 436px;
$sprite-cnt-bid6-image: '/assets/images/sprites.png';
$sprite-cnt-bid6: (253px, 173px, -253px, -173px, 16px, 30px, 494px, 436px, '/assets/images/sprites.png', 'sprite-cnt_bid6', );
$sprite-cnt-bid7-name: 'sprite-cnt_bid7';
$sprite-cnt-bid7-x: 343px;
$sprite-cnt-bid7-y: 253px;
$sprite-cnt-bid7-offset-x: -343px;
$sprite-cnt-bid7-offset-y: -253px;
$sprite-cnt-bid7-width: 15px;
$sprite-cnt-bid7-height: 30px;
$sprite-cnt-bid7-total-width: 494px;
$sprite-cnt-bid7-total-height: 436px;
$sprite-cnt-bid7-image: '/assets/images/sprites.png';
$sprite-cnt-bid7: (343px, 253px, -343px, -253px, 15px, 30px, 494px, 436px, '/assets/images/sprites.png', 'sprite-cnt_bid7', );
$sprite-cnt-bid8-name: 'sprite-cnt_bid8';
$sprite-cnt-bid8-x: 0px;
$sprite-cnt-bid8-y: 406px;
$sprite-cnt-bid8-offset-x: 0px;
$sprite-cnt-bid8-offset-y: -406px;
$sprite-cnt-bid8-width: 16px;
$sprite-cnt-bid8-height: 30px;
$sprite-cnt-bid8-total-width: 494px;
$sprite-cnt-bid8-total-height: 436px;
$sprite-cnt-bid8-image: '/assets/images/sprites.png';
$sprite-cnt-bid8: (0px, 406px, 0px, -406px, 16px, 30px, 494px, 436px, '/assets/images/sprites.png', 'sprite-cnt_bid8', );
$sprite-cnt-bid9-name: 'sprite-cnt_bid9';
$sprite-cnt-bid9-x: 322px;
$sprite-cnt-bid9-y: 253px;
$sprite-cnt-bid9-offset-x: -322px;
$sprite-cnt-bid9-offset-y: -253px;
$sprite-cnt-bid9-width: 16px;
$sprite-cnt-bid9-height: 30px;
$sprite-cnt-bid9-total-width: 494px;
$sprite-cnt-bid9-total-height: 436px;
$sprite-cnt-bid9-image: '/assets/images/sprites.png';
$sprite-cnt-bid9: (322px, 253px, -322px, -253px, 16px, 30px, 494px, 436px, '/assets/images/sprites.png', 'sprite-cnt_bid9', );
$sprite-icon-calc01-name: 'sprite-icon_calc01';
$sprite-icon-calc01-x: 460px;
$sprite-icon-calc01-y: 359px;
$sprite-icon-calc01-offset-x: -460px;
$sprite-icon-calc01-offset-y: -359px;
$sprite-icon-calc01-width: 21px;
$sprite-icon-calc01-height: 25px;
$sprite-icon-calc01-total-width: 494px;
$sprite-icon-calc01-total-height: 436px;
$sprite-icon-calc01-image: '/assets/images/sprites.png';
$sprite-icon-calc01: (460px, 359px, -460px, -359px, 21px, 25px, 494px, 436px, '/assets/images/sprites.png', 'sprite-icon_calc01', );
$sprite-icon-fb01-name: 'sprite-icon_fb01';
$sprite-icon-fb01-x: 436px;
$sprite-icon-fb01-y: 266px;
$sprite-icon-fb01-offset-x: -436px;
$sprite-icon-fb01-offset-y: -266px;
$sprite-icon-fb01-width: 24px;
$sprite-icon-fb01-height: 24px;
$sprite-icon-fb01-total-width: 494px;
$sprite-icon-fb01-total-height: 436px;
$sprite-icon-fb01-image: '/assets/images/sprites.png';
$sprite-icon-fb01: (436px, 266px, -436px, -266px, 24px, 24px, 494px, 436px, '/assets/images/sprites.png', 'sprite-icon_fb01', );
$sprite-icon-feature01-name: 'sprite-icon_feature01';
$sprite-icon-feature01-x: 436px;
$sprite-icon-feature01-y: 122px;
$sprite-icon-feature01-offset-x: -436px;
$sprite-icon-feature01-offset-y: -122px;
$sprite-icon-feature01-width: 37px;
$sprite-icon-feature01-height: 36px;
$sprite-icon-feature01-total-width: 494px;
$sprite-icon-feature01-total-height: 436px;
$sprite-icon-feature01-image: '/assets/images/sprites.png';
$sprite-icon-feature01: (436px, 122px, -436px, -122px, 37px, 36px, 494px, 436px, '/assets/images/sprites.png', 'sprite-icon_feature01', );
$sprite-icon-feature02-name: 'sprite-icon_feature02';
$sprite-icon-feature02-x: 114px;
$sprite-icon-feature02-y: 349px;
$sprite-icon-feature02-offset-x: -114px;
$sprite-icon-feature02-offset-y: -349px;
$sprite-icon-feature02-width: 47px;
$sprite-icon-feature02-height: 48px;
$sprite-icon-feature02-total-width: 494px;
$sprite-icon-feature02-total-height: 436px;
$sprite-icon-feature02-image: '/assets/images/sprites.png';
$sprite-icon-feature02: (114px, 349px, -114px, -349px, 47px, 48px, 494px, 436px, '/assets/images/sprites.png', 'sprite-icon_feature02', );
$sprite-icon-feature03-name: 'sprite-icon_feature03';
$sprite-icon-feature03-x: 363px;
$sprite-icon-feature03-y: 71px;
$sprite-icon-feature03-offset-x: -363px;
$sprite-icon-feature03-offset-y: -71px;
$sprite-icon-feature03-width: 62px;
$sprite-icon-feature03-height: 61px;
$sprite-icon-feature03-total-width: 494px;
$sprite-icon-feature03-total-height: 436px;
$sprite-icon-feature03-image: '/assets/images/sprites.png';
$sprite-icon-feature03: (363px, 71px, -363px, -71px, 62px, 61px, 494px, 436px, '/assets/images/sprites.png', 'sprite-icon_feature03', );
$sprite-icon-feature04-name: 'sprite-icon_feature04';
$sprite-icon-feature04-x: 436px;
$sprite-icon-feature04-y: 35px;
$sprite-icon-feature04-offset-x: -436px;
$sprite-icon-feature04-offset-y: -35px;
$sprite-icon-feature04-width: 36px;
$sprite-icon-feature04-height: 40px;
$sprite-icon-feature04-total-width: 494px;
$sprite-icon-feature04-total-height: 436px;
$sprite-icon-feature04-image: '/assets/images/sprites.png';
$sprite-icon-feature04: (436px, 35px, -436px, -35px, 36px, 40px, 494px, 436px, '/assets/images/sprites.png', 'sprite-icon_feature04', );
$sprite-icon-ks01-name: 'sprite-icon_ks01';
$sprite-icon-ks01-x: 436px;
$sprite-icon-ks01-y: 295px;
$sprite-icon-ks01-offset-x: -436px;
$sprite-icon-ks01-offset-y: -295px;
$sprite-icon-ks01-width: 24px;
$sprite-icon-ks01-height: 24px;
$sprite-icon-ks01-total-width: 494px;
$sprite-icon-ks01-total-height: 436px;
$sprite-icon-ks01-image: '/assets/images/sprites.png';
$sprite-icon-ks01: (436px, 295px, -436px, -295px, 24px, 24px, 494px, 436px, '/assets/images/sprites.png', 'sprite-icon_ks01', );
$sprite-icon-tw01-name: 'sprite-icon_tw01';
$sprite-icon-tw01-x: 465px;
$sprite-icon-tw01-y: 266px;
$sprite-icon-tw01-offset-x: -465px;
$sprite-icon-tw01-offset-y: -266px;
$sprite-icon-tw01-width: 24px;
$sprite-icon-tw01-height: 24px;
$sprite-icon-tw01-total-width: 494px;
$sprite-icon-tw01-total-height: 436px;
$sprite-icon-tw01-image: '/assets/images/sprites.png';
$sprite-icon-tw01: (465px, 266px, -465px, -266px, 24px, 24px, 494px, 436px, '/assets/images/sprites.png', 'sprite-icon_tw01', );
$sprite-popfunding-name: 'sprite-popfunding';
$sprite-popfunding-x: 0px;
$sprite-popfunding-y: 253px;
$sprite-popfunding-offset-x: 0px;
$sprite-popfunding-offset-y: -253px;
$sprite-popfunding-width: 151px;
$sprite-popfunding-height: 40px;
$sprite-popfunding-total-width: 494px;
$sprite-popfunding-total-height: 436px;
$sprite-popfunding-image: '/assets/images/sprites.png';
$sprite-popfunding: (0px, 253px, 0px, -253px, 151px, 40px, 494px, 436px, '/assets/images/sprites.png', 'sprite-popfunding', );
$spritesheet-width: 494px;
$spritesheet-height: 436px;
$spritesheet-image: '/assets/images/sprites.png';
$spritesheet-sprites: ($sprite-badge-done01, $sprite-badge-invest01, $sprite-badge-invest02, $sprite-badge-manager01, $sprite-badge-new01, $sprite-badge-new02, $sprite-badge-status01, $sprite-badge-status02, $sprite-badge-status03, $sprite-bg-arrow01, $sprite-bg-arrow02, $sprite-bg-arrow03, $sprite-bg-arrow04, $sprite-bg-arrow05, $sprite-bg-arrow06, $sprite-bg-circle01, $sprite-bg-circle01-big, $sprite-bg-invest01, $sprite-bg-invest02, $sprite-bg-invest03, $sprite-bg-invest04, $sprite-bg-invest05, $sprite-bg-invest06, $sprite-bg-overdue01, $sprite-bg-overdue02, $sprite-bg-overdue03, $sprite-bg-overdue04, $sprite-bg-overdue05, $sprite-bg-star01, $sprite-bg-star01-selected, $sprite-bg-tooltip01, $sprite-btn-blog01, $sprite-btn-facebook01, $sprite-btn-help01, $sprite-btn-kakao01, $sprite-btn-next01, $sprite-btn-play01, $sprite-btn-play01-highlights, $sprite-btn-prev01, $sprite-btn-tip01, $sprite-btn-tip01-higilights, $sprite-btn-top01, $sprite-cnt-bid0, $sprite-cnt-bid1, $sprite-cnt-bid2, $sprite-cnt-bid3, $sprite-cnt-bid4, $sprite-cnt-bid5, $sprite-cnt-bid6, $sprite-cnt-bid7, $sprite-cnt-bid8, $sprite-cnt-bid9, $sprite-icon-calc01, $sprite-icon-fb01, $sprite-icon-feature01, $sprite-icon-feature02, $sprite-icon-feature03, $sprite-icon-feature04, $sprite-icon-ks01, $sprite-icon-tw01, $sprite-popfunding, );
$spritesheet: (494px, 436px, '/assets/images/sprites.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
