/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-badge-done01-name: 'sprite-badge_done01';
$sprite-badge-done01-x: 224px;
$sprite-badge-done01-y: 45px;
$sprite-badge-done01-offset-x: -224px;
$sprite-badge-done01-offset-y: -45px;
$sprite-badge-done01-width: 73px;
$sprite-badge-done01-height: 46px;
$sprite-badge-done01-total-width: 375px;
$sprite-badge-done01-total-height: 219px;
$sprite-badge-done01-image: '/assets/images/sprites.png';
$sprite-badge-done01: (224px, 45px, -224px, -45px, 73px, 46px, 375px, 219px, '/assets/images/sprites.png', 'sprite-badge_done01', );
$sprite-badge-invest01-name: 'sprite-badge_invest01';
$sprite-badge-invest01-x: 0px;
$sprite-badge-invest01-y: 137px;
$sprite-badge-invest01-offset-x: 0px;
$sprite-badge-invest01-offset-y: -137px;
$sprite-badge-invest01-width: 82px;
$sprite-badge-invest01-height: 82px;
$sprite-badge-invest01-total-width: 375px;
$sprite-badge-invest01-total-height: 219px;
$sprite-badge-invest01-image: '/assets/images/sprites.png';
$sprite-badge-invest01: (0px, 137px, 0px, -137px, 82px, 82px, 375px, 219px, '/assets/images/sprites.png', 'sprite-badge_invest01', );
$sprite-badge-invest02-name: 'sprite-badge_invest02';
$sprite-badge-invest02-x: 137px;
$sprite-badge-invest02-y: 0px;
$sprite-badge-invest02-offset-x: -137px;
$sprite-badge-invest02-offset-y: 0px;
$sprite-badge-invest02-width: 82px;
$sprite-badge-invest02-height: 82px;
$sprite-badge-invest02-total-width: 375px;
$sprite-badge-invest02-total-height: 219px;
$sprite-badge-invest02-image: '/assets/images/sprites.png';
$sprite-badge-invest02: (137px, 0px, -137px, 0px, 82px, 82px, 375px, 219px, '/assets/images/sprites.png', 'sprite-badge_invest02', );
$sprite-badge-new01-name: 'sprite-badge_new01';
$sprite-badge-new01-x: 0px;
$sprite-badge-new01-y: 0px;
$sprite-badge-new01-offset-x: 0px;
$sprite-badge-new01-offset-y: 0px;
$sprite-badge-new01-width: 132px;
$sprite-badge-new01-height: 132px;
$sprite-badge-new01-total-width: 375px;
$sprite-badge-new01-total-height: 219px;
$sprite-badge-new01-image: '/assets/images/sprites.png';
$sprite-badge-new01: (0px, 0px, 0px, 0px, 132px, 132px, 375px, 219px, '/assets/images/sprites.png', 'sprite-badge_new01', );
$sprite-badge-status01-name: 'sprite-badge_status01';
$sprite-badge-status01-x: 224px;
$sprite-badge-status01-y: 156px;
$sprite-badge-status01-offset-x: -224px;
$sprite-badge-status01-offset-y: -156px;
$sprite-badge-status01-width: 52px;
$sprite-badge-status01-height: 52px;
$sprite-badge-status01-total-width: 375px;
$sprite-badge-status01-total-height: 219px;
$sprite-badge-status01-image: '/assets/images/sprites.png';
$sprite-badge-status01: (224px, 156px, -224px, -156px, 52px, 52px, 375px, 219px, '/assets/images/sprites.png', 'sprite-badge_status01', );
$sprite-badge-status02-name: 'sprite-badge_status02';
$sprite-badge-status02-x: 284px;
$sprite-badge-status02-y: 96px;
$sprite-badge-status02-offset-x: -284px;
$sprite-badge-status02-offset-y: -96px;
$sprite-badge-status02-width: 52px;
$sprite-badge-status02-height: 52px;
$sprite-badge-status02-total-width: 375px;
$sprite-badge-status02-total-height: 219px;
$sprite-badge-status02-image: '/assets/images/sprites.png';
$sprite-badge-status02: (284px, 96px, -284px, -96px, 52px, 52px, 375px, 219px, '/assets/images/sprites.png', 'sprite-badge_status02', );
$sprite-badge-status03-name: 'sprite-badge_status03';
$sprite-badge-status03-x: 224px;
$sprite-badge-status03-y: 96px;
$sprite-badge-status03-offset-x: -224px;
$sprite-badge-status03-offset-y: -96px;
$sprite-badge-status03-width: 55px;
$sprite-badge-status03-height: 55px;
$sprite-badge-status03-total-width: 375px;
$sprite-badge-status03-total-height: 219px;
$sprite-badge-status03-image: '/assets/images/sprites.png';
$sprite-badge-status03: (224px, 96px, -224px, -96px, 55px, 55px, 375px, 219px, '/assets/images/sprites.png', 'sprite-badge_status03', );
$sprite-bg-arrow01-name: 'sprite-bg_arrow01';
$sprite-bg-arrow01-x: 318px;
$sprite-bg-arrow01-y: 78px;
$sprite-bg-arrow01-offset-x: -318px;
$sprite-bg-arrow01-offset-y: -78px;
$sprite-bg-arrow01-width: 3px;
$sprite-bg-arrow01-height: 3px;
$sprite-bg-arrow01-total-width: 375px;
$sprite-bg-arrow01-total-height: 219px;
$sprite-bg-arrow01-image: '/assets/images/sprites.png';
$sprite-bg-arrow01: (318px, 78px, -318px, -78px, 3px, 3px, 375px, 219px, '/assets/images/sprites.png', 'sprite-bg_arrow01', );
$sprite-bg-arrow02-name: 'sprite-bg_arrow02';
$sprite-bg-arrow02-x: 302px;
$sprite-bg-arrow02-y: 78px;
$sprite-bg-arrow02-offset-x: -302px;
$sprite-bg-arrow02-offset-y: -78px;
$sprite-bg-arrow02-width: 11px;
$sprite-bg-arrow02-height: 8px;
$sprite-bg-arrow02-total-width: 375px;
$sprite-bg-arrow02-total-height: 219px;
$sprite-bg-arrow02-image: '/assets/images/sprites.png';
$sprite-bg-arrow02: (302px, 78px, -302px, -78px, 11px, 8px, 375px, 219px, '/assets/images/sprites.png', 'sprite-bg_arrow02', );
$sprite-bg-star01-name: 'sprite-bg_star01';
$sprite-bg-star01-x: 341px;
$sprite-bg-star01-y: 124px;
$sprite-bg-star01-offset-x: -341px;
$sprite-bg-star01-offset-y: -124px;
$sprite-bg-star01-width: 19px;
$sprite-bg-star01-height: 18px;
$sprite-bg-star01-total-width: 375px;
$sprite-bg-star01-total-height: 219px;
$sprite-bg-star01-image: '/assets/images/sprites.png';
$sprite-bg-star01: (341px, 124px, -341px, -124px, 19px, 18px, 375px, 219px, '/assets/images/sprites.png', 'sprite-bg_star01', );
$sprite-bg-star01-selected-name: 'sprite-bg_star01_selected';
$sprite-bg-star01-selected-x: 352px;
$sprite-bg-star01-selected-y: 156px;
$sprite-bg-star01-selected-offset-x: -352px;
$sprite-bg-star01-selected-offset-y: -156px;
$sprite-bg-star01-selected-width: 19px;
$sprite-bg-star01-selected-height: 18px;
$sprite-bg-star01-selected-total-width: 375px;
$sprite-bg-star01-selected-total-height: 219px;
$sprite-bg-star01-selected-image: '/assets/images/sprites.png';
$sprite-bg-star01-selected: (352px, 156px, -352px, -156px, 19px, 18px, 375px, 219px, '/assets/images/sprites.png', 'sprite-bg_star01_selected', );
$sprite-btn-help01-name: 'sprite-btn_help01';
$sprite-btn-help01-x: 341px;
$sprite-btn-help01-y: 96px;
$sprite-btn-help01-offset-x: -341px;
$sprite-btn-help01-offset-y: -96px;
$sprite-btn-help01-width: 23px;
$sprite-btn-help01-height: 23px;
$sprite-btn-help01-total-width: 375px;
$sprite-btn-help01-total-height: 219px;
$sprite-btn-help01-image: '/assets/images/sprites.png';
$sprite-btn-help01: (341px, 96px, -341px, -96px, 23px, 23px, 375px, 219px, '/assets/images/sprites.png', 'sprite-btn_help01', );
$sprite-btn-tip01-name: 'sprite-btn_tip01';
$sprite-btn-tip01-x: 302px;
$sprite-btn-tip01-y: 45px;
$sprite-btn-tip01-offset-x: -302px;
$sprite-btn-tip01-offset-y: -45px;
$sprite-btn-tip01-width: 66px;
$sprite-btn-tip01-height: 28px;
$sprite-btn-tip01-total-width: 375px;
$sprite-btn-tip01-total-height: 219px;
$sprite-btn-tip01-image: '/assets/images/sprites.png';
$sprite-btn-tip01: (302px, 45px, -302px, -45px, 66px, 28px, 375px, 219px, '/assets/images/sprites.png', 'sprite-btn_tip01', );
$sprite-btn-tip01-higilights-name: 'sprite-btn_tip01_higilights';
$sprite-btn-tip01-higilights-x: 281px;
$sprite-btn-tip01-higilights-y: 156px;
$sprite-btn-tip01-higilights-offset-x: -281px;
$sprite-btn-tip01-higilights-offset-y: -156px;
$sprite-btn-tip01-higilights-width: 66px;
$sprite-btn-tip01-higilights-height: 28px;
$sprite-btn-tip01-higilights-total-width: 375px;
$sprite-btn-tip01-higilights-total-height: 219px;
$sprite-btn-tip01-higilights-image: '/assets/images/sprites.png';
$sprite-btn-tip01-higilights: (281px, 156px, -281px, -156px, 66px, 28px, 375px, 219px, '/assets/images/sprites.png', 'sprite-btn_tip01_higilights', );
$sprite-popfunding-name: 'sprite-popfunding';
$sprite-popfunding-x: 224px;
$sprite-popfunding-y: 0px;
$sprite-popfunding-offset-x: -224px;
$sprite-popfunding-offset-y: 0px;
$sprite-popfunding-width: 151px;
$sprite-popfunding-height: 40px;
$sprite-popfunding-total-width: 375px;
$sprite-popfunding-total-height: 219px;
$sprite-popfunding-image: '/assets/images/sprites.png';
$sprite-popfunding: (224px, 0px, -224px, 0px, 151px, 40px, 375px, 219px, '/assets/images/sprites.png', 'sprite-popfunding', );
$spritesheet-width: 375px;
$spritesheet-height: 219px;
$spritesheet-image: '/assets/images/sprites.png';
$spritesheet-sprites: ($sprite-badge-done01, $sprite-badge-invest01, $sprite-badge-invest02, $sprite-badge-new01, $sprite-badge-status01, $sprite-badge-status02, $sprite-badge-status03, $sprite-bg-arrow01, $sprite-bg-arrow02, $sprite-bg-star01, $sprite-bg-star01-selected, $sprite-btn-help01, $sprite-btn-tip01, $sprite-btn-tip01-higilights, $sprite-popfunding, );
$spritesheet: (375px, 219px, '/assets/images/sprites.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
