/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-badge-done01-name: 'sprite-badge_done01';
$sprite-badge-done01-x: 252px;
$sprite-badge-done01-y: 153px;
$sprite-badge-done01-offset-x: -252px;
$sprite-badge-done01-offset-y: -153px;
$sprite-badge-done01-width: 73px;
$sprite-badge-done01-height: 46px;
$sprite-badge-done01-total-width: 391px;
$sprite-badge-done01-total-height: 338px;
$sprite-badge-done01-image: '/assets/images/sprites.png';
$sprite-badge-done01: (252px, 153px, -252px, -153px, 73px, 46px, 391px, 338px, '/assets/images/sprites.png', 'sprite-badge_done01', );
$sprite-badge-invest01-name: 'sprite-badge_invest01';
$sprite-badge-invest01-x: 252px;
$sprite-badge-invest01-y: 0px;
$sprite-badge-invest01-offset-x: -252px;
$sprite-badge-invest01-offset-y: 0px;
$sprite-badge-invest01-width: 82px;
$sprite-badge-invest01-height: 82px;
$sprite-badge-invest01-total-width: 391px;
$sprite-badge-invest01-total-height: 338px;
$sprite-badge-invest01-image: '/assets/images/sprites.png';
$sprite-badge-invest01: (252px, 0px, -252px, 0px, 82px, 82px, 391px, 338px, '/assets/images/sprites.png', 'sprite-badge_invest01', );
$sprite-badge-invest02-name: 'sprite-badge_invest02';
$sprite-badge-invest02-x: 94px;
$sprite-badge-invest02-y: 137px;
$sprite-badge-invest02-offset-x: -94px;
$sprite-badge-invest02-offset-y: -137px;
$sprite-badge-invest02-width: 82px;
$sprite-badge-invest02-height: 82px;
$sprite-badge-invest02-total-width: 391px;
$sprite-badge-invest02-total-height: 338px;
$sprite-badge-invest02-image: '/assets/images/sprites.png';
$sprite-badge-invest02: (94px, 137px, -94px, -137px, 82px, 82px, 391px, 338px, '/assets/images/sprites.png', 'sprite-badge_invest02', );
$sprite-badge-manager01-name: 'sprite-badge_manager01';
$sprite-badge-manager01-x: 156px;
$sprite-badge-manager01-y: 231px;
$sprite-badge-manager01-offset-x: -156px;
$sprite-badge-manager01-offset-y: -231px;
$sprite-badge-manager01-width: 140px;
$sprite-badge-manager01-height: 34px;
$sprite-badge-manager01-total-width: 391px;
$sprite-badge-manager01-total-height: 338px;
$sprite-badge-manager01-image: '/assets/images/sprites.png';
$sprite-badge-manager01: (156px, 231px, -156px, -231px, 140px, 34px, 391px, 338px, '/assets/images/sprites.png', 'sprite-badge_manager01', );
$sprite-badge-new01-name: 'sprite-badge_new01';
$sprite-badge-new01-x: 0px;
$sprite-badge-new01-y: 0px;
$sprite-badge-new01-offset-x: 0px;
$sprite-badge-new01-offset-y: 0px;
$sprite-badge-new01-width: 132px;
$sprite-badge-new01-height: 132px;
$sprite-badge-new01-total-width: 391px;
$sprite-badge-new01-total-height: 338px;
$sprite-badge-new01-image: '/assets/images/sprites.png';
$sprite-badge-new01: (0px, 0px, 0px, 0px, 132px, 132px, 391px, 338px, '/assets/images/sprites.png', 'sprite-badge_new01', );
$sprite-badge-status01-name: 'sprite-badge_status01';
$sprite-badge-status01-x: 339px;
$sprite-badge-status01-y: 57px;
$sprite-badge-status01-offset-x: -339px;
$sprite-badge-status01-offset-y: -57px;
$sprite-badge-status01-width: 52px;
$sprite-badge-status01-height: 52px;
$sprite-badge-status01-total-width: 391px;
$sprite-badge-status01-total-height: 338px;
$sprite-badge-status01-image: '/assets/images/sprites.png';
$sprite-badge-status01: (339px, 57px, -339px, -57px, 52px, 52px, 391px, 338px, '/assets/images/sprites.png', 'sprite-badge_status01', );
$sprite-badge-status02-name: 'sprite-badge_status02';
$sprite-badge-status02-x: 339px;
$sprite-badge-status02-y: 0px;
$sprite-badge-status02-offset-x: -339px;
$sprite-badge-status02-offset-y: 0px;
$sprite-badge-status02-width: 52px;
$sprite-badge-status02-height: 52px;
$sprite-badge-status02-total-width: 391px;
$sprite-badge-status02-total-height: 338px;
$sprite-badge-status02-image: '/assets/images/sprites.png';
$sprite-badge-status02: (339px, 0px, -339px, 0px, 52px, 52px, 391px, 338px, '/assets/images/sprites.png', 'sprite-badge_status02', );
$sprite-badge-status03-name: 'sprite-badge_status03';
$sprite-badge-status03-x: 181px;
$sprite-badge-status03-y: 137px;
$sprite-badge-status03-offset-x: -181px;
$sprite-badge-status03-offset-y: -137px;
$sprite-badge-status03-width: 55px;
$sprite-badge-status03-height: 55px;
$sprite-badge-status03-total-width: 391px;
$sprite-badge-status03-total-height: 338px;
$sprite-badge-status03-image: '/assets/images/sprites.png';
$sprite-badge-status03: (181px, 137px, -181px, -137px, 55px, 55px, 391px, 338px, '/assets/images/sprites.png', 'sprite-badge_status03', );
$sprite-bg-arrow01-name: 'sprite-bg_arrow01';
$sprite-bg-arrow01-x: 380px;
$sprite-bg-arrow01-y: 203px;
$sprite-bg-arrow01-offset-x: -380px;
$sprite-bg-arrow01-offset-y: -203px;
$sprite-bg-arrow01-width: 3px;
$sprite-bg-arrow01-height: 3px;
$sprite-bg-arrow01-total-width: 391px;
$sprite-bg-arrow01-total-height: 338px;
$sprite-bg-arrow01-image: '/assets/images/sprites.png';
$sprite-bg-arrow01: (380px, 203px, -380px, -203px, 3px, 3px, 391px, 338px, '/assets/images/sprites.png', 'sprite-bg_arrow01', );
$sprite-bg-arrow02-name: 'sprite-bg_arrow02';
$sprite-bg-arrow02-x: 380px;
$sprite-bg-arrow02-y: 190px;
$sprite-bg-arrow02-offset-x: -380px;
$sprite-bg-arrow02-offset-y: -190px;
$sprite-bg-arrow02-width: 11px;
$sprite-bg-arrow02-height: 8px;
$sprite-bg-arrow02-total-width: 391px;
$sprite-bg-arrow02-total-height: 338px;
$sprite-bg-arrow02-image: '/assets/images/sprites.png';
$sprite-bg-arrow02: (380px, 190px, -380px, -190px, 11px, 8px, 391px, 338px, '/assets/images/sprites.png', 'sprite-bg_arrow02', );
$sprite-bg-arrow03-name: 'sprite-bg_arrow03';
$sprite-bg-arrow03-x: 380px;
$sprite-bg-arrow03-y: 167px;
$sprite-bg-arrow03-offset-x: -380px;
$sprite-bg-arrow03-offset-y: -167px;
$sprite-bg-arrow03-width: 11px;
$sprite-bg-arrow03-height: 18px;
$sprite-bg-arrow03-total-width: 391px;
$sprite-bg-arrow03-total-height: 338px;
$sprite-bg-arrow03-image: '/assets/images/sprites.png';
$sprite-bg-arrow03: (380px, 167px, -380px, -167px, 11px, 18px, 391px, 338px, '/assets/images/sprites.png', 'sprite-bg_arrow03', );
$sprite-bg-circle01-name: 'sprite-bg_circle01';
$sprite-bg-circle01-x: 0px;
$sprite-bg-circle01-y: 137px;
$sprite-bg-circle01-offset-x: 0px;
$sprite-bg-circle01-offset-y: -137px;
$sprite-bg-circle01-width: 89px;
$sprite-bg-circle01-height: 89px;
$sprite-bg-circle01-total-width: 391px;
$sprite-bg-circle01-total-height: 338px;
$sprite-bg-circle01-image: '/assets/images/sprites.png';
$sprite-bg-circle01: (0px, 137px, 0px, -137px, 89px, 89px, 391px, 338px, '/assets/images/sprites.png', 'sprite-bg_circle01', );
$sprite-bg-circle01-big-name: 'sprite-bg_circle01_big';
$sprite-bg-circle01-big-x: 137px;
$sprite-bg-circle01-big-y: 0px;
$sprite-bg-circle01-big-offset-x: -137px;
$sprite-bg-circle01-big-offset-y: 0px;
$sprite-bg-circle01-big-width: 110px;
$sprite-bg-circle01-big-height: 110px;
$sprite-bg-circle01-big-total-width: 391px;
$sprite-bg-circle01-big-total-height: 338px;
$sprite-bg-circle01-big-image: '/assets/images/sprites.png';
$sprite-bg-circle01-big: (137px, 0px, -137px, 0px, 110px, 110px, 391px, 338px, '/assets/images/sprites.png', 'sprite-bg_circle01_big', );
$sprite-bg-star01-name: 'sprite-bg_star01';
$sprite-bg-star01-x: 276px;
$sprite-bg-star01-y: 204px;
$sprite-bg-star01-offset-x: -276px;
$sprite-bg-star01-offset-y: -204px;
$sprite-bg-star01-width: 19px;
$sprite-bg-star01-height: 18px;
$sprite-bg-star01-total-width: 391px;
$sprite-bg-star01-total-height: 338px;
$sprite-bg-star01-image: '/assets/images/sprites.png';
$sprite-bg-star01: (276px, 204px, -276px, -204px, 19px, 18px, 391px, 338px, '/assets/images/sprites.png', 'sprite-bg_star01', );
$sprite-bg-star01-selected-name: 'sprite-bg_star01_selected';
$sprite-bg-star01-selected-x: 252px;
$sprite-bg-star01-selected-y: 204px;
$sprite-bg-star01-selected-offset-x: -252px;
$sprite-bg-star01-selected-offset-y: -204px;
$sprite-bg-star01-selected-width: 19px;
$sprite-bg-star01-selected-height: 18px;
$sprite-bg-star01-selected-total-width: 391px;
$sprite-bg-star01-selected-total-height: 338px;
$sprite-bg-star01-selected-image: '/assets/images/sprites.png';
$sprite-bg-star01-selected: (252px, 204px, -252px, -204px, 19px, 18px, 391px, 338px, '/assets/images/sprites.png', 'sprite-bg_star01_selected', );
$sprite-bg-tooltip01-name: 'sprite-bg_tooltip01';
$sprite-bg-tooltip01-x: 0px;
$sprite-bg-tooltip01-y: 276px;
$sprite-bg-tooltip01-offset-x: 0px;
$sprite-bg-tooltip01-offset-y: -276px;
$sprite-bg-tooltip01-width: 93px;
$sprite-bg-tooltip01-height: 32px;
$sprite-bg-tooltip01-total-width: 391px;
$sprite-bg-tooltip01-total-height: 338px;
$sprite-bg-tooltip01-image: '/assets/images/sprites.png';
$sprite-bg-tooltip01: (0px, 276px, 0px, -276px, 93px, 32px, 391px, 338px, '/assets/images/sprites.png', 'sprite-bg_tooltip01', );
$sprite-btn-help01-name: 'sprite-btn_help01';
$sprite-btn-help01-x: 298px;
$sprite-btn-help01-y: 276px;
$sprite-btn-help01-offset-x: -298px;
$sprite-btn-help01-offset-y: -276px;
$sprite-btn-help01-width: 23px;
$sprite-btn-help01-height: 23px;
$sprite-btn-help01-total-width: 391px;
$sprite-btn-help01-total-height: 338px;
$sprite-btn-help01-image: '/assets/images/sprites.png';
$sprite-btn-help01: (298px, 276px, -298px, -276px, 23px, 23px, 391px, 338px, '/assets/images/sprites.png', 'sprite-btn_help01', );
$sprite-btn-tip01-name: 'sprite-btn_tip01';
$sprite-btn-tip01-x: 169px;
$sprite-btn-tip01-y: 276px;
$sprite-btn-tip01-offset-x: -169px;
$sprite-btn-tip01-offset-y: -276px;
$sprite-btn-tip01-width: 66px;
$sprite-btn-tip01-height: 28px;
$sprite-btn-tip01-total-width: 391px;
$sprite-btn-tip01-total-height: 338px;
$sprite-btn-tip01-image: '/assets/images/sprites.png';
$sprite-btn-tip01: (169px, 276px, -169px, -276px, 66px, 28px, 391px, 338px, '/assets/images/sprites.png', 'sprite-btn_tip01', );
$sprite-btn-tip01-higilights-name: 'sprite-btn_tip01_higilights';
$sprite-btn-tip01-higilights-x: 98px;
$sprite-btn-tip01-higilights-y: 276px;
$sprite-btn-tip01-higilights-offset-x: -98px;
$sprite-btn-tip01-higilights-offset-y: -276px;
$sprite-btn-tip01-higilights-width: 66px;
$sprite-btn-tip01-higilights-height: 28px;
$sprite-btn-tip01-higilights-total-width: 391px;
$sprite-btn-tip01-higilights-total-height: 338px;
$sprite-btn-tip01-higilights-image: '/assets/images/sprites.png';
$sprite-btn-tip01-higilights: (98px, 276px, -98px, -276px, 66px, 28px, 391px, 338px, '/assets/images/sprites.png', 'sprite-btn_tip01_higilights', );
$sprite-btn-top01-name: 'sprite-btn_top01';
$sprite-btn-top01-x: 339px;
$sprite-btn-top01-y: 212px;
$sprite-btn-top01-offset-x: -339px;
$sprite-btn-top01-offset-y: -212px;
$sprite-btn-top01-width: 37px;
$sprite-btn-top01-height: 37px;
$sprite-btn-top01-total-width: 391px;
$sprite-btn-top01-total-height: 338px;
$sprite-btn-top01-image: '/assets/images/sprites.png';
$sprite-btn-top01: (339px, 212px, -339px, -212px, 37px, 37px, 391px, 338px, '/assets/images/sprites.png', 'sprite-btn_top01', );
$sprite-icon-calc01-name: 'sprite-icon_calc01';
$sprite-icon-calc01-x: 0px;
$sprite-icon-calc01-y: 313px;
$sprite-icon-calc01-offset-x: 0px;
$sprite-icon-calc01-offset-y: -313px;
$sprite-icon-calc01-width: 21px;
$sprite-icon-calc01-height: 25px;
$sprite-icon-calc01-total-width: 391px;
$sprite-icon-calc01-total-height: 338px;
$sprite-icon-calc01-image: '/assets/images/sprites.png';
$sprite-icon-calc01: (0px, 313px, 0px, -313px, 21px, 25px, 391px, 338px, '/assets/images/sprites.png', 'sprite-icon_calc01', );
$sprite-icon-fb01-name: 'sprite-icon_fb01';
$sprite-icon-fb01-x: 240px;
$sprite-icon-fb01-y: 276px;
$sprite-icon-fb01-offset-x: -240px;
$sprite-icon-fb01-offset-y: -276px;
$sprite-icon-fb01-width: 24px;
$sprite-icon-fb01-height: 24px;
$sprite-icon-fb01-total-width: 391px;
$sprite-icon-fb01-total-height: 338px;
$sprite-icon-fb01-image: '/assets/images/sprites.png';
$sprite-icon-fb01: (240px, 276px, -240px, -276px, 24px, 24px, 391px, 338px, '/assets/images/sprites.png', 'sprite-icon_fb01', );
$sprite-icon-feature01-name: 'sprite-icon_feature01';
$sprite-icon-feature01-x: 339px;
$sprite-icon-feature01-y: 254px;
$sprite-icon-feature01-offset-x: -339px;
$sprite-icon-feature01-offset-y: -254px;
$sprite-icon-feature01-width: 37px;
$sprite-icon-feature01-height: 36px;
$sprite-icon-feature01-total-width: 391px;
$sprite-icon-feature01-total-height: 338px;
$sprite-icon-feature01-image: '/assets/images/sprites.png';
$sprite-icon-feature01: (339px, 254px, -339px, -254px, 37px, 36px, 391px, 338px, '/assets/images/sprites.png', 'sprite-icon_feature01', );
$sprite-icon-feature02-name: 'sprite-icon_feature02';
$sprite-icon-feature02-x: 339px;
$sprite-icon-feature02-y: 114px;
$sprite-icon-feature02-offset-x: -339px;
$sprite-icon-feature02-offset-y: -114px;
$sprite-icon-feature02-width: 47px;
$sprite-icon-feature02-height: 48px;
$sprite-icon-feature02-total-width: 391px;
$sprite-icon-feature02-total-height: 338px;
$sprite-icon-feature02-image: '/assets/images/sprites.png';
$sprite-icon-feature02: (339px, 114px, -339px, -114px, 47px, 48px, 391px, 338px, '/assets/images/sprites.png', 'sprite-icon_feature02', );
$sprite-icon-feature03-name: 'sprite-icon_feature03';
$sprite-icon-feature03-x: 252px;
$sprite-icon-feature03-y: 87px;
$sprite-icon-feature03-offset-x: -252px;
$sprite-icon-feature03-offset-y: -87px;
$sprite-icon-feature03-width: 62px;
$sprite-icon-feature03-height: 61px;
$sprite-icon-feature03-total-width: 391px;
$sprite-icon-feature03-total-height: 338px;
$sprite-icon-feature03-image: '/assets/images/sprites.png';
$sprite-icon-feature03: (252px, 87px, -252px, -87px, 62px, 61px, 391px, 338px, '/assets/images/sprites.png', 'sprite-icon_feature03', );
$sprite-icon-feature04-name: 'sprite-icon_feature04';
$sprite-icon-feature04-x: 339px;
$sprite-icon-feature04-y: 167px;
$sprite-icon-feature04-offset-x: -339px;
$sprite-icon-feature04-offset-y: -167px;
$sprite-icon-feature04-width: 36px;
$sprite-icon-feature04-height: 40px;
$sprite-icon-feature04-total-width: 391px;
$sprite-icon-feature04-total-height: 338px;
$sprite-icon-feature04-image: '/assets/images/sprites.png';
$sprite-icon-feature04: (339px, 167px, -339px, -167px, 36px, 40px, 391px, 338px, '/assets/images/sprites.png', 'sprite-icon_feature04', );
$sprite-icon-ks01-name: 'sprite-icon_ks01';
$sprite-icon-ks01-x: 301px;
$sprite-icon-ks01-y: 231px;
$sprite-icon-ks01-offset-x: -301px;
$sprite-icon-ks01-offset-y: -231px;
$sprite-icon-ks01-width: 24px;
$sprite-icon-ks01-height: 24px;
$sprite-icon-ks01-total-width: 391px;
$sprite-icon-ks01-total-height: 338px;
$sprite-icon-ks01-image: '/assets/images/sprites.png';
$sprite-icon-ks01: (301px, 231px, -301px, -231px, 24px, 24px, 391px, 338px, '/assets/images/sprites.png', 'sprite-icon_ks01', );
$sprite-icon-tw01-name: 'sprite-icon_tw01';
$sprite-icon-tw01-x: 269px;
$sprite-icon-tw01-y: 276px;
$sprite-icon-tw01-offset-x: -269px;
$sprite-icon-tw01-offset-y: -276px;
$sprite-icon-tw01-width: 24px;
$sprite-icon-tw01-height: 24px;
$sprite-icon-tw01-total-width: 391px;
$sprite-icon-tw01-total-height: 338px;
$sprite-icon-tw01-image: '/assets/images/sprites.png';
$sprite-icon-tw01: (269px, 276px, -269px, -276px, 24px, 24px, 391px, 338px, '/assets/images/sprites.png', 'sprite-icon_tw01', );
$sprite-popfunding-name: 'sprite-popfunding';
$sprite-popfunding-x: 0px;
$sprite-popfunding-y: 231px;
$sprite-popfunding-offset-x: 0px;
$sprite-popfunding-offset-y: -231px;
$sprite-popfunding-width: 151px;
$sprite-popfunding-height: 40px;
$sprite-popfunding-total-width: 391px;
$sprite-popfunding-total-height: 338px;
$sprite-popfunding-image: '/assets/images/sprites.png';
$sprite-popfunding: (0px, 231px, 0px, -231px, 151px, 40px, 391px, 338px, '/assets/images/sprites.png', 'sprite-popfunding', );
$spritesheet-width: 391px;
$spritesheet-height: 338px;
$spritesheet-image: '/assets/images/sprites.png';
$spritesheet-sprites: ($sprite-badge-done01, $sprite-badge-invest01, $sprite-badge-invest02, $sprite-badge-manager01, $sprite-badge-new01, $sprite-badge-status01, $sprite-badge-status02, $sprite-badge-status03, $sprite-bg-arrow01, $sprite-bg-arrow02, $sprite-bg-arrow03, $sprite-bg-circle01, $sprite-bg-circle01-big, $sprite-bg-star01, $sprite-bg-star01-selected, $sprite-bg-tooltip01, $sprite-btn-help01, $sprite-btn-tip01, $sprite-btn-tip01-higilights, $sprite-btn-top01, $sprite-icon-calc01, $sprite-icon-fb01, $sprite-icon-feature01, $sprite-icon-feature02, $sprite-icon-feature03, $sprite-icon-feature04, $sprite-icon-ks01, $sprite-icon-tw01, $sprite-popfunding, );
$spritesheet: (391px, 338px, '/assets/images/sprites.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
