@charset "utf-8";

@import url(nanumgothic.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(animate.min.css);
@import url(slick.css);
@import url(magnific-popup.css);

/**
 * variable
 */
$font-base-stack: 'Nanum Gothic', sans-serif;
$font-number-stack: 'Montserrat', sans-serif;
$body-bg-color: #f7f7f7;
$contents-container-width: 1160px;
$product-height: 558px;
$product-width: 338px;

$color-title: #252525;
$color-content: #6b7581;
$color-desc: #c4c9d1;
$color-menu1: #142c66;
$color-menu1-hover: #ff4776;
$color-menu2: #525e7b;
$color-point1: #ff6000;
$color-point2: #14378c;
$color-point3: #0e52a5;
$color-point4: #30ba30;




@import "reset";
@import "sprites";


body { background-color: $body-bg-color; }


/**
 * z-index
**/
$z-layers: (
	'modal':            1000,
	'modaless':          900,
	'dropdown':          500,
	'hover':             200,
	'tooltip':           100,
	'default':             1,
	'bottomless-pit': -10000
);

@function z($layer) {
	@if not map-has-key($z-layers, $layer) {
		@warn "No layer found for `#{$layer}` in $z-layers map. Property omitted.";
	}

	@return map-get($z-layers, $layer);
}




/**
 * modules - buttons
 */
@mixin btn-inline-txt($font-size:0.750em, $color:$color-menu2) {
	display: inline-block; position: relative; font-size: $font-size; color: $color; vertical-align: middle;
}
@mixin ie8-inline-block() { display: inline-block; 
	.ie8 & { display: inline; zoom: 1; }
}

@mixin badge($top, $left) {
	display: block; box-sizing: border-box; position: absolute; top: $top; left: $left; padding: 1px 3px 0 3px; height: 15px; min-width: 16px; color: #fff; text-align: center; line-height: 14px; border-radius: 16px; background-color: #ff4776;
	&:before { content: ''; display: block; position: absolute; bottom: -3px; left: 40%;
		@include sprite($sprite-bg-arrow01);
	}
}

.btn-inline { @include btn-inline-txt();
	@include ie8-inline-block();
}
.btn-more { display: block; font-size: 14px; color: $color-content; text-align: center; line-height: 48px; border: 1px solid #d7dce6; background-color: #fff; }
.btn-more:after { content: ''; display: inline-block; margin-left: 5px; vertical-align: middle; @include sprite($sprite-bg-arrow02); }
.btn-rd { display: inline-block; padding: 1px 28px 0 28px; font-size: 13px; color: $color-content; text-align: center; line-height: 34px; border: 1px solid #d4dae4; border-radius: 35px; background-color: #fff; 

	.filter-container & {
		&:hover { color: $color-menu1-hover; text-decoration: none; }
	}
}
.btn-rd-small { display: inline-block; padding: 0 18px 0 18px; font-size: 12px; color: $color-content; text-align: center; vertical-align: center; line-height: 28px; border: 1px solid #d4dae4; border-radius: 30px; background-color: #fff; }

.btn-tip { display: inline-block; text-indent: -9999px;
	@include sprite($sprite-btn-tip01);
	&:hover { @include sprite($sprite-btn-tip01-higilights); }
}
.btn-invest { display: block; margin: 0 auto; padding-top: 1px; padding-left: 20px; height: 54px; width: 380px; font-size: 22px; color: #fff; font-weight: bold; line-height: 54px; text-align: center; border-radius: 55px; background-color: #14378c;
	&:after { content: ''; display: inline-block; margin-top: -2px; margin-left: 9px; vertical-align: middle; @include sprite($sprite-bg-arrow03); }
	&:hover { text-decoration: none; background-color: #0f2969; }
	.expired & { padding-left: 0; width: 400px; background-color: #afb2b7;
		&:after { content: ''; display: none; }
	}
}
.btn-top { display: block; text-indent: -9999px; @include sprite($sprite-btn-top01); }
.btn-popup-close { display: block; text-indent: -9999px; @include sprite($sprite-btn-close01); }
.btn-help { display: inline-block; font-size: 12px; color: $color-content; text-decoration: underline !important; line-height: 37px; white-space: nowrap;
	&:before { content: ''; display: inline-block; margin-top: -1px; margin-right: 4px; vertical-align: middle; @include sprite($sprite-icon-help01); }
	&:hover { color: $color-menu1-hover;
		&:before { @include sprite($sprite-icon-help01-highlights); }
	}
}
.btn-inline-box { display: inline-block; padding: 0 11px; font-size: 0.750em; color: $color-content; line-height: 24px; border: 1px solid #c3d0e1; border-radius: 5px; }


/**
 * import
 */

@import "layout";
@import "contents";
@import "contents_private_invest";
