@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);
@import url(animate.min.css);
/* sprites css */
/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
/**
 * variable
 */
/**
 * modules - buttons
 */
.btn-more {
  display: block;
  font-size: 0.875em;
  color: #868ea2;
  text-align: center;
  line-height: 48px;
  border: 1px solid #d7dce6;
  background-color: #fff; }

.btn-more:after {
  content: '';
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
  background-image: url(/assets/images/sprites.png);
  background-position: -302px -78px;
  width: 11px;
  height: 8px; }

.btn-rd {
  display: inline-block;
  padding: 0 28px;
  font-size: 13px;
  color: #142c66;
  text-align: center;
  line-height: 35px;
  border: 1px solid #d4dae4;
  border-radius: 35px;
  background-color: #fff; }
  .btn-rd:hover {
    text-decoration: none;
    background-color: #ff4776; }

.btn-tip {
  display: inline-block;
  text-indent: -9999px;
  background-image: url(/assets/images/sprites.png);
  background-position: -302px -45px;
  width: 66px;
  height: 28px; }
  .btn-tip:hover {
    background-image: url(/assets/images/sprites.png);
    background-position: -281px -156px;
    width: 66px;
    height: 28px; }

/**
 * import
 */
/* Common Style */
* {
  margin: 0;
  padding: 0; }

/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, font, img, ins, q, s, samp, strike, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
  border: 0 none; }

body {
  position: relative;
  /*min-height: 800px;*/
  min-width: 480px;
  margin: 0 auto;
  font-size: 100%;
  line-height: 100%;
  font-family: "Noto Sans", sans-serif;
  -ms-text-size-adjust: 100%;
      text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input {
  font-family: "Noto Sans", sans-serif; }

header, h1 {
  font-size: 100%; }

html, body {
  height: 100%; }

caption, legend {
  position: absolute;
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden;
  visibility: hidden; }

img {
  border: none;
  vertical-align: top;
  /*width: 100%;*/ }

select, input {
  vertical-align: top; }

hr {
  display: none;
  border: 0 none; }

ol, ul, ul li {
  list-style: none; }

em {
  font-style: normal; }

menu li {
  list-style: none; }

address {
  display: inline;
  font-style: normal; }

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  border: 0px;
  background-color: transparent; }

/* link Style */
a:link, a:visited {
  text-decoration: none; }

a:hover, a:active, a:focus {
  /*outline: 0 none;*/
  text-decoration: underline; }

.hidden {
  display: none; }

/* GNB HEADER */
.header {
  display: block;
  position: relative;
  height: 353px;
  min-width: 1160px;
  background: url(/assets/images/bg_header.jpg) center top no-repeat; }
  .header:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    height: 50px;
    width: 100%;
    background-color: #14378c; }
  .header .inner {
    position: relative;
    margin: 0 auto;
    height: 100%;
    width: 1160px; }
  .header .utils-member {
    display: block;
    position: absolute;
    top: 23px;
    left: 29px;
    z-index: 1; }
    .header .utils-member > a {
      display: inline-block;
      font-size: 0.75em;
      color: #525e7b;
      vertical-align: middle; }
      .header .utils-member > a:last-child:before {
        content: '|';
        display: inline-block;
        color: #c9cfd6;
        text-decoration: none;
        margin-right: 12px;
        margin-left: 10px; }
      .header .utils-member > a.btn-main {
        text-indent: -9999px;
        background-image: url(/assets/images/sprites.png);
        background-position: -224px 0px;
        width: 151px;
        height: 40px; }
      .header .utils-member > a.btn-help {
        text-indent: -9999px;
        margin-right: 22px;
        margin-left: 16px;
        background-image: url(/assets/images/sprites.png);
        background-position: -341px -96px;
        width: 23px;
        height: 23px; }
  .header .utils-help {
    display: block;
    position: absolute;
    top: 34px;
    right: 29px;
    z-index: 1; }
    .header .utils-help > a {
      position: relative;
      display: inline-block;
      font-size: 0.75em;
      color: #525e7b;
      vertical-align: middle; }
      .header .utils-help > a > .badge {
        display: block;
        box-sizing: border-box;
        position: absolute;
        top: -110%;
        left: -10px;
        padding: 0 3px;
        height: 16px;
        min-width: 16px;
        color: #fff;
        text-align: center;
        line-height: 16px;
        border-radius: 16px;
        background-color: #ff4776; }
        .header .utils-help > a > .badge:before {
          content: '';
          display: block;
          position: absolute;
          bottom: -3px;
          left: 40%;
          background-image: url(/assets/images/sprites.png);
          background-position: -318px -78px;
          width: 3px;
          height: 3px; }
      .header .utils-help > a + a:before {
        content: '|';
        display: inline-block;
        color: #c9cfd6;
        text-decoration: none;
        margin-right: 12px;
        margin-left: 10px; }
      .header .utils-help > a + a > .badge {
        display: block;
        box-sizing: border-box;
        position: absolute;
        top: -110%;
        left: 20px;
        padding: 0 3px;
        height: 16px;
        min-width: 16px;
        color: #fff;
        text-align: center;
        line-height: 16px;
        border-radius: 16px;
        background-color: #ff4776; }
        .header .utils-help > a + a > .badge:before {
          content: '';
          display: block;
          position: absolute;
          bottom: -3px;
          left: 40%;
          background-image: url(/assets/images/sprites.png);
          background-position: -318px -78px;
          width: 3px;
          height: 3px; }
  .header .contents {
    text-align: center; }
  .header nav {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0; }
    .header nav > ul {
      position: relative;
      height: 50px;
      width: 100%; }
      .header nav > ul > li {
        float: left;
        box-sizing: border-box;
        width: 50%;
        border-right: 1px solid #37559d; }
        .header nav > ul > li:first-child {
          border-left: 1px solid #37559d; }
        .header nav > ul > li > a {
          display: block;
          font-size: 18px;
          color: #798cbb;
          font-weight: 700;
          text-align: center;
          line-height: 50px; }
          .header nav > ul > li > a:hover {
            color: #dee1e9;
            text-decoration: none;
            background-color: #142e6e; }
          .header nav > ul > li > a.selected {
            color: #dee1e9; }

/* FOOTER */
.footer {
  padding: 48px 0 79px 0;
  border-top: 1px solid #e4e4e4;
  background-color: #fff; }
  .footer .inner {
    position: relative;
    margin: 0 auto;
    height: 100%;
    width: 1160px; }
  .footer .shortcut {
    text-align: center; }
    .footer .shortcut > a {
      margin: 0 11px;
      display: inline-block;
      font-size: 0.75em;
      color: #868ea2;
      vertical-align: middle; }
  .footer .company-info {
    position: relative;
    margin-top: 67px;
    margin-left: 198px;
    padding-left: 192px;
    font-size: 0.75em;
    color: #868ea2;
    line-height: 20px; }
    .footer .company-info:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -20px;
      background-image: url(/assets/images/sprites.png);
      background-position: -224px 0px;
      width: 151px;
      height: 40px; }
    .footer .company-info a {
      color: #868ea2;
      text-decoration: underline; }

/* CONTENTS */
article.contents {
  min-width: 1160px;
  padding: 100px 0 110px 0;
  background-color: #f7f7f7; }
  article.contents > h1 {
    display: none; }
  article.contents > .inner {
    position: relative;
    margin: 0 auto;
    height: 100%;
    width: 1160px; }

/* 투자 */
.filter-container {
  overflow: hidden; }
  .filter-container .filter {
    position: relative;
    float: left; }
    .filter-container .filter input[type=radio] {
      position: absolute;
      top: -9999px;
      left: -9999px; }
      .filter-container .filter input[type=radio]:checked + label {
        color: #ff4776; }
    .filter-container .filter label {
      font-size: 17px;
      color: #142c66;
      cursor: pointer;
      line-height: 37px; }
      .filter-container .filter label:hover {
        color: #ff4776; }
      .filter-container .filter label + input[type=radio] + label:before {
        content: '|';
        display: inline-block;
        margin-right: 20px;
        margin-left: 16px;
        color: #dee1e7;
        text-decoration: none; }
  .filter-container .utils-guide {
    float: right; }
    .filter-container .utils-guide > a {
      margin-left: 16px;
      vertical-align: middle; }

.list-products {
  position: relative;
  overflow: hidden;
  margin-top: 40px;
  width: 100%; }
  .list-products > li {
    display: block;
    float: left;
    margin: 0 0 40px 0;
    width: 338px; }
    .list-products > li:nth-child(3n+2) {
      padding: 0 73px; }
    .list-products > li > a:hover {
      text-decoration: none; }

a.product {
  display: block;
  position: relative;
  overflow: hidden;
  color: #252525;
  border: 1px solid #d4dae4;
  border-radius: 18px;
  background-color: #fff; }
  a.product > .badges {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 311px; }
    a.product > .badges > em {
      position: absolute;
      position: absolute;
      top: 0;
      left: 0;
      text-indent: -9999px; }
    a.product > .badges > .invest-type01 {
      background-image: url(/assets/images/sprites.png);
      background-position: 0px -137px;
      width: 82px;
      height: 82px; }
    a.product > .badges > .invest-type02 {
      background-image: url(/assets/images/sprites.png);
      background-position: -137px 0px;
      width: 82px;
      height: 82px; }
    a.product > .badges > .new {
      background-image: url(/assets/images/sprites.png);
      background-position: 0px 0px;
      width: 132px;
      height: 132px; }
    a.product > .badges > .user-in {
      left: auto;
      right: 17px;
      background-image: url(/assets/images/sprites.png);
      background-position: -224px -45px;
      width: 73px;
      height: 46px; }
    a.product > .badges > .status01 {
      top: auto;
      right: 0;
      bottom: 0;
      left: auto;
      background-image: url(/assets/images/sprites.png);
      background-position: -224px -156px;
      width: 52px;
      height: 52px; }
    a.product > .badges > .status02 {
      top: auto;
      right: 0;
      bottom: 0;
      left: auto;
      background-image: url(/assets/images/sprites.png);
      background-position: -284px -96px;
      width: 52px;
      height: 52px; }
    a.product > .badges > .status03 {
      top: auto;
      right: 0;
      bottom: 0;
      left: auto;
      background-image: url(/assets/images/sprites.png);
      background-position: -224px -96px;
      width: 55px;
      height: 55px; }
    a.product > .badges > .favorite {
      top: 12px;
      right: 10px;
      left: auto;
      background-image: url(/assets/images/sprites.png);
      background-position: -352px -156px;
      width: 19px;
      height: 18px; }
  a.product > figure > figcaption {
    padding: 0 29px 0 29px; }
    a.product > figure > figcaption .title {
      font-size: 1.125em; }
    a.product > figure > figcaption time {
      font-size: 0.750em;
      color: #ff6000; }
    a.product > figure > figcaption .progress {
      display: block;
      position: relative;
      padding: 15px 0 0 0;
      font-size: 0.875em; }
      a.product > figure > figcaption .progress:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 5px;
        width: 100%;
        background-color: #d5d9e1; }
      a.product > figure > figcaption .progress:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 5px;
        width: 0px;
        background-color: #00bb00; }
  a.product:hover > .hover {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s; }
  a.product .hover {
    display: none;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    text-align: center;
    border-radius: 18px; }
    a.product .hover > button {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 2;
      font-size: 12px;
      color: #c2c6d0;
      vertical-align: middle;
      line-height: 18px; }
      a.product .hover > button:before {
        content: '';
        display: inline-block;
        margin-top: -4px;
        margin-right: 5px;
        vertical-align: middle;
        background-image: url(/assets/images/sprites.png);
        background-position: -341px -124px;
        width: 19px;
        height: 18px; }
      a.product .hover > button:hover {
        text-decoration: underline; }
      a.product .hover > button.selected:before {
        background-image: url(/assets/images/sprites.png);
        background-position: -352px -156px;
        width: 19px;
        height: 18px; }
    a.product .hover > span {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      font-size: 24px;
      color: #fff; }
    a.product .hover:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      height: 100%;
      width: 100%;
      background-color: rgba(20, 44, 102, 0.7); }
