@charset "UTF-8";
@import url(NotoSansKR.css);
@import url(animate.min.css);
@import url(slick.css);
/* sprites css */
/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
/**
 * variable
 */
body {
  background-color: #f7f7f7; }

/**
 * modules - buttons
 */
.btn-inline {
  display: inline-block;
  position: relative;
  font-size: 0.75em;
  color: #525e7b;
  vertical-align: middle;
  display: inline-block; }
  .ie8 .btn-inline {
    display: inline;
    zoom: 1; }

.btn-more {
  display: block;
  font-size: 14px;
  color: #868ea2;
  text-align: center;
  line-height: 48px;
  border: 1px solid #d7dce6;
  background-color: #fff; }

.btn-more:after {
  content: '';
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
  background-image: url(/assets/images/sprites.png);
  background-position: -380px -190px;
  width: 11px;
  height: 8px; }

.btn-rd {
  display: inline-block;
  padding: 0 28px;
  font-size: 13px;
  color: #142c66;
  text-align: center;
  line-height: 35px;
  border: 1px solid #d4dae4;
  border-radius: 35px;
  background-color: #fff; }
  .filter-container .btn-rd:hover {
    color: #fff;
    text-decoration: none;
    background-color: #ff4776; }

.btn-tip {
  display: inline-block;
  text-indent: -9999px;
  background-image: url(/assets/images/sprites.png);
  background-position: -169px -276px;
  width: 66px;
  height: 28px; }
  .btn-tip:hover {
    background-image: url(/assets/images/sprites.png);
    background-position: -98px -276px;
    width: 66px;
    height: 28px; }

.btn-invest {
  display: block;
  margin: 0 auto;
  padding-left: 20px;
  height: 55px;
  width: 380px;
  font-size: 22px;
  color: #fff;
  font-weight: 500;
  line-height: 55px;
  text-align: center;
  border-radius: 55px;
  background-color: #14378c; }
  .btn-invest:after {
    content: '';
    display: inline-block;
    margin-top: -4px;
    margin-left: 9px;
    vertical-align: middle;
    background-image: url(/assets/images/sprites.png);
    background-position: -380px -167px;
    width: 11px;
    height: 18px; }
  .btn-invest:hover {
    text-decoration: none;
    background-color: #0f2969; }
  .btn-invest.expired {
    padding-left: 0;
    width: 400px;
    background-color: #afb2b7; }
    .btn-invest.expired:after {
      content: '';
      display: none; }

.btn-calc {
  display: inline-block;
  font-size: 14px;
  color: #142c66;
  vertical-align: middle; }
  .btn-calc:before {
    content: '';
    display: inline-block;
    margin-right: 7px;
    vertical-align: middle;
    background-image: url(/assets/images/sprites.png);
    background-position: 0px -313px;
    width: 21px;
    height: 25px; }

.btn-top {
  display: block;
  text-indent: -9999px;
  background-image: url(/assets/images/sprites.png);
  background-position: -339px -212px;
  width: 37px;
  height: 37px; }

/**
 * import
 */
/* Common Style */
* {
  margin: 0;
  padding: 0; }

/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, font, img, ins, q, s, samp, strike, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
  border: 0 none; }

body {
  position: relative;
  /*min-height: 800px;*/
  min-width: 480px;
  margin: 0 auto;
  font-size: 100%;
  line-height: 1em;
  font-family: "Noto Sans Korean", sans-serif;
  -ms-text-size-adjust: 100%;
      text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input {
  font-family: "Noto Sans Korean", sans-serif; }

header, h1 {
  font-size: 100%; }

html, body {
  height: 100%; }

caption, legend {
  position: absolute;
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden;
  visibility: hidden; }

img {
  border: none;
  vertical-align: top;
  /*width: 100%;*/ }

select, input {
  vertical-align: top; }

hr {
  display: none;
  border: 0 none; }

ol, ul, ul li {
  list-style: none; }

em {
  font-style: normal; }

menu li {
  list-style: none; }

address {
  display: inline;
  font-style: normal; }

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  border: 0px;
  background-color: transparent; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* link Style */
a:link, a:visited, a:active, a:focus {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.hidden {
  display: none; }

/* GNB HEADER */
.header {
  display: block;
  position: relative;
  height: 353px;
  min-width: 1160px;
  background: url(/assets/images/bg_header.jpg) center top no-repeat; }
  .header:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: -1;
    height: 50px;
    width: 100%;
    background-color: #14378c; }
  .header .inner {
    position: relative;
    margin: 0 auto;
    height: 100%;
    width: 1160px; }
  .header .utils-member {
    display: block;
    position: absolute;
    top: 23px;
    left: 29px;
    z-index: 1; }
    .header .utils-member > li {
      display: inline-block; }
      .ie8 .header .utils-member > li {
        display: inline;
        zoom: 1; }
      .header .utils-member > li.last-child:before {
        content: '|';
        display: inline-block;
        padding-right: 12px;
        padding-left: 10px;
        font-size: 0.750em;
        color: #c9cfd6; }
      .header .utils-member > li > a.btn-main {
        display: inline-block;
        position: relative;
        font-size: 0.75em;
        color: #525e7b;
        vertical-align: middle;
        text-indent: -9999px;
        background-image: url(/assets/images/sprites.png);
        background-position: 0px -231px;
        width: 151px;
        height: 40px; }
      .header .utils-member > li > a.btn-help {
        display: inline-block;
        position: relative;
        font-size: 0.75em;
        color: #525e7b;
        vertical-align: middle;
        text-indent: -9999px;
        margin-right: 22px;
        margin-left: 16px;
        background-image: url(/assets/images/sprites.png);
        background-position: -298px -276px;
        width: 23px;
        height: 23px; }
  .header .utils-help {
    display: block;
    position: absolute;
    top: 34px;
    right: 29px;
    z-index: 1; }
    .header .utils-help > li {
      display: inline-block; }
      .ie8 .header .utils-help > li {
        display: inline;
        zoom: 1; }
      .header .utils-help > li + li:before {
        content: '|';
        display: inline-block;
        padding-right: 12px;
        padding-left: 10px;
        font-size: 0.750em;
        color: #c9cfd6; }
      .header .utils-help > li > a {
        position: relative; }
        .header .utils-help > li > a > .badge {
          display: block;
          box-sizing: border-box;
          position: absolute;
          top: -110%;
          left: -10px;
          padding: 0 3px;
          height: 16px;
          min-width: 16px;
          color: #fff;
          text-align: center;
          line-height: 16px;
          border-radius: 16px;
          background-color: #ff4776; }
          .header .utils-help > li > a > .badge:before {
            content: '';
            display: block;
            position: absolute;
            bottom: -3px;
            left: 40%;
            background-image: url(/assets/images/sprites.png);
            background-position: -380px -203px;
            width: 3px;
            height: 3px; }
  .header .contents {
    text-align: center; }
  .header nav {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0; }
    .header nav > ul {
      position: relative;
      height: 50px;
      width: 100%; }
      .header nav > ul > li {
        float: left;
        box-sizing: border-box;
        width: 50%;
        border-right: 1px solid #37559d; }
        .header nav > ul > li:first-child {
          border-left: 1px solid #37559d; }
        .header nav > ul > li > a {
          display: block;
          font-size: 17px;
          color: #798cbb;
          font-weight: 700;
          text-align: center;
          line-height: 50px; }
          .header nav > ul > li > a:hover {
            color: #dee1e9;
            text-decoration: none;
            background-color: #142e6e; }
          .header nav > ul > li > a.selected {
            color: #dee1e9; }

/* FOOTER */
.footer {
  padding: 48px 0 79px 0;
  border-top: 1px solid #e4e4e4;
  background-color: #fff; }
  .footer .inner {
    position: relative;
    margin: 0 auto;
    height: 100%;
    width: 1160px; }
  .footer .shortcut {
    text-align: center; }
    .footer .shortcut > a {
      margin: 0 11px;
      display: inline-block;
      position: relative;
      font-size: 0.75em;
      color: #868ea2;
      vertical-align: middle; }
  .footer .company-info {
    position: relative;
    margin-top: 67px;
    margin-left: 198px;
    padding-left: 192px;
    font-size: 0.75em;
    color: #868ea2;
    line-height: 20px; }
    .footer .company-info:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -20px;
      background-image: url(/assets/images/sprites.png);
      background-position: 0px -231px;
      width: 151px;
      height: 40px; }
    .footer .company-info a {
      color: #868ea2;
      text-decoration: underline; }

/* CONTENTS */
article.contents {
  min-width: 1160px;
  padding: 100px 0 110px 0; }
  article.contents > h1 {
    display: none; }
  article.contents > .inner {
    position: relative;
    margin: 0 auto;
    height: 100%;
    width: 1160px; }

/* 투자 */
.filter-container {
  overflow: hidden; }
  .filter-container .filter {
    position: relative;
    float: left; }
    .filter-container .filter input[type=radio] {
      position: absolute;
      top: -9999px;
      left: -9999px; }
      .filter-container .filter input[type=radio].selected + label {
        color: #ff4776; }
    .filter-container .filter label {
      font-size: 1.063em;
      color: #142c66;
      cursor: pointer;
      line-height: 37px; }
      .filter-container .filter label:hover {
        color: #ff4776; }
      .filter-container .filter label + input[type=radio] + label:before {
        content: '|';
        display: inline-block;
        margin-right: 20px;
        margin-left: 16px;
        color: #dee1e7;
        text-decoration: none; }
  .filter-container .utils-guide {
    float: right; }
    .filter-container .utils-guide > a {
      margin-left: 16px;
      vertical-align: middle; }

.list-products {
  position: relative;
  overflow: hidden;
  margin-top: 40px;
  width: 100%; }
  .list-products > li {
    display: block;
    float: left;
    margin: 0 0 40px 0;
    width: 338px; }
    .list-products > li:nth-child(3n+2) {
      padding: 0 73px; }
    .list-products > li.middle {
      padding: 0 73px; }
    .list-products > li > a:hover {
      text-decoration: none; }

.product {
  display: block;
  position: relative;
  overflow: hidden;
  min-height: 558px;
  color: #252525;
  border: 1px solid #d4dae4;
  border-radius: 18px;
  background-color: #fff; }
  .product > .options {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 311px; }
    .product > .options > em {
      position: absolute;
      position: absolute;
      top: 0;
      left: 0;
      text-indent: -9999px; }
    .product > .options > .invest-type01 {
      border-radius: 18px 0px 0px 0px;
      background-image: url(/assets/images/sprites.png);
      background-position: -252px 0px;
      width: 82px;
      height: 82px; }
    .product > .options > .invest-type02 {
      border-radius: 18px 0px 0px 0px;
      background-image: url(/assets/images/sprites.png);
      background-position: -94px -137px;
      width: 82px;
      height: 82px; }
    .product > .options > .new {
      background-image: url(/assets/images/sprites.png);
      background-position: 0px 0px;
      width: 132px;
      height: 132px; }
    .product > .options > .user-in {
      left: auto;
      right: 17px;
      background-image: url(/assets/images/sprites.png);
      background-position: -252px -153px;
      width: 73px;
      height: 46px; }
    .product > .options > .status01 {
      top: auto;
      right: 0;
      bottom: 0;
      left: auto;
      background-image: url(/assets/images/sprites.png);
      background-position: -339px -57px;
      width: 52px;
      height: 52px; }
    .product > .options > .status02 {
      top: auto;
      right: 0;
      bottom: 0;
      left: auto;
      background-image: url(/assets/images/sprites.png);
      background-position: -339px 0px;
      width: 52px;
      height: 52px; }
    .product > .options > .status03 {
      top: auto;
      right: 0;
      bottom: 0;
      left: auto;
      background-image: url(/assets/images/sprites.png);
      background-position: -181px -137px;
      width: 55px;
      height: 55px; }
    .product > .options > .favorite {
      top: 12px;
      right: 10px;
      left: auto;
      background-image: url(/assets/images/sprites.png);
      background-position: -252px -204px;
      width: 19px;
      height: 18px; }
    .product > .options > .imminent-deadline {
      display: block;
      top: 50%;
      left: 50%;
      margin: -45px 0 0 -45px;
      padding-top: 20px;
      font-size: 1.750em;
      color: #fff;
      line-height: 1em;
      text-indent: 0;
      text-align: center;
      background-image: url(/assets/images/sprites.png);
      background-position: 0px -137px;
      width: 89px;
      height: 89px;
      height: 69px; }
      .product > .options > .imminent-deadline > span {
        display: block;
        font-size: 12px; }
    .product > .options > .share {
      display: none;
      position: absolute;
      bottom: 16px;
      left: 39px; }
      .product > .options > .share a {
        display: block;
        float: left;
        margin-right: 10px;
        height: 24px;
        width: 24px;
        text-indent: -9999px;
        background-image: url("/assets/images/sprites.png"); }
        .product > .options > .share a.btn-fb {
          background-position: -240px -276px; }
        .product > .options > .share a.btn-tw {
          background-position: -269px -276px; }
        .product > .options > .share a.btn-ks {
          background-position: -301px -231px; }
  .product > figure > .thumb {
    display: block;
    position: relative;
    z-index: 0;
    overflow: hidden;
    height: 311px;
    width: 100%;
    border-radius: 18px 18px 0px 0px; }
    .product > figure > .thumb > img {
      display: none;
      position: absolute;
      left: 0;
      max-height: 100%; }
  .product > figure > .info {
    position: relative;
    padding: 38px 29px 0 29px;
    border-top: 1px solid #e6e9ee; }
    .product > figure > .info > .sub-info .title {
      font-size: 1.125em;
      line-height: 1em; }
    .product > figure > .info > .sub-info time {
      display: block;
      margin-top: 8px;
      font-size: 0.750em;
      color: #ff6000; }
    .product > figure > .info > .sub-info .desc {
      display: none;
      font-size: 0.875em;
      color: #868ea2;
      line-height: 20px; }
    .product > figure > .info > .status-info .p-i {
      overflow: hidden; }
      .product > figure > .info > .status-info .p-i > p {
        float: left;
        position: relative;
        margin-top: 16px;
        padding-right: 14px;
        text-align: left; }
        .product > figure > .info > .status-info .p-i > p > span {
          display: block;
          padding-bottom: 2px;
          font-size: 0.750em;
          color: #c2c6d0; }
        .product > figure > .info > .status-info .p-i > p > em {
          display: block;
          font-size: 24px;
          color: #252525;
          line-height: 1.2em; }
        .product > figure > .info > .status-info .p-i > p.interest {
          padding-left: 14px;
          position: relative; }
          .product > figure > .info > .status-info .p-i > p.interest > span {
            padding-left: 2px; }
          .product > figure > .info > .status-info .p-i > p.interest > em:before {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0px;
            height: 24px;
            width: 1px;
            background-color: #d5dae1; }
    .product > figure > .info > .status-info .progress {
      display: block;
      position: relative;
      overflow: hidden;
      margin-top: 22px;
      padding: 15px 0 0 0;
      font-size: 0.875em; }
      .product > figure > .info > .status-info .progress:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 5px;
        width: 100%;
        background-color: #d5d9e1; }
      .product > figure > .info > .status-info .progress > .value {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 5px;
        width: 0%;
        background-color: #00bb00; }
  .product:hover > .hover {
    display: block;
    -webkit-animation-duration: 0.3s;
            animation-duration: 0.3s; }
  .product > .hover {
    display: none;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    text-align: center;
    border-radius: 18px; }
    .product > .hover > button {
      display: block;
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 2;
      font-size: 12px;
      color: #c2c6d0;
      vertical-align: middle;
      line-height: 18px; }
      .product > .hover > button:before {
        content: '';
        display: inline-block;
        margin-top: -4px;
        margin-right: 5px;
        vertical-align: middle;
        background-image: url(/assets/images/sprites.png);
        background-position: -276px -204px;
        width: 19px;
        height: 18px; }
      .product > .hover > button:hover {
        text-decoration: underline; }
      .product > .hover > button.selected:before {
        background-image: url(/assets/images/sprites.png);
        background-position: -252px -204px;
        width: 19px;
        height: 18px; }
    .product > .hover > span {
      font-size: 24px;
      color: #fff;
      line-height: 558px; }
    .product > .hover:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      height: 100%;
      width: 100%;
      background: url(/assets/images/bg_product_highlights.png) left top repeat; }
  .product.detail {
    margin-top: 40px;
    padding-bottom: 44px; }
    .product.detail > .options {
      height: 340px; }
      .product.detail > .options > .imminent-deadline {
        margin: -55px 0 0 -55px;
        padding-top: 26px;
        font-size: 2.250em;
        background-image: url(/assets/images/sprites.png);
        background-position: -137px 0px;
        width: 110px;
        height: 110px;
        height: 84px; }
        .product.detail > .options > .imminent-deadline > span {
          font-size: 14px; }
      .product.detail > .options > .share {
        display: block; }
    .product.detail > figure > .thumb {
      height: 340px; }
    .product.detail > figure > .info {
      overflow: hidden;
      padding: 46px 39px 0 39px; }
      .product.detail > figure > .info > .sub-info {
        display: block;
        float: left;
        padding-right: 25px;
        width: 352px; }
        .product.detail > figure > .info > .sub-info .title {
          font-size: 1.500em; }
        .product.detail > figure > .info > .sub-info time {
          margin-top: 12px;
          font-size: 0.875em; }
        .product.detail > figure > .info > .sub-info .desc {
          display: block;
          margin-top: 23px; }
      .product.detail > figure > .info > .status-info {
        float: left;
        padding-bottom: 10px;
        padding-left: 38px;
        width: 664px;
        border-left: 1px solid #e2e4e8; }
        .product.detail > figure > .info > .status-info .p-i {
          overflow: hidden; }
          .product.detail > figure > .info > .status-info .p-i > p {
            margin-top: 0px;
            padding-right: 28px; }
            .product.detail > figure > .info > .status-info .p-i > p > span {
              padding-bottom: 15px;
              font-size: 0.875em; }
            .product.detail > figure > .info > .status-info .p-i > p > em {
              font-size: 38px;
              color: #252525; }
            .product.detail > figure > .info > .status-info .p-i > p.interest {
              padding-left: 29px;
              position: relative; }
              .product.detail > figure > .info > .status-info .p-i > p.interest > span {
                padding-left: 2px; }
              .product.detail > figure > .info > .status-info .p-i > p.interest > em:before {
                height: 34px;
                bottom: 4px; }
        .product.detail > figure > .info > .status-info .progress {
          margin-top: 33px;
          padding: 19px 0 0 0;
          font-size: 1.000em; }
          .product.detail > figure > .info > .status-info .progress:before {
            height: 6px; }
          .product.detail > figure > .info > .status-info .progress > .value {
            height: 6px; }
    .product.detail > .hover {
      display: block;
      overflow: hidden;
      position: absolute;
      top: 0;
      right: 0;
      bottom: auto;
      left: auto;
      z-index: 2;
      height: 92px;
      width: 51px; }
      .product.detail > .hover > button {
        display: block;
        position: absolute;
        top: 16px;
        right: 9px;
        z-index: 2;
        width: 30px;
        font-size: 12px;
        color: #c2c6d0;
        vertical-align: middle;
        line-height: 16px; }
        .product.detail > .hover > button:before {
          content: '';
          display: block;
          margin: 0 auto 8px auto;
          background-image: url(/assets/images/sprites.png);
          background-position: -276px -204px;
          width: 19px;
          height: 18px; }
      .product.detail > .hover > span {
        display: none; }
      .product.detail > .hover:before {
        content: none; }
    .product.detail > .invest-product {
      display: block;
      position: relative;
      margin-top: 45px; }
      .product.detail > .invest-product .btn-calc {
        position: absolute;
        bottom: 0;
        left: 69%; }

.product-tab {
  margin-top: 60px; }
  .product-tab table {
    table-layout: fixed;
    width: 100%;
    border-left: 1px solid #d4dae4; }
    .product-tab table > tbody > tr td {
      border-right: 1px solid #d4dae4; }
      .product-tab table > tbody > tr td a {
        display: block;
        font-size: 0.875em;
        color: #868ea2;
        text-align: center;
        text-decoration: none;
        line-height: 53px;
        border-top: 1px solid #d4dae4;
        border-bottom: 1px solid #d4dae4;
        background-color: #f8f9fb; }
        .product-tab table > tbody > tr td a:hover {
          color: #fff;
          background-color: #ff4776; }
        .product-tab table > tbody > tr td a.selected {
          color: #142c66;
          border-bottom: 1px solid #fff;
          background-color: #fff; }

.product-detail-view {
  border: 1px solid #d4dae4;
  border-top: 0px;
  background-color: #fff; }
  .product-detail-view > h1 {
    display: none; }
  .product-detail-view h2 {
    font-size: 1.125em;
    font-weight: normal;
    color: #252525; }
    .product-detail-view h2 .bar {
      display: inline-block;
      margin: -2px 9px 0 10px;
      height: 17px;
      width: 1px;
      vertical-align: middle;
      background-color: #d7dde5; }
  .product-detail-view h2 + p {
    margin-top: 16px;
    font-size: 0.750em;
    color: #8a94a3;
    line-height: 20px; }
  .product-detail-view .pd-container {
    position: relative;
    padding: 80px 69px 60px 69px; }
  .product-detail-view .product-feature {
    table-layout: fixed;
    width: 100%; }
    .product-detail-view .product-feature > tbody > tr td {
      padding: 98px 0 67px 0;
      text-align: center; }
      .product-detail-view .product-feature > tbody > tr td > span {
        display: inline-block;
        position: relative;
        height: 62px;
        font-size: 0.875em;
        color: #14378c;
        line-height: 62px; }
        .product-detail-view .product-feature > tbody > tr td > span:before {
          content: '';
          display: inline-block;
          margin-right: 10px;
          vertical-align: middle; }
        .product-detail-view .product-feature > tbody > tr td > span.feature01:before {
          background-image: url(/assets/images/sprites.png);
          background-position: -339px -254px;
          width: 37px;
          height: 36px; }
        .product-detail-view .product-feature > tbody > tr td > span.feature02:before {
          background-image: url(/assets/images/sprites.png);
          background-position: -339px -114px;
          width: 47px;
          height: 48px; }
        .product-detail-view .product-feature > tbody > tr td > span.feature03:before {
          content: attr(data-info);
          font-size: 2.500em;
          color: #14378c;
          text-align: center;
          background-image: url(/assets/images/sprites.png);
          background-position: -252px -87px;
          width: 62px;
          height: 61px; }
        .product-detail-view .product-feature > tbody > tr td > span.feature04 {
          font-size: 31px; }
          .product-detail-view .product-feature > tbody > tr td > span.feature04:before {
            background-image: url(/assets/images/sprites.png);
            background-position: -339px -167px;
            width: 36px;
            height: 40px; }
        .product-detail-view .product-feature > tbody > tr td > span.feature04:after {
          content: attr(data-info);
          display: block;
          position: absolute;
          top: -24px;
          left: -31px;
          font-size: 12px;
          color: #868ea2;
          text-align: center;
          line-height: 27px;
          background-image: url(/assets/images/sprites.png);
          background-position: 0px -276px;
          width: 93px;
          height: 32px; }
  .product-detail-view .goal {
    border-top: 1px solid #e6e9ee; }
    .product-detail-view .goal .chart {
      margin-top: 20px;
      background-color: #0f0; }
  .product-detail-view .manager {
    overflow: hidden;
    padding: 80px 69px 60px 140px;
    border-top: 1px solid #e6e9ee; }
    .product-detail-view .manager:before {
      content: '';
      display: block;
      position: absolute;
      top: 80px;
      left: 0;
      background-image: url(/assets/images/sprites.png);
      background-position: -156px -231px;
      width: 140px;
      height: 34px; }
    .product-detail-view .manager > figure {
      float: left;
      padding-right: 109px; }
      .product-detail-view .manager > figure figcaption {
        display: block;
        margin-top: 10px;
        font-size: 0.750em;
        color: #8a94a3;
        text-align: right; }
    .product-detail-view .manager > hgroup {
      display: block;
      padding-top: 40px; }
      .product-detail-view .manager > hgroup > h1 {
        font-size: 1.125em;
        font-weight: normal;
        color: #252525; }
      .product-detail-view .manager > hgroup > h2 {
        margin-top: 30px;
        font-size: 1.000em;
        font-weight: normal;
        color: #2266b9;
        line-height: 24px; }
      .product-detail-view .manager > hgroup > p {
        margin-top: 20px;
        font-size: 0.875em;
        line-height: 22px; }
  .product-detail-view .values {
    border-top: 1px solid #e6e9ee; }
    .product-detail-view .values .value-price {
      overflow: hidden;
      margin: 36px -69px 0 -69px; }
      .product-detail-view .values .value-price > p {
        display: block;
        float: left;
        padding-top: 24px;
        height: 82px;
        width: 33.33333%;
        text-align: center; }
        .product-detail-view .values .value-price > p > span {
          font-size: 0.875em; }
        .product-detail-view .values .value-price > p > em {
          display: block;
          font-size: 2.188em;
          color: #ffffff;
          line-height: 1.2em; }
        .product-detail-view .values .value-price > p.bg01 {
          color: #ffcbd8;
          background-color: #ff507d; }
        .product-detail-view .values .value-price > p.bg02 {
          color: #9aa5be;
          background-color: #14378c; }
        .product-detail-view .values .value-price > p.bg03 {
          color: #e0f5d7;
          background-color: #81c845; }
  .product-detail-view .pawn {
    padding: 0px 0px 45px 69px; }
    .product-detail-view .pawn .list-pawn {
      overflow: hidden;
      margin-top: 28px; }
      .product-detail-view .pawn .list-pawn > li {
        float: left;
        padding: 0 21px 31px 0; }
        .product-detail-view .pawn .list-pawn > li figure > img {
          display: block;
          margin: 0 auto;
          max-height: 100%;
          max-width: 234px; }
        .product-detail-view .pawn .list-pawn > li figure figcaption {
          padding-top: 24px;
          font-size: 0.875em;
          color: #868ea2;
          line-height: 22px;
          text-align: center; }
  .product-detail-view .pawn-photos {
    border-top: 1px solid #e6e9ee; }
    .product-detail-view .pawn-photos > .inner {
      margin: 0 auto;
      width: 585px; }
      .product-detail-view .pawn-photos > .inner h2 {
        float: left; }
      .product-detail-view .pawn-photos > .inner time {
        float: right;
        font-size: 0.750em;
        color: #868ea2; }
      .product-detail-view .pawn-photos > .inner .slider {
        clear: both;
        padding-top: 30px; }
        .product-detail-view .pawn-photos > .inner .slider .slick-dots {
          margin-top: 16px;
          text-align: center; }
          .product-detail-view .pawn-photos > .inner .slider .slick-dots > li {
            display: inline-block;
            padding: 0 2px; }
            .product-detail-view .pawn-photos > .inner .slider .slick-dots > li button {
              display: block;
              height: 3px;
              width: 39px;
              text-indent: -9999px;
              background-color: #bac3d0; }
            .product-detail-view .pawn-photos > .inner .slider .slick-dots > li.slick-active > button {
              background-color: #1369ec; }

.product-btns {
  position: relative;
  padding-top: 40px;
  text-align: center; }
  .product-btns .btn-top {
    position: absolute;
    top: 40px;
    right: 1px; }
